<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Recover password'|translate"></qaroni-page-title>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <ng-container *ngIf="!recoverySent; else messageSent">
        <mat-card @enterFadeIn class="bg-grey card-auth">
          <mat-card-header>
            <mat-card-title>
              {{'Recovery email'|translate}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

              <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Email'|translate}}</mat-label>
                    <input matInput formControlName="username" autocomplete="off" type="email">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(username)">
                      <qaroni-input-error-messages [fc]="username"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div *ngIf="hasReCaptcha" class="col-10 col-sm-8 col-input">
                  <qaroni-grecaptcha (captchaResponse)="onCaptchaResponse($event)"
                    (captchaExpired)="onCaptchaExpired()"></qaroni-grecaptcha>
                </div>

                <div class="col-10 col-sm-8 col-action-button">
                  <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
                    {{'Send'|translate}}
                  </button>
                </div>
              </div>

            </form>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>

<!-- <pre>{{forgotForm.getRawValue()|json}}</pre> -->

<ng-template #messageSent>
  <mat-card class="bg-grey card-auth">
    <mat-card-header>
      <mat-card-title>{{'Recovery email has been sent'|translate}}.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="text-center text-success mb-3">
        <i class="fas fa-check-circle fa-5x"></i>
      </div>

      <div class="col-go-home-button">
        <button mat-flat-button color="accent" class="button-lg" [routerLink]="['/']">
          {{'Go to home'|translate}}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
