<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'My subscriptions'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="subscriptions?.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div *ngFor="let subscription of subscriptions" class="col-12 col-lg-10 mb-5">
        <qaroni-subscription-preview [subscription]="subscription"></qaroni-subscription-preview>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content [title]="'You don\'t have subscriptions yet!'|translate"
        [subtitle]="'From here you can review and manage your subscriptions'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
