@import "compile";

a {
  text-decoration: none;
}

.mat-card {
  padding-bottom: 6px;
  height: 100%;

  .wrapper-image {
    margin: -16px -16px 16px -16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
  }

  .product-name {
    margin-bottom: 20px;
    color: $color-dark-primary-text;
    font-size: 14px;
    line-height: 15px;
    height: 30px;
    max-height: 30px;
    overflow: hidden;
    text-align: center;
  }

  .price-from {
    color: $color-secondary-text;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
  }

  .price {
    color: $secondary-color;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    .price-with-offer {
      color: $color-secondary-text;
      font-size: 14px;
      text-decoration: line-through;
    }
  }

  .chevron-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .card-label-offer {
    position: absolute;
    top: 38.5px;
    right: 0;
    color: #ffffff;
    background-color: $product-label-offer-bg-color;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 13px 0 0 13px;
    line-height: 26px;
    font-size: 15px;
  }

  .card-label {
    position: absolute;
    top: 7.5px;
    right: 0;
    color: #ffffff;
    background-color: $primary-color;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 13px 0 0 13px;
    line-height: 26px;
    font-size: 15px;

    &.label-outlet {
      background-color: $product-label-outlet-bg-color;
    }

    &.label-novelty {
      background-color: $product-label-novelty-bg-color;
    }
  }
}
