<a *ngIf="product?.productId" [routerLink]="getRouteToProductDetails">
  <mat-card class="bg-grey mat-card-actions-bottom mat-card-elevation-hover">
    <div class="wrapper-image">
      <qaroni-image-aspect-ratio [aspectRatio]="getProductCardImageAspectRatio">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
          <img [src]="getOneImageUrl" [alt]="product?.name" class="img-fluid">
        </div>
      </qaroni-image-aspect-ratio>
    </div>
    <mat-card-content>
      <div class="card-label-offer font-family-primary-bold" *ngIf="hasLabelOffer">{{getLabelOfferString}}</div>
      <div class="card-label font-family-primary-bold" [ngClass]="getLabelClass" *ngIf="hasLabel">
        {{getLabelString}}
      </div>
      <div class="product-name font-family-primary-semi-bold">{{product?.name}}</div>

      <ng-container *ngIf="getShowPrices">
        <ng-container *ngTemplateOutlet="productVariantPrice"></ng-container>
      </ng-container>

      <button mat-icon-button color="accent" [matTooltip]="'see-details'|translate" matTooltipPosition="above"
        class="chevron-right">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</a>

<ng-template #productVariantPrice>
  <div class="price-from font-family-secondary" *ngIf="getProductCardShowPriceFrom">
    {{'From'|translate}}:
  </div>
  <div class="price font-family-primary-bold">
    <ng-container *ngIf="hasVariantOffer; else notOffer">
      {{product?.variant?.offer|integerToCurrency}} €
      <span class="price-with-offer">{{product?.variant?.price|integerToCurrency}} €</span>
    </ng-container>
    <ng-template #notOffer>
      {{product?.variant?.price|integerToCurrency}} €
    </ng-template>
  </div>
</ng-template>
