@import "compile";

.group-name {
  margin-bottom: 8px;
  max-height: 52px;
  overflow-y: hidden;
}

.group-description {
  color: $color-dark-secondary-text;
  margin-bottom: 12px;
  max-height: 63px;
  overflow-y: hidden;
}

.inscription-status {
  font-size: 20px;
  line-height: 26px;
}

.group-reason {
  white-space: pre-line;
}
