<mat-card class="bg-grey card-style-one" *ngIf="inscription">
  <mat-card-content>
    <div class="row">
      <div class="col">
        <div class="group-name title-style-name-group" [innerHTML]="inscription?.group?.name"></div>
        <div class="group-description" [innerHTML]="inscription?.group?.description"></div>
      </div>
      <div class="col-auto">
        <div class="alert" [ngClass]="alertStatusClass" role="alert">
          <div class="alert-heading">{{'Status'|translate}}</div>
          <div class="alert-link inscription-status font-family-primary-bold">
            {{inscription?.status|groupInscriptionMemberStatus|translate}}
          </div>
          <div class="mat-small" *ngIf="isAdmitted && hasProductVariantIDs">
            {{'Outstanding'|translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <qaroni-info-label-value [label]="'Type'|translate" [value]="inscription?.type|groupInscriptionType|translate">
        </qaroni-info-label-value>
      </div>
      <div class="col-auto" *ngIf="inscription?.group?.months">
        <qaroni-info-label-value [label]="'Valid by'|translate"
          [value]="inscription?.group?.months + ' ' + (timeUnitString(inscription?.group?.months)|translate|lowercase)">
        </qaroni-info-label-value>
      </div>
      <div class="col-auto" *ngIf="inscription?.group?.isPaid">
        <qaroni-info-label-value [label]="'Is paid'|translate"
          [value]="booleanToYesOrNo(inscription?.group?.isPaid)|translate">
        </qaroni-info-label-value>
      </div>
      <div class="col-auto">
        <qaroni-info-label-value [label]="'Has approval?'|translate"
          [value]="booleanToYesOrNo(inscription?.group?.hasApproval)|translate">
        </qaroni-info-label-value>
      </div>
    </div>

    <mat-divider inset class="divider-sections"></mat-divider>

    <div class="row">
      <div class="col-auto">
        <qaroni-info-label-value [label]="('Contact person'|translate) + ':'"
          [value]="inscription?.user?.firstName + ' ' + inscription?.user?.lastName">
        </qaroni-info-label-value>
      </div>
      <div class="col-auto">
        <qaroni-info-label-value [label]="inscription?.user?.documentType" [value]="inscription?.user?.document">
        </qaroni-info-label-value>
      </div>
      <div class="col-auto">
        <qaroni-info-label-value [label]="inscription?.user?.email" [value]="inscription?.user?.phone">
        </qaroni-info-label-value>
      </div>
    </div>

    <mat-divider inset class="divider-sections"></mat-divider>

    <div class="row" *ngIf="hasReason">
      <div class="col-12">
        <div class="alert alert-danger" role="alert">
          <p class="alert-heading">{{'Information'|translate}}:</p>
          <p class="group-reason" [innerHTML]="inscription?.reason|sanitizeHtml"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="isAdmitted && hasProductVariantIDs">
        <div class="col-auto">
          <button mat-flat-button color="accent" class="button-lg m-1" (click)="onPayInscription()">
            {{'Pay'|translate}}
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="hasFiles && canManageFile">
        <div class="col-auto">
          <button mat-flat-button color="accent" class="button-lg m-1"
            [routerLink]="['/associations', 'my-enrollment-requests', inscription?.inscriptionId, 'complete', 'companies']">
            {{'Manage files'|translate}}
          </button>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
