<ng-container *ngIf="href; else aRouterLink">
  <a [href]="href">
    <ng-container *ngTemplateOutlet="accountItem"></ng-container>
  </a>
</ng-container>

<ng-template #aRouterLink>
  <a [routerLink]="link">
    <ng-container *ngTemplateOutlet="accountItem"></ng-container>
  </a>
</ng-template>

<ng-template #accountItem>
  <mat-card class="bg-grey mat-card-actions-bottom mat-card-elevation-hover">
    <mat-card-content>
      <div class="row align-items-center row-content-icon-title">
        <div class="col-auto col-container-icon">
          <div class="container-icon d-flex justify-content-center align-items-center">
            <ng-container *ngIf="matIcon; else askFaIcon">
              <mat-icon>{{matIcon}}</mat-icon>
            </ng-container>
            <ng-template #askFaIcon>
              <ng-container *ngIf="faIcon">
                <i [class]="faIcon"></i>
              </ng-container>
            </ng-template>
          </div>
        </div>
        <div class="col">
          <div class="title font-family-primary-bold">{{title}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="description font-family-primary-light">{{description}}</div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col-12 col-go-to">
          <a class="font-weight-medium">
            {{actionVerb || ('manage'|translate)}}
            <mat-icon class="va-middle">chevron_right</mat-icon>
          </a>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</ng-template>
