@import "compile";
@import "src/assets/scss/mixins/links";

a {
  @include link-tertiary-to-secondary-bold;
}

.mat-card {
  height: 100%;
  padding-left: 22px;
  padding-right: 22px;

  .mat-card-content {
    margin-bottom: 0;

    .row-content-icon-title {
      margin-bottom: 35px;

      .col-container-icon {
        height: 45px;

        .container-icon {
          padding: 0;
          width: 45px;
          height: 45px;
          background-color: $secondary-color;
          color: #ffffff;
          border-radius: 22.5px;
        }
      }

      .title {
        color: $color-dark-primary-text;
        font-size: 14px;
        line-height: 15px;
      }
    }

    .description {
      margin-bottom: 25px;
      color: $color-dark-primary-text;
      font-size: 15px;
      line-height: 21px;
    }
  }

  .mat-card-actions {
    margin: 0;
    padding: 0;

    .col-go-to {
      font-size: 13px;
      line-height: 18px;
    }
  }
}
