<ng-container *ngIf="getEventImage">
  <div class="mb-2">
    <qaroni-image-aspect-ratio [src]="getEventImage" aspectRatio="16:9"></qaroni-image-aspect-ratio>
  </div>
</ng-container>
<div class="mat-small">{{'Start at'|translate}} {{event?.startDate|date:'medium'}}</div>
<div class="mat-small font-weight-bold text-right">{{event?.type|eventType}}</div>
<div class="mat-headline title font-family-primary">{{event?.title}}</div>
<div class="description font-family-secondary" [innerHTML]="event?.largeDescription|sanitizeHtml"></div>
<a class="mat-small read-more" [routerLink]="['/events', event?.eventId, getUrlTitle]">
  <i class="fas fa-calendar-day fa-lg mr-1"></i>{{'See event'|translate}}
</a>
