$qaroni-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px,
  3xl: 1680px,
);

$qaroni-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  2xl: 1380px,
  3xl: 1620px,
);

.qaroni-container {
  @include make-container();

  // @include make-container-max-widths(
  //   $qaroni-container-max-widths,
  //   $qaroni-grid-breakpoints
  // );

  @include media-breakpoint-up(lg) {
    @include make-container-max-widths($qaroni-container-max-widths, $qaroni-grid-breakpoints);
  }

  @if $enable-grid-classes {
    @include make-grid-columns(
      $grid-columns,
      $grid-gutter-width,
      $qaroni-grid-breakpoints
    );
  }
}
