<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="title|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="categories; else cardLoadingContent">
    <div class="row">
      <div *ngFor="let category of categories" class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 mb-3">
        <qaroni-list-group-category-item @enterFadeIn [category]="category"></qaroni-list-group-category-item>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
