<ng-container *ngIf="group">
  <mat-card class="bg-grey card-style-one">
    <mat-card-header>
      <mat-card-title [innerHTML]="group?.name"></mat-card-title>
      <mat-card-subtitle [innerHTML]="group?.description"></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="hasImage">
        <div class="mb-4">
          <img [src]="group?.imageUrl" [alt]="'image: ' + group?.name" class="img-fluid">
        </div>
      </ng-container>
      <div class="row">
        <div class="col-auto" *ngIf="group?.months">
          <qaroni-info-label-value [label]="'Valid by'|translate"
            [value]="group?.months + ' ' + (timeUnitString(group?.months)|translate|lowercase)">
          </qaroni-info-label-value>
        </div>
        <div class="col-auto" *ngIf="group?.isPaid">
          <qaroni-info-label-value [label]="'Is paid'|translate" [value]="booleanToYesOrNo(group?.isPaid)|translate">
          </qaroni-info-label-value>
        </div>
        <div class="col-auto">
          <qaroni-info-label-value [label]="'Has approval?'|translate"
            [value]="booleanToYesOrNo(group?.hasApproval)|translate">
          </qaroni-info-label-value>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <pre>{{group|json}}</pre> -->
</ng-container>
