<div class="mat-h2 my-5 text-center font-weight-light" *ngIf="paginator?.length === 0">
  {{'No information to display'|translate}}
</div>

<div class="table-responsive" [ngClass]="{ 'd-none': paginator?.length === 0 }">
  <table mat-table class="full-width-table" aria-label="Member inscriptions">
    <!-- CreationDate Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef>{{'Date'|translate}}</th>
      <td mat-cell *matCellDef="let row">
        <div>{{row.creationDate|date:'mediumDate'}}</div>
        <div>{{row.creationDate|date:'mediumTime'}}</div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{'Name'|translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.user?.firstName}} {{row.user?.lastName}}</td>
    </ng-container>

    <!-- Document Column -->
    <ng-container matColumnDef="document">
      <th mat-header-cell *matHeaderCellDef>{{'Document'|translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.user?.documentType}} {{row.user?.document}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{'Email'|translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.user?.email}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>{{'Phone'|translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.user?.phone}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{'Type'|translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.type|groupInscriptionType|translate}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{'Status'|translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.status|groupInscriptionMemberStatus|translate}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div [ngClass]="{ 'd-none': (paginator?.length === 0) || !showPaginator }">
  <mat-paginator #paginator [pageIndex]="0" [pageSizeOptions]="[25, 50, 100, 250]"></mat-paginator>
</div>
