<mat-card class="bg-grey card-order-resume mb-3 mb-lg-0">
  <mat-card-header>
    <mat-card-title>{{'Order'|translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="row row-order-details">
      <div *ngIf="order?.status" class="col-auto">
        <qaroni-info-label-value [label]="'Estado'|translate" [value]="order?.status|orderStatus|translate">
        </qaroni-info-label-value>
      </div>
      <div *ngIf="order?.type" class="col-auto">
        <qaroni-info-label-value [label]="'Tipo de pedido'|translate" [value]="order?.type|orderType">
        </qaroni-info-label-value>
      </div>
      <div class="col-auto">
        <qaroni-info-label-value [label]="'total-products'|translate" [value]="OrderUtils.totalItems(order)">
        </qaroni-info-label-value>
      </div>
    </div>

    <mat-divider inset class="divider-sections"></mat-divider>

    <div class="row justify-content-between row-amounts-info font-family-primary-bold">
      <div class="col-auto">
        {{'subtotal'|translate}}
        <ng-container *ngIf="OrderUtils.totalItems(order) === 1; else manyProducts">
          (1 {{'product'|translate|lowercase}})
        </ng-container>
        <ng-template #manyProducts>
          ({{OrderUtils.totalItems(order)}} {{'products'|translate|lowercase}})
        </ng-template>
      </div>
      <div class="col-auto">
        {{order?.amount - order?.deliveryAmount|integerToCurrency}} €
      </div>
    </div>
    <div class="row justify-content-between row-amounts-info font-family-primary-bold row-shipping-costs">
      <ng-container *ngIf="showShippingCost">
        <div class="col-auto">
          {{'shipping-costs'|translate}}
        </div>
        <div class="col-auto">
          {{order?.deliveryAmount|integerToCurrency}} €
        </div>
      </ng-container>
    </div>
    <div class="row justify-content-between row-total-info font-family-primary-bold">
      <div class="col-auto">{{'total'|translate}}</div>
      <div class="col-auto">
        <div class="text-accent">{{order?.amount|integerToCurrency}} €</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
