@import "compile";

.mat-card.card-order-resume {
  padding: 40px 20px 33px 20px;

  .row-amounts-info {
    margin-bottom: 5px;
    color: $color-dark-primary-text;
    font-size: 15px;
    line-height: 21px;
  }

  .row-amounts-info.row-shipping-costs {
    min-height: 21px;
  }

  .row-total-info {
    margin-top: 15px;
    margin-bottom: 42px;
    color: $color-primary-text;
    font-size: 32px;
    line-height: 46px;
  }

  .mat-card-actions {
    margin: 0;
  }
}
