<footer>
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-12">
        <qaroni-footer-style-one-first></qaroni-footer-style-one-first>
      </div>
      <div class="col-12">
        <qaroni-footer-style-one-bottom></qaroni-footer-style-one-bottom>
      </div>
    </div>
  </div>
</footer>
