// ==========================================================================================
// Colors
// ==========================================================================================
$primary-color: #262528;
$secondary-color: #e83630;
$tertiary-color: #e60c78;

$color-dark-primary-text: #313131;
$color-dark-secondary-text: rgba(black, 0.54);
$color-primary-text: #4a4a4a;
$color-secondary-text: #9b9b9b;
$bg-cards: #fafafa;
$border-cards: #e9e9e9;

//Products Card Label
$product-label-offer-bg-color: #e53935;
$product-label-outlet-bg-color: #2196f3;
$product-label-novelty-bg-color: #fb8c00;

//Header
$bg-header: #ffffff;
$color-items-header: $color-dark-primary-text;

//Footer
$bg-footer-first: #fafafa;
$color-title-footer-first: $color-primary-text;
$color-item-footer-first: $color-dark-primary-text;
$bg-footer-content: #f6f6f6;
$color-footer-content: $color-dark-primary-text;

// ==========================================================================================
// Brands
// ==========================================================================================
$brand-logo-wrapper-width: 10rem;
$brand-logo-img-max-height: 5rem;

//Slides
$slides-height: 670px;
$slides-mask-background: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(216, 216, 216, 0) 100%
);

// ==========================================================================================
// Grid breakpoints
// ==========================================================================================

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// ==========================================================================================
// Header sizes
// ==========================================================================================
$header-big: 64px;
$header-small: 56px;
$header-image-max-width: 200px;

// ==========================================================================================
// Compact breakpoint
// ==========================================================================================
$compact-bp: 1200;

// ==========================================================================================
// Font Families
// ==========================================================================================
$font-family-primary: "Ubuntu", sans-serif;
$font-family-secondary: "Ubuntu", sans-serif;
$font-family-material: "Roboto", sans-serif;
