<div class="row justify-content-center align-items-center row-loading">
  <div class="col-12 col-sm-6 col-loading-image">
    <img [src]="ImagesInfo?.logos?.logo?.source" [alt]="ImagesInfo?.logos?.logo?.alt" class="img-fluid loading-image">
  </div>
  <div class="col-12 col-sm-6 col-spinner">
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
