@import "compile";
@import "src/assets/scss/mixins/breakpoints";

.row-loading {
  padding-top: 50px;
  padding-bottom: 100px;

  @include sm {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.col-loading-image {
  text-align: center;
  margin-bottom: 50px;

  @include sm {
    margin-bottom: unset;
  }

  @include lg {
    text-align: end;
  }
}

.loading-image {
  width: 250px;

  @include lg {
    margin-right: 50px;
  }

  @include xl {
    margin-right: 100px;
  }
}

.col-spinner {
  text-align: center;
  margin-bottom: 15px;

  @include sm {
    margin-bottom: unset;
  }

  @include lg {
    text-align: start;
  }
}

.container-spinner {
  display: inline-block;

  @include lg {
    margin-left: 50px;
  }

  @include xl {
    margin-left: 100px;
  }
}
