<ng-container *ngIf="shipping">
  <div class="d-flex flex-row align-items-center">
    <div class="container-logo" *ngIf="hasLogoUrl">
      <div class="wrapper-shipping-logo">
        <img [src]="shipping?.logoUrl" [alt]="shipping?.name" class="img-fluid">
      </div>
    </div>
    <div class="container-texts" [class.pl-0]="!hasLogoUrl">
      <div class="shipping-name" [class.mb-0]="!hasDescription">
        {{shipping?.name}}
      </div>
      <div class="shipping-description" *ngIf="hasDescription">
        {{shipping?.description}}
      </div>
    </div>
  </div>
</ng-container>
