.wrapper-shipping-logo {
  width: 50px;
  text-align: center;
  overflow: hidden;

  img.img-fluid {
    max-height: 50px;
  }
}

.container-texts {
  padding-left: 8px;

  .shipping-name {
    font-size: 16px;
    line-height: 20px;
    min-height: 20px;
    margin-bottom: 4px;
  }

  .shipping-description {
    font-size: 12px;
    line-height: 15px;
    height: 15px;
    max-height: 15px;
  }
}
