<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Log in'|translate"></qaroni-page-title>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <mat-card @enterFadeIn class="bg-grey card-auth">
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="row justify-content-center">
              <div class="col-10 col-sm-8 col-input">
                <mat-form-field appearance="outline">
                  <mat-label>{{'Email'|translate}}</mat-label>
                  <input matInput formControlName="username" autocomplete="off" type="email">
                  <mat-error align="start" *ngIf="InputValidation.checkInputErrors(username)">
                    <qaroni-input-error-messages [fc]="username"></qaroni-input-error-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-10 col-sm-8 col-input">
                <mat-form-field appearance="outline">
                  <mat-label>{{'Password'|translate}}</mat-label>
                  <input matInput formControlName="password" autocomplete="off" type="password">
                  <mat-error align="start" *ngIf="InputValidation.checkInputErrors(password)">
                    <qaroni-input-error-messages [fc]="password"></qaroni-input-error-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-10 col-sm-8 col-forgot-password">
                <a [routerLink]="['../forgot']" routerLinkActive="router-link-active"
                  class="font-family-primary-medium">
                  {{'Forgot your password?'|translate}}
                </a>
              </div>

              <div class="col-10 col-sm-8 col-action-button">
                <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
                  {{'Log in'|translate}}
                </button>
              </div>

              <div class="col-12 col-bottom-text-links">
                {{'You still do not have an account?'|translate}}
                <a [routerLink]="['../sign-up']" routerLinkActive="mat-accent" class="d-inline-block">
                  {{'Register'|translate}}
                </a>
              </div>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- {{loginForm.getRawValue()|json}} -->
