.mat-flat-button,
.mat-flat-button.button-lg,
.mat-stroked-button,
.mat-icon-button,
.mat-raised-button {
  outline: none;
}

.mat-icon-button.big-mat-icon-button {
  width: 60px;
  height: 60px;
  line-height: 60px;

  .mat-icon {
    font-size: 35px;
    line-height: 35px;
    height: 35px;
    width: 35px;
  }
}

.mat-flat-button.button-lg {
  max-width: 100%;
  padding: 10px 60px;
  font-size: 15px;
  line-height: 22px;
  @include font-family-primary;
  @include font-weight-bold;
  @include limit-large-text;

  .mat-icon {
    margin-right: 5px;
  }

  i[class*="fa"][class*="fa-"] {
    margin-right: 4px;
    font-size: 22px;
    line-height: 24px;
  }
}

.mat-flat-button.w-100.checkout-button {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 15px;
  line-height: 22px;
  @include font-family-primary;
  @include font-weight-bold;

  i[class*="fa"][class*="fa-"] {
    margin-right: 4px;
  }
}

a.button-lg {
  text-decoration: none;
}

.mat-fab.flat,
.mat-mini-fab.flat {
  @include mat-elevation(0);
}

// ==========================================================================================
// Colors
// ==========================================================================================

// ==========================================================================================
// mat-facebook
// ==========================================================================================
@include build-mat-color-button(mat-facebook, #3b5998, #ffffff);

// ==========================================================================================
// mat-twitter
// ==========================================================================================
@include build-mat-color-button(mat-twitter, #00acee, #ffffff);

// ==========================================================================================
// mat-whatsapp
// ==========================================================================================
@include build-mat-color-button(mat-whatsapp, #4fce5d, #ffffff);

// ==========================================================================================
// mat-linkedin
// ==========================================================================================
@include build-mat-color-button(mat-linkedin, #0e76a8, #ffffff);

// ==========================================================================================
// mat-youtube
// ==========================================================================================
@include build-mat-color-button(mat-youtube, #ff0000, #ffffff);

// ==========================================================================================
// mat-paypal
// ==========================================================================================
@include build-mat-color-button(mat-paypal, #00457c, #ffffff);

// ==========================================================================================
// mat-cofidis
// ==========================================================================================
@include build-mat-color-button(mat-cofidis, #f7a600, #d0103a);

// ==========================================================================================
// mat-stripe
// ==========================================================================================
@include build-mat-color-button(mat-stripe, #5469d4, #ffffff);

// ==========================================================================================
// mat-aplazame
// ==========================================================================================
@include build-mat-color-button(mat-aplazame, #267bbd, #ffffff);

// ==========================================================================================
// mat-vimeo
// ==========================================================================================
@include build-mat-color-button(mat-vimeo, #86c9ef, #ffffff);

// ==========================================================================================
// mat-flickr
// ==========================================================================================
@include build-mat-color-button(mat-flickr, #212124, #ffffff);

// ==========================================================================================
// mat-telegram
// ==========================================================================================
@include build-mat-color-button(mat-telegram, #54a9eb, #ffffff);
