.mat-card {
  @include mat-elevation(0);
}

.mat-card.mat-card-elevation-hover {
  @include mat-elevation-transition;
  @include mat-elevation(0);

  &:hover,
  &:active {
    @include mat-elevation(1);
  }
}

.mat-card {
  border: 1px solid $border-cards;
  border-radius: 5px;

  .mat-card-header {
    margin-bottom: 26px;

    .mat-card-title {
      color: $color-primary-text;
      font-size: 28px;
      line-height: 40px;
      text-transform: uppercase;
      @include font-family-primary;
      @include font-weight-light;
    }
  }

  .mat-divider.divider-sections {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.mat-card.bg-grey {
  @include mat-elevation(0);
  background-color: $bg-cards;
}

.mat-card.mat-card-actions-bottom {
  display: flex;
  flex-direction: column;

  .mat-card-header {
    flex-shrink: 0;
  }

  .mat-card-content {
    flex-grow: 1;
    overflow: hidden;
  }
}

.mat-card.card-style-one {
  @include mat-elevation(0);
  padding: 40px 30px 48px 30px;

  a {
    text-decoration: none;

    &:not(.mat-flat-button) {
      @include link-tertiary-to-secondary-bold;
    }
  }

  .mat-card-actions {
    a {
      font-size: 13px;
      line-height: 15px;
    }
  }
}

.mat-card.card-style-preview {
  @include mat-elevation(0);
  padding: 40px 30px 48px 30px;

  .preview-image {
    width: 150px;
    max-width: 100%;
    height: auto;
  }

  .row-container-buttons {
    margin-top: 30px;
  }

  .add-to-wallet-image {
    height: 44px;
    width: auto;
  }
}

.mat-card.card-auth {
  @include mat-elevation(0);
  padding-top: 45px;

  a {
    @include link-tertiary-to-secondary-bold;
  }

  .col-input {
    margin-bottom: 13px;
  }

  .col-action-button {
    text-align: center;
    margin-bottom: 30px;
  }

  .col-bottom-text-links {
    color: $color-dark-primary-text;
    font-size: 20px;
    text-align: center;
    @include font-family-primary;
    @include font-weight-light;
  }

  .container-icon {
    text-align: center;
    margin-bottom: 30px;
  }

  .container-title-inside {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 40px;
    color: $color-primary-text;
    text-transform: uppercase;
    @include font-family-primary;
    @include font-weight-light;
  }

  .container-subtitle-inside {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 40px;
    color: $color-dark-primary-text;
    @include font-family-primary;
    @include font-weight-medium;
  }
}
