.style-confirm-dialog {
  position: relative !important;

  .mat-dialog-container {
    padding: 35px 45px 50px 45px;
    border-radius: 2px;

    .close-icon.mat-button {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      line-height: 14px;
      min-width: auto;
      color: $color-primary-text;
    }

    .mat-dialog-title {
      margin-bottom: 30px;
      color: $color-primary-text;
      font-size: 18px;
      line-height: 26px;
      @include font-family-primary;
      @include font-weight-bold;
    }

    .mat-dialog-actions {
      padding-bottom: 0;
      margin-bottom: 0;

      .cancel-link {
        display: inline-block;
        font-size: 13px;
        line-height: 19px;
        @include link-tertiary-to-secondary-bold;
      }
    }
  }
}
