.filters-title {
  margin-top: 16px;
  margin-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  text-transform: uppercase;
  @include font-family-secondary;
  @include font-weight-bold;
  @include limit-large-text;
}

.mat-list-item.list-item-category {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

.filter-text-link {
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  @include link-tertiary-to-secondary-bold;

  i {
    vertical-align: middle;
  }
}

.filters-wrapper-selection-list {
  max-height: 296px;
  overflow-y: hidden;
}
