$mat-icon-vertical-align: ("middle", "sub", "super", "text-bottom", "text-top");

$mat-icon-sizes: (
  8: 8px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
);

.mat-icon {
  @each $vertical-align in $mat-icon-vertical-align {
    &.va-#{$vertical-align} {
      vertical-align: #{$vertical-align} !important;
    }
  }

  @each $size, $pixels in $mat-icon-sizes {
    &.mat-icon-#{$size} {
      height: #{$pixels};
      width: #{$pixels};

      &.material-icons {
        font-size: #{$pixels};
      }
    }
  }
}

i[class*="fa"][class*="fa-"] {
  @each $vertical-align in $mat-icon-vertical-align {
    &.va-#{$vertical-align} {
      vertical-align: #{$vertical-align} !important;
    }
  }

  @each $size, $pixels in $mat-icon-sizes {
    &.fa-#{$size} {
      font-size: #{$pixels};
    }
  }
}
