.link-tertiary-to-secondary {
  @include link-tertiary-to-secondary;
}

.link-tertiary-to-secondary-bold {
  @include link-tertiary-to-secondary-bold;
}

.link-inherit-to-secondary {
  @include link-inherit-to-secondary;
}

.link-wrapper-card {
  @include link-wrapper-card;
}
