.mat-menu-item {
  outline: none;
}

a.mat-menu-item {
  color: $color-dark-primary-text;

  &:hover {
    text-decoration: none;
  }
}

.mat-menu-item.active-menu-item {
  font-weight: 500;
  color: $secondary-color !important;
  background: rgba(0, 0, 0, 0.04);

  .mat-icon {
    color: $secondary-color !important;
  }
}
