.snack-margin-top {
  margin-top: calc(#{$header-small});

  @include lg {
    margin-top: calc(#{$header-big});
  }
}

.style-snackbars.mat-snack-bar-container {
  position: relative !important;
  padding: 45px 32px;
  background-color: #ffffff;
  color: $color-primary-text;
  max-width: 50vw;
  min-width: 500px;
  font-size: 15px;
  line-height: 21px;
  @include font-family-primary;
  @include font-weight-regular;
}

.mat-snack-bar-container {
  &.primary-snackbar {
    padding-top: 51px;
    border-bottom: 6px solid #2196f3;
  }

  &.success-snackbar {
    padding-top: 51px;
    border-bottom: 6px solid #4caf50;
  }

  &.warning-snackbar {
    border-top: 6px solid #ff9800;
    border-bottom: 6px solid #ff9800;
  }

  &.danger-snackbar {
    border: 6px solid #f44336;
  }
}
