// table.mat-table {
//   th.mat-header-cell:first-of-type,
//   td.mat-cell:first-of-type,
//   td.mat-footer-cell:first-of-type {
//     padding-right: 4px;
//   }
//   th.mat-header-cell,
//   td.mat-cell,
//   td.mat-footer-cell {
//     padding-left: 4px;
//     padding-right: 4px;
//   }
//   th.mat-header-cell:last-of-type,
//   td.mat-cell:last-of-type,
//   td.mat-footer-cell:last-of-type {
//     padding-left: 4px;
//   }
// }

table.mat-table.full-width-table {
  width: 100%;
}

table.mat-table.bg-grey {
  background-color: $bg-cards;
}

// mat-paginator.mat-paginator {
//   background-color: $bg-cards;
// }
