$font-styles: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);

@each $style, $weight in $font-styles {
  .font-weight-#{$style} {
    font-weight: $weight !important;
  }
}

.font-family-primary {
  @include font-family-primary;
}

@each $style, $weight in $font-styles {
  .font-family-primary-#{$style} {
    @extend .font-family-primary;
    font-weight: $weight !important;
  }
}

.font-family-secondary {
  @include font-family-secondary;
}

@each $style, $weight in $font-styles {
  .font-family-secondary-#{$style} {
    @extend .font-family-secondary;
    font-weight: $weight !important;
  }
}

.font-family-material {
  @include font-family-material;
}

@each $style, $weight in $font-styles {
  .font-family-material-#{$style} {
    @extend .font-family-material;
    font-weight: $weight !important;
  }
}

// ==========================================================================================
// Styles titles, descriptions, paragraphs, etc
// ==========================================================================================

.title-inside-card-content {
  color: $color-primary-text;
  font-size: 18px;
  line-height: 26px;
  height: 52px;
  max-height: 52px;
  overflow: hidden;
  @extend .font-family-primary-bold;
}

.description-inside-card-content {
  margin-bottom: 10px;
  color: $color-secondary-text;
  font-size: 12px;
  line-height: 16px;
  height: 32px;
  max-height: 32px;
  overflow: hidden;
  @extend .font-family-primary-light;
}

.col-title-links {
  .title-link {
    font-size: 13px;
    line-height: 18px;
    @include link-tertiary-to-secondary-bold;
  }

  .title-link:not(:last-child) {
    margin-right: 20px;
  }
}

.title-style-name-group {
  font-size: 20px;
  line-height: 1.3;
  color: $secondary-color;
  @extend .font-family-primary-semi-bold;
}
