<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'My tickets'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="tickets?.length; else cardEmptyContent">
    <div class="row">
      <div *ngFor="let ticket of tickets" class="col-12 col-sm-6 col-lg-4 mb-5">
        <qaroni-ticket-preview [ticket]="ticket"></qaroni-ticket-preview>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content [title]="'You don\'t have tickets yet!'|translate"
        [subtitle]="'Here you will find the tickets to the events'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
