<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Complete files'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="(inscription$|async) as inscription; else cardLoadingContent">
    <div class="row">
      <ng-container *ngFor="let file of inscription?.files">
        <div class="col-4">
          <qaroni-upload-view-file @enterFadeIn [file]="file" [submitting]="submitting"
            (fileChanged)="onFileChanged($event, file)">
          </qaroni-upload-view-file>
        </div>
      </ng-container>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
