<ng-container *ngIf="category">
  <a [routerLink]="['/associations', 'groups-categories', category?.categoryId]" class="link-wrapper-card">
    <mat-card class="bg-grey card-style-one mat-card-elevation-hover h-100">
      <mat-card-content>
        <ng-container *ngIf="hasImage">
          <div class="mb-4">
            <img [src]="category?.imageUrl" [alt]="'image: ' + category?.name" class="img-fluid">
          </div>
        </ng-container>

        <div class="mb-3">
          <a [routerLink]="['/associations', 'groups-categories', category?.categoryId]" class="link-category-name">
            {{category?.name}}
          </a>
        </div>
        <div class="description mb-4" [innerHTML]="category?.description"></div>

        <!-- <pre>{{category|json}}</pre> -->
        <button mat-mini-fab color="accent" [matTooltip]="'See details'|translate" matTooltipPosition="above"
          class="button-fab flat">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </a>
</ng-container>
