@import "compile";

.link-category-name {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400 !important;
}

.description {
  color: $color-dark-secondary-text;
  max-height: 63px;
  overflow: hidden;
}

.button-fab {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
