<div class="container-fluid bg-footer-content font-family-primary">
  <!-- social networks -->
  <div class="row">
    <div class="my-2 mx-auto">
      <ng-container *ngFor="let link of keysUrlsEnvironment">
        <ng-container [ngSwitch]="link">

          <ng-container *ngSwitchCase="'facebook'">
            <a mat-mini-fab color="facebook" *ngIf="UrlsInfo?.facebook" [href]="UrlsInfo?.facebook"
              class="m-1 flat network_icon" target="_blank" matTooltip="Facebook" [matTooltipPosition]="'above'">
              <i class="fab fa-facebook-f fa-lg"></i>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'flickr'">
            <a mat-mini-fab color="flickr" *ngIf="UrlsInfo?.flickr" [href]="UrlsInfo?.flickr" class="m-1 flat network_icon"
              target="_blank" matTooltip="Flickr" [matTooltipPosition]="'above'">
              <i class="fab fa-flickr fa-lg"></i>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'instagram'">
            <a mat-mini-fab color="bg-instagram" *ngIf="UrlsInfo?.instagram" [href]="UrlsInfo?.instagram"
              class="m-1 flat network_icon" target="_blank" matTooltip="Instagram" [matTooltipPosition]="'above'">
              <i class="fab fa-instagram fa-lg"></i>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'linkedin'">
            <a mat-mini-fab color="linkedin" *ngIf="UrlsInfo?.linkedin" [href]="UrlsInfo?.linkedin"
              class="m-1 flat network_icon" target="_blank" matTooltip="Linkedin" [matTooltipPosition]="'above'">
              <i class="fab fa-linkedin fa-lg"></i>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'twitter'">
            <a mat-mini-fab color="twitter" *ngIf="UrlsInfo?.twitter" [href]="UrlsInfo?.twitter" class="m-1 flat network_icon"
              target="_blank" matTooltip="Twitter" [matTooltipPosition]="'above'">
              <i class="fab fa-twitter fa-lg"></i>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'vimeo'">
            <a mat-mini-fab color="vimeo" *ngIf="UrlsInfo?.vimeo" [href]="UrlsInfo?.vimeo" class="m-1 flat network_icon"
              target="_blank" matTooltip="Vimeo" [matTooltipPosition]="'above'">
              <i class="fab fa-vimeo-v fa-lg"></i>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'whatsapp'">
            <a mat-mini-fab color="whatsapp" *ngIf="UrlsInfo?.whatsapp" [href]="UrlsInfo?.whatsapp"
              class="m-1 flat network_icon" target="_blank" matTooltip="WhatsApp" [matTooltipPosition]="'above'">
              <i class="fab fa-whatsapp fa-lg"></i>
            </a>
          </ng-container>

          <ng-container *ngSwitchCase="'youtube'">
            <a mat-mini-fab color="youtube" *ngIf="UrlsInfo?.youtube" [href]="UrlsInfo?.youtube" class="m-1 flat network_icon"
              target="_blank" matTooltip="YouTube" [matTooltipPosition]="'above'">
              <i class="fab fa-youtube fa-lg"></i>
            </a>
          </ng-container>

        </ng-container>
      </ng-container>
    </div>
  </div>
  <!-- social networks -->


  <!-- credits -->
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-auto text-center">
            <a [href]="UrlsInfo?.website">{{AppEnv.title}}</a>
            <i class="far fa-copyright ml-1"></i> {{year}}.
            <span class="text-accent d-inline-block">{{'All rights reserved'|translate}}.</span>
          </div>
          <div class="w-100"></div>
          <div class="col-auto text-center py-2 py-md-0" *ngIf="UrlsInfo?.footerCredits">
            <a [href]="UrlsInfo?.footerCredits" target="_blank">{{'Credits'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- credits -->
</div>
