<ng-container *ngIf="(boxes$|async) as boxes; else cardLoadingContent">
  <ng-container [ngSwitch]="LandingEnv.boxes">
    <qaroni-element-boxes-section-one [boxes]="boxes" *ngSwitchCase="AppLandingPageBoxesEnum.ONE">
    </qaroni-element-boxes-section-one>
  </ng-container>
</ng-container>

<ng-template #cardLoadingContent>
  <div class="container">
    <qaroni-card-loading-content></qaroni-card-loading-content>
  </div>
</ng-template>
