<form [formGroup]="userDataForm">

  <div class="row">
    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'firstname'|translate}}</mat-label>
        <input matInput formControlName="firstName" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(firstName)">
          <qaroni-input-error-messages [fc]="firstName"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'lastname'|translate}}</mat-label>
        <input matInput formControlName="lastName" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(lastName)">
          <qaroni-input-error-messages [fc]="lastName"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'document-type'|translate}}</mat-label>
        <mat-select formControlName="documentType">
          <mat-option *ngFor="let documentType of UserDataUtils.getDocumentTypeArray()" [value]="documentType">
            {{documentType|documentType}}
          </mat-option>
        </mat-select>
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(documentType)">
          <qaroni-input-error-messages [fc]="documentType"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'document-number'|translate}}</mat-label>
        <input matInput formControlName="document" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(document)">
          <qaroni-input-error-messages [fc]="document"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'birthdate'|translate}}</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="birthdayPicker" (focus)="birthdayPicker.open()"
          (click)="birthdayPicker.open()" (keypress)="birthdayPicker.open()" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
        <mat-datepicker #birthdayPicker></mat-datepicker>
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(birthday)">
          <qaroni-input-error-messages [fc]="birthday"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'gender'|translate}}</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of UserDataUtils.getGenderArray()" [value]="gender">
            {{gender|gender|translate}}
          </mat-option>
        </mat-select>
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(gender)">
          <qaroni-input-error-messages [fc]="gender"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Email'|translate}}</mat-label>
        <input matInput formControlName="email" autocomplete="off" type="email">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(email)">
          <qaroni-input-error-messages [fc]="email"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Phone'|translate}}</mat-label>
        <input matInput formControlName="phone" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(phone)">
          <qaroni-input-error-messages [fc]="phone"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <!-- <pre>{{userDataForm.getRawValue()|json}}</pre> -->
</form>
