<div class="row" *ngIf="order?.invoices?.length">
  <div class="col-12">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="panel-header-invoices">
        <mat-panel-title>{{'See invoices'|translate}}</mat-panel-title>
        <mat-panel-description>{{'Order invoices'|translate}}</mat-panel-description>
      </mat-expansion-panel-header>

      <div class="mt-3">
        <table class="table mb-0">
          <thead class="thead-light">
            <tr>
              <ng-container *ngIf="isSmall$|async">
                <th scope="col">{{'Information'|translate}}</th>
                <th scope="col">{{'Order'|translate}}</th>
              </ng-container>
              <ng-container *ngIf="!(isSmall$|async)">
                <th scope="col">{{'Date'|translate}}</th>
                <th scope="col">{{'Code'|translate}}</th>
                <th scope="col">{{'Amount'|translate}}</th>
                <th scope="col">{{'Method'|translate}}</th>
                <th scope="col">{{'Status'|translate}}</th>
              </ng-container>
              <th scope="col" class="text-center">{{'Download'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let invoice of order?.invoices">
              <tr>
                <ng-container *ngIf="isSmall$|async">
                  <td scope="row">
                    <div class="font-weight-bold">{{invoice?.code}}</div>
                    <div>{{invoice?.date|date:'mediumDate'}}</div>
                    <div>{{invoice?.paymentMethod|invoicePaymentMethod}}</div>
                  </td>
                  <td>
                    <div>{{(invoice?.total|integerToCurrency) + ' €'}}</div>
                    <div>{{invoice?.status|invoiceStatus}}</div>
                  </td>
                </ng-container>
                <ng-container *ngIf="!(isSmall$|async)">
                  <td scope="row">{{invoice?.date|date:'mediumDate'}}</td>
                  <td class="font-weight-bold">{{invoice?.code}}</td>
                  <td>{{(invoice?.total|integerToCurrency) + ' €'}}</td>
                  <td>{{invoice?.paymentMethod|invoicePaymentMethod}}</td>
                  <td>{{invoice?.status|invoiceStatus}}</td>
                </ng-container>
                <td class="text-center">
                  <button mat-icon-button [matTooltip]="'Get order invoice'|translate" (click)="onGetInvoice(invoice)">
                    <mat-icon>get_app</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

    </mat-expansion-panel>
  </div>
</div>
