<!--Scroll to top-->
<div @toggleFade class="scroll-to-top" *ngIf="windowScrolled">
  <button mat-mini-fab color="accent" aria-label="Scroll to top" [matTooltip]="'Scroll to top'|translate"
    matTooltipPosition="left" (click)="scrollToTop()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
