<ng-container *ngIf="getItemImageUrl">
  <ng-container *ngIf="linkToProduct === true; else onlyImage">
    <a [routerLink]="['/products', item?.productId, getUrlItemName]">
      <img [src]="getItemImageUrl" [alt]="item?.name" class="item-image">
    </a>
  </ng-container>
  <ng-template #onlyImage>
    <img [src]="getItemImageUrl" [alt]="item?.name" class="item-image">
  </ng-template>
</ng-container>
