<ng-container [ngSwitch]="AppEnv.footerStyle">
  <ng-container *ngSwitchCase="AppFooterStyleEnum.ONE">
    <qaroni-footer-style-one></qaroni-footer-style-one>
  </ng-container>
  <ng-container *ngSwitchCase="AppFooterStyleEnum.TWO">
    <qaroni-footer-style-two></qaroni-footer-style-two>
  </ng-container>
  <ng-container *ngSwitchCase="AppFooterStyleEnum.THREE">
    <qaroni-footer-style-three></qaroni-footer-style-three>
  </ng-container>
  <ng-container *ngSwitchCase="AppFooterStyleEnum.FOUR">
    <qaroni-footer-style-four></qaroni-footer-style-four>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <qaroni-footer-style-one></qaroni-footer-style-one>
  </ng-container>
</ng-container>
