@import "compile";

.item-price {
  margin-bottom: 10px;
  color: $secondary-color;
  font-size: 18px;
  line-height: 22px;
  text-align: right;

  .discount-percentage {
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: $product-label-offer-bg-color;
    display: inline-block;
    border-radius: 2px;
  }

  .item-price-with-discount {
    color: $color-secondary-text;
    font-size: 14px;
    text-decoration: line-through;
  }
}
