<div class="item-price font-family-primary-regular">
  <ng-container *ngIf="!hasItemDiscount; else discountAmount">
    {{(item?.price|integerToCurrency) + ' €'}}
  </ng-container>
</div>

<ng-template #discountAmount>
  <div>{{(getPriceDiscount|integerToCurrency) + ' €'}}</div>
  <div class="discount-percentage">{{item?.discount|discount}}</div>
  <div class="item-price-with-discount">{{(item?.price|integerToCurrency) + ' €'}}</div>
</ng-template>
