<form [formGroup]="userPartnerForm">

  <div class="row justify-content-center">
    <div class="col-10">
      <mat-form-field appearance="outline">
        <mat-label>{{labelPartner|translate}}</mat-label>
        <mat-select formControlName="partnerId">
          <mat-option *ngFor="let company of companies$|async" [value]="company?.companyId">
            {{company?.tradename}}
          </mat-option>
        </mat-select>
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(partnerId)">
          <qaroni-input-error-messages [fc]="partnerId"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

</form>
