<ng-container *ngIf="(products$|async) as products; else cardLoadingContent">
  <ng-container *ngIf="products?.length">
    <div class="container pt-3 pb-5">
      <div class="row">
        <div class="col-12">
          <qaroni-page-title [title]="'Featured'|translate" titleClass="secondary"></qaroni-page-title>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let product of products" class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-3 mb-3">
          <qaroni-product-card [product]="product"></qaroni-product-card>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
