<div class="container pt-3 pb-3">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-md">
      <qaroni-page-title [title]="titleEnrollmentCompanies|translate"></qaroni-page-title>
    </div>
    <div class="col-12 col-md-auto col-title-links mb-5 mb-md-0">
      <button mat-flat-button color="accent" class="button-lg" [routerLink]="['/associations', 'groups']">
        <i class="fas fa-file-signature fa-lg"></i>
        {{'Start a request'|translate}}
      </button>
    </div>
  </div>

  <ng-container *ngIf="inscriptions?.length; else cardEmptyContent">
    <div class="row justify-content-center justify-content-lg-start">
      <div *ngFor="let inscription of inscriptions" class="col-12 col-md-8 col-lg-6 mb-3">
        <qaroni-request-company-preview @enterFadeIn [inscription]="inscription"
          (payInscription)="onPayInscription($event)">
        </qaroni-request-company-preview>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no companies enrollment requests'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
