<div class="filters-title">{{'Novelties / Outlet'|translate}}</div>
<div class="pl-3 mb-3">
  <div class="filters-slide-type">
    <mat-slide-toggle color="primary" [checked]="isNoveltyChecked" (change)="onNoveltyChange($event)">
      {{'Novelties'|translate}}
    </mat-slide-toggle>
  </div>
  <div class="filters-slide-type">
    <mat-slide-toggle color="primary" [checked]="isOutletChecked" (change)="onOutletChange($event)">
      {{'Outlet'|translate}}
    </mat-slide-toggle>
  </div>
</div>
