@import "compile";
@import "src/assets/scss/mixins/links";

.bg-footer-first {
  background-color: $bg-footer-first;
  padding-top: 60px;
  padding-bottom: 60px;

  a.footer-link {
    @include link-inherit-to-secondary;
  }

  .logo-image {
    width: 130px;
    max-width: 100%;
    height: auto;
  }

  .footer-section-title {
    margin-bottom: 21px;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-title-footer-first;
  }

  .footer-section-item {
    font-size: 13px;
    line-height: 1.9;
    color: $color-item-footer-first;

    .footer-link-bold {
      font-weight: bold;
      color: $secondary-color;
    }
  }
}
