<div class="mb-2" *ngIf="newsItem?.imageUrl">
  <qaroni-image-aspect-ratio [src]="newsItem.imageUrl" aspectRatio="16:9"></qaroni-image-aspect-ratio>
</div>
<div class="mat-small">{{newsItem?.date|date:'longDate'}}</div>
<div class="mat-headline title font-family-primary">{{newsItem?.descriptions[0]?.title}}</div>
<div class="description font-family-secondary">
  <p>{{newsItem?.descriptions[0]?.shortDescription}}</p>
</div>
<a class="mat-small read-more" [routerLink]="['/news', newsItem?.newId, getUrlTitle]">{{'Read more'|translate}}</a>
<div class="mt-3">
  <ng-container *ngIf="checkRoute()">
    <mat-chip-list *ngIf="newsItem?.tags?.length">
      <ng-container *ngFor="let tag of newsItem.tags">
        <mat-chip class="chip-customized" (click)="checkTagInfo(tag.name)" color="accent" selected>
          {{tag.name}}
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </ng-container>
</div>
