<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="titlePage|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="licenseMember; else cardEmptyContent">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 col-xl-8 mb-4 mb-lg-0">

        <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
          <mat-card @enterFadeIn class="bg-grey card-style-one">
            <mat-card-header>
              <mat-card-title>{{titleCard|translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <div class="row">
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'firstname'|translate}}</mat-label>
                    <input matInput formControlName="firstName" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(firstName)">
                      <qaroni-input-error-messages [fc]="firstName"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'lastname'|translate}}</mat-label>
                    <input matInput formControlName="lastName" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(lastName)">
                      <qaroni-input-error-messages [fc]="lastName"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'document-type'|translate}}</mat-label>
                    <mat-select formControlName="documentType">
                      <mat-option *ngFor="let documentType of UserDataUtils.getDocumentTypeArray()"
                        [value]="documentType">
                        {{documentType|documentType}}
                      </mat-option>
                    </mat-select>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(documentType)">
                      <qaroni-input-error-messages [fc]="documentType"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'document-number'|translate}}</mat-label>
                    <input matInput formControlName="document" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(document)">
                      <qaroni-input-error-messages [fc]="document"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'birthdate'|translate}}</mat-label>
                    <input matInput formControlName="birthday" [matDatepicker]="birthdayPicker"
                      (focus)="birthdayPicker.open()" (click)="birthdayPicker.open()" (keypress)="birthdayPicker.open()"
                      autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayPicker></mat-datepicker>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(birthday)">
                      <qaroni-input-error-messages [fc]="birthday"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'gender'|translate}}</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option *ngFor="let gender of UserDataUtils.getGenderArray()" [value]="gender">
                        {{gender|gender|translate}}
                      </mat-option>
                    </mat-select>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(gender)">
                      <qaroni-input-error-messages [fc]="gender"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Email'|translate}}</mat-label>
                    <input matInput formControlName="email" autocomplete="off" type="email">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(email)">
                      <qaroni-input-error-messages [fc]="email"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Phone'|translate}}</mat-label>
                    <input matInput formControlName="phone" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(phone)">
                      <qaroni-input-error-messages [fc]="phone"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <div class="pb-2">
                    <mat-checkbox formControlName="automaticRenewal" (change)="onChangeRenewal($event)">
                      {{'Automatic renewal'|translate}}
                    </mat-checkbox>
                  </div>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <div class="pb-2">
                    <mat-checkbox formControlName="bankCharge" (change)="onChangeRenewal($event)">
                      {{'Bank charge'|translate}}
                    </mat-checkbox>
                  </div>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>IBAN</mat-label>
                    <input matInput formControlName="iban" autocomplete="off" type="text">
                    <mat-hint>{{'Example'|translate}}: ES7620770024003102575766</mat-hint>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(iban)">
                      <qaroni-input-error-messages [fc]="iban"
                        [aditionalString]="'IBAN format without spaces'|translate">
                      </qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-info-input">
                  <mat-form-field appearance="outline">
                    <mat-label>BIC</mat-label>
                    <input matInput formControlName="bic" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(bic)">
                      <qaroni-input-error-messages [fc]="bic"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>

            </mat-card-content>
            <mat-card-actions align="end">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a (click)="onBack()">
                    {{'Cancel'|translate}}
                  </a>
                </div>
                <div class="col-auto">
                  <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
                    <mat-icon>save</mat-icon>
                    {{'Save'|translate}}
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>

      </div>
      <div class="col-12 col-lg-5 col-xl-4">
        <qaroni-license-member-image [licenseMember]="licenseMember"></qaroni-license-member-image>
      </div>
    </div>
  </ng-container>

</div>


<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no information about this license'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
