<ng-container *ngIf="hasLogo">
  <a [routerLink]="['/products']" [queryParams]="{ brands: brand?.brandId }" [matTooltip]="brand?.name"
    matTooltipPosition="above">
    <div class="wrapper-brand-logo text-center">
      <img [src]="brand?.logo" [alt]="brand?.name" class="img-fluid">
    </div>
  </a>
</ng-container>
