<ng-container *ngIf="(event$|async) as event">
  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col-12">
        <qaroni-page-title [title]="event?.title"></qaroni-page-title>
      </div>
    </div>
    <div @enterFadeIn class="row">
      <div class="col-12 mb-3">
        <button mat-flat-button color="accent" class="button-lg" *ngIf="isPaid(event) && hasProducts(event)"
          (click)="goToBuyTickets()">
          {{'Buy tickets'|translate}}
        </button>
        <button mat-flat-button color="accent" class="button-lg" *ngIf="!isPaid(event) && hasZones(event)"
          (click)="freeRegister(event)" [disabled]="!hasCapacity(event)">
          {{'Register now'|translate}}{{!hasCapacity(event) ? ' - ' + ('Tickets sold out'|translate) : null}}
        </button>
      </div>
    </div>
    <div @enterFadeIn class="row justify-content-center" *ngIf="getEventImage(event)">
      <div class="col-12 col-md-11 col-lg-10 col-xl-9 mb-5 text-center">
        <img [src]="getEventImage(event)" [alt]="event?.title" class="img-fluid">
      </div>
    </div>
    <div @enterFadeIn class="row">
      <div class="col-12">
        <div class="mat-body mb-4">
          {{'Start at'|translate}} {{event?.startDate|date:'longDate'}}
        </div>
        <div class="font-family-secondary" [innerHTML]="event?.largeDescription|sanitizeHtml"></div>
      </div>
    </div>
    <ng-container @enterFadeIn *ngIf="isPaid(event) && hasProducts(event)">
      <div class="row">
        <div class="col-12">
          <qaroni-page-title [title]="'Buy tickets'|translate" titleClass="secondary"></qaroni-page-title>
        </div>
      </div>
      <div class="row products-buy-tickets">
        <div *ngFor="let product of event.products"
          class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-3 mb-3">
          <qaroni-product-card [product]="product"></qaroni-product-card>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
