@import "compile";
@import "src/assets/scss/mixins/links";

.bg-footer-content {
  color: $color-footer-content;
  background-color: $bg-footer-content;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1rem;

  a {
    @include link-inherit-to-secondary;
  }
}
