<div class="container-fluid bg-footer-content font-family-primary">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-auto text-center">
            <a [href]="UrlsInfo?.website">{{AppEnv.title}}</a>
            <i class="far fa-copyright ml-1"></i> {{year}}.
            <span class="text-accent d-inline-block">{{'All rights reserved'|translate}}.</span>
          </div>
          <div class="w-100"></div>
          <div class="col-auto text-center py-2 py-md-0" *ngIf="UrlsInfo?.footerCredits">
            <a [href]="UrlsInfo?.footerCredits" target="_blank">{{'Credits'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
