<div class="container pt-3 pb-3">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-md">
      <qaroni-page-title [title]="title|translate" titleClass="secondary"></qaroni-page-title>
    </div>
    <div class="col-12 col-md-auto col-title-links mb-4 mb-md-0">
      <a class="title-link" [routerLink]="['/associations', 'groups']">
        <i class="fas fa-plus"></i>
        {{'See all'|translate}}
      </a>
    </div>
  </div>

  <ng-container *ngIf="(groups$|async) as groups; else cardLoadingContent">
    <div class="row justify-content-center">
      <div *ngFor="let group of groups" class="col-12 col-sm-10 col-md-6 col-lg-4 mb-3">
        <qaroni-list-group-item @enterFadeIn [group]="group"></qaroni-list-group-item>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
