<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Events'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="events?.length; else cardLoadingContent">
    <div class="row">
      <div *ngFor="let event of events" class="col-12 col-md-6 col-lg-4 mb-5">
        <qaroni-events-preview-one @enterFadeIn [event]="event"></qaroni-events-preview-one>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="showMoreEvents">
      <div class="col-8 my-4">
        <button mat-flat-button color="accent" class="w-100" (click)="onShowMoreEvents()">
          <i class="fas fa-arrow-circle-down"></i>
          {{'Show more events'|translate}} ...
        </button>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
