<ng-container *ngIf="(productBrands$|async) as brands">
  <div class="filters-title">{{'Brands'|translate}}</div>
  <div [ngClass]="{'filters-wrapper-selection-list': showFewOptions}">
    <mat-selection-list (selectionChange)="onSelectionChange($event)">
      <ng-container *ngFor="let brand of brands">
        <mat-list-option checkboxPosition="before" [selected]="isOptionSelected(brand?.brandId)"
          [value]="brand?.brandId">
          {{brand?.name}}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </div>
  <ng-container *ngIf="brands?.length > 7">
    <div (click)="onShowAll()">
      <span class="filter-text-link">
        <ng-container *ngIf="showFewOptions; else seeMinusBrands">
          <i class="fas fa-plus mr-1"></i>
          {{'Show all brands'|translate}}
        </ng-container>
        <ng-template #seeMinusBrands>
          <i class="fas fa-minus mr-1"></i>
          {{'Show minus'|translate}}
        </ng-template>
      </span>
    </div>
  </ng-container>
</ng-container>
