<ng-container *ngIf="item">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-3 col-md-2 mb-3 mb-sm-0 text-center">
      <qaroni-order-item-image [item]="item"></qaroni-order-item-image>
    </div>
    <div class="col-9 col-sm-7 col-md-7">
      <div class="title-inside-card-content">
        {{item?.name}}
      </div>
      <div class="description-inside-card-content" [innerHTML]="item?.description|sanitizeHtml"></div>
      <div class="row row-item-info">
        <div *ngIf="item?.code" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.code" [label]="'Code'|translate" [value]="item?.code">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="item?.unitType" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.unitType" [label]="'Tipo de pedido'|translate"
            [value]="item?.unitType|itemUnitType">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="item?.unitName" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.unitName" [label]="'Unidad'|translate" [value]="item?.unitName">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="item?.iva" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.iva" [label]="'IVA'|translate" [value]="item?.iva|iva">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="hasItemDiscount" class="col-auto">
          <qaroni-info-label-value [label]="'Discount'|translate" [value]="item?.discount|discount">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="item?.quantity" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.quantity" [label]="'quantity'|translate" [value]="item?.quantity">
          </qaroni-info-label-value>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let option of item?.options" class="col-auto">
          <qaroni-info-label-value *ngIf="option?.value" [label]="option?.label" [value]="option?.value">
          </qaroni-info-label-value>
        </div>
      </div>
    </div>
    <div class="col-3 col-sm-2 col-md-3">
      <qaroni-order-item-price [item]="item"></qaroni-order-item-price>
    </div>
  </div>
</ng-container>
