<form [formGroup]="companyDataForm">

  <div class="row">
    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Fiscal name'|translate}}</mat-label>
        <input matInput formControlName="name" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(name)">
          <qaroni-input-error-messages [fc]="name"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Tradename'|translate}}</mat-label>
        <input matInput formControlName="tradename" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(tradename)">
          <qaroni-input-error-messages [fc]="tradename"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'CIF'|translate}}</mat-label>
        <input matInput formControlName="cif" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(cif)">
          <qaroni-input-error-messages [fc]="cif"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Email'|translate}}</mat-label>
        <input matInput formControlName="email" autocomplete="off" type="email">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(email)">
          <qaroni-input-error-messages [fc]="email"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Phone'|translate}}</mat-label>
        <input matInput formControlName="phone" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(phone)">
          <qaroni-input-error-messages [fc]="phone"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-user-data-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Other phone'|translate}}</mat-label>
        <input matInput formControlName="secondaryPhone" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(secondaryPhone)">
          <qaroni-input-error-messages [fc]="secondaryPhone"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <!-- <pre>{{userDataForm.getRawValue()|json}}</pre> -->
</form>
