<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Change password'|translate"></qaroni-page-title>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">

      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-card @enterFadeIn class="bg-grey card-style-one">
          <mat-card-header>
            <mat-card-title>{{'Fill the inputs'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="row justify-content-center">
              <div class="col-10 col-sm-8 col-lg-7">
                <mat-form-field appearance="outline">
                  <mat-label>{{'Current password'|translate}}</mat-label>
                  <input matInput formControlName="currentPassword" autocomplete="off" type="password">
                  <mat-error align="start" *ngIf="InputValidation.checkInputErrors(currentPassword)">
                    <qaroni-input-error-messages [fc]="currentPassword"></qaroni-input-error-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-10 col-sm-8 col-lg-7">
                <mat-form-field appearance="outline">
                  <mat-label>{{'New password'|translate}}</mat-label>
                  <input matInput formControlName="password" autocomplete="off" type="password">
                  <mat-error align="start" *ngIf="InputValidation.checkInputErrors(password)">
                    <qaroni-input-error-messages [fc]="password"></qaroni-input-error-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-10 col-sm-8 col-lg-7">
                <mat-form-field appearance="outline">
                  <mat-label>{{'Confirm new password'|translate}}</mat-label>
                  <input matInput formControlName="passwordConfirmation" autocomplete="off" type="password">
                  <mat-error align="start" *ngIf="InputValidation.checkInputErrors(passwordConfirmation)">
                    <qaroni-input-error-messages [fc]="passwordConfirmation"></qaroni-input-error-messages>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

          </mat-card-content>
          <mat-card-actions align="end">
            <div class="row align-items-center">
              <div class="col-auto">
                <a (click)="onBack()">{{'Cancel'|translate}}</a>
              </div>
              <div class="col-auto">
                <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm"
                  type="submit">{{'Change password'|translate}}</button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>

    </div>
  </div>
</div>

<!-- {{signUpForm.getRawValue()|json}} -->
