@import "~@angular/material/theming";

// ==========================================================================================
// TYPOGRAPHY
// ==========================================================================================
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$qaroni-typography: mat-typography-config(
  $font-family: $font-family-material,
);

// ==========================================================================================
// MATERIAL THEME
// ==========================================================================================
$jose-luis-primary: (
  100: #404040,
  500: #262626,
  700: #000000,
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($qaroni-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$qaroni-app-primary: mat-palette($jose-luis-primary);
$qaroni-app-accent: mat-palette($mat-grey);

// The warn palette is optional (defaults to red).
$qaroni-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$qaroni-app-theme: mat-light-theme(
  $qaroni-app-primary,
  $qaroni-app-accent,
  $qaroni-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($qaroni-app-theme);
