<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'My multimedia'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="multimedias?.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div *ngFor="let multimedia of multimedias" class="col-12 col-lg-10 mb-5">
        <qaroni-multimedia-preview [multimedia]="multimedia"></qaroni-multimedia-preview>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content [title]="'You don\'t have multimedia content yet!'|translate"
        [subtitle]="'From here you can review your multimedia content'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
