<div class="row">
  <div class="col-12">
    <qaroni-page-title [title]="streaming?.descriptions[0]?.name"></qaroni-page-title>
  </div>
  <div class="col-12 mb-5">

    <div [ngSwitch]="streaming?.type">

      <div *ngSwitchCase="StreamingTypeEnum.CROWDCAST">
        <iframe class="embed-responsive-item" width="100%" height="800" marginheight="0" marginwidth="0"
          allowtransparency="true" [src]="streaming?.url|sanitizeUrl" style="border: 1px solid #EEE;border-radius:3px"
          allowfullscreen></iframe>
        <a ng-href="https://www.crowdcast.io/?utm_source=embed&utm_medium=website&utm_campaign=embed" style="color: #aaa;
          font-family: ‘Helvetica’, ‘Arial’, sans-serif;text-decoration: none;display: block;text-align: center;font-size:
          13px;padding: 5px 0">powered by Crowdcast</a>
      </div>

      <div *ngSwitchCase="StreamingTypeEnum.FACEBOOK">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="streaming?.url|sanitizeUrl" allowFullScreen></iframe>
        </div>
      </div>

      <div *ngSwitchCase="StreamingTypeEnum.PERISCOPE">
      </div>

      <div *ngSwitchCase="StreamingTypeEnum.RESTREAM">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="streaming?.url|sanitizeUrl" allowfullscreen></iframe>
        </div>
        <p>Powered by <a href="https://restream.io">Restream.io</a></p>
      </div>

      <div *ngSwitchCase="StreamingTypeEnum.SNAPCHAT">
        <iframe class="embed-responsive-item" [src]="streaming?.url|sanitizeUrl" allowfullscreen></iframe>
      </div>

      <div *ngSwitchCase="StreamingTypeEnum.YOUTUBE">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="streaming?.url|sanitizeUrl" allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>
</div>
