<button mat-flat-button color="accent" class="w-100 checkout-button" [disabled]="!validatedPaymentButton"
  (click)="onPaymentCecabank()">
  <mat-icon>credit_card</mat-icon>
  {{'credit-debit-card'|translate}}
</button>
