<div class="product-promotional-code">
  <ng-container *ngIf="!applyPromotionalCode">
    <span class="link-promotional-code" (click)="onApplyPromotionalCode()"
      [matTooltip]="'apply-promotional-code'|translate">{{'Promotional Code'|translate}}</span>
  </ng-container>
  <ng-container *ngIf="applyPromotionalCode">
    <form [formGroup]="promotionalCodeForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <div class="col-auto">
          <mat-form-field appearance="outline" class="promotional-code-input">
            <mat-label>{{'Promotional code'|translate}}</mat-label>
            <input matInput formControlName="code" autocomplete="off" type="text">
            <mat-error align="start" *ngIf="InputValidation.checkInputErrors(code)">
              <qaroni-input-error-messages [fc]="code"></qaroni-input-error-messages>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-auto pt-3">
          <button mat-flat-button color="primary" [disabled]="!validatedForm">{{'apply'|translate}}</button>
        </div>
      </div>
    </form>
  </ng-container>
</div>
