@import "compile";
@import "src/assets/scss/mixins/links";

.product-promotional-code {
  margin-top: 8px;

  .link-promotional-code {
    font-size: 14px;
    line-height: 20px;
    @include link-tertiary-to-secondary-bold;
  }

  .promotional-code-input {
    width: 165px;
    max-width: 100%;
  }
}
