@import "compile";

.container-preview {
  padding-bottom: 20px;

  .content-label {
    color: $color-dark-secondary-text;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .content-input {
    color: $color-dark-primary-text;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-height: 60px;
    overflow-y: auto;
  }
}
