<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="pageTitle"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="(page$|async) as page; else cardLoadingContent">
    <div class="row">
      <div class="col-12">
        <div [innerHTML]="page.text|sanitizeHtml"></div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
