<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="titlePage|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="licenseCompany; else cardEmptyContent">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-8">

        <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
          <mat-card @enterFadeIn class="bg-grey card-style-one">
            <mat-card-header>
              <mat-card-title>{{titleCard|translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <div class="row justify-content-center">
                <div class="col-10 col-sm-6 col-address-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Address'|translate}}</mat-label>
                    <input matInput formControlName="line1" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(line1)">
                      <qaroni-input-error-messages [fc]="line1"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 col-sm-6 col-address-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Address optional'|translate}}</mat-label>
                    <input matInput formControlName="line2" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(line2)">
                      <qaroni-input-error-messages [fc]="line2"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 col-sm-6 col-address-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'City'|translate}}</mat-label>
                    <input matInput formControlName="city" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(city)">
                      <qaroni-input-error-messages [fc]="city"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 col-sm-6 col-address-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Postal code'|translate}}</mat-label>
                    <input matInput formControlName="postalCode" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(postalCode)">
                      <qaroni-input-error-messages [fc]="postalCode"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 col-sm-6 col-address-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Province'|translate}}</mat-label>
                    <input matInput formControlName="stateProvince" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(stateProvince)">
                      <qaroni-input-error-messages [fc]="stateProvince"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 col-sm-6 col-address-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Country'|translate}}</mat-label>
                    <mat-select formControlName="country">
                      <mat-option *ngFor="let country of CountryUtils.getCountryArray()" [value]="country">
                        {{country|country}}
                      </mat-option>
                    </mat-select>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(country)">
                      <qaroni-input-error-messages [fc]="country"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </mat-card-content>
            <mat-card-actions align="end">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a (click)="onBack()">
                    {{'Cancel'|translate}}
                  </a>
                </div>
                <div class="col-auto">
                  <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
                    <mat-icon>save</mat-icon>
                    {{'Save'|translate}}
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>

      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no information about this license'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
