<button mat-button class="close-icon" [mat-dialog-close]="false" *ngIf="!submitting">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>{{'Bank charge'|translate}}</div>
<form [formGroup]="bankChargeForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <div class="row justify-content-center">
      <div class="col-11 col-sm-9 mb-4">
        <qaroni-info-label-value [label]="'Account holder'|translate" [value]="name.value"></qaroni-info-label-value>
      </div>

      <div class="col-11 col-sm-9 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>IBAN</mat-label>
          <input matInput formControlName="iban" autocomplete="off" type="text">
          <mat-hint>{{'Example'|translate}}: ES7620770024003102575766</mat-hint>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(iban)">
            <qaroni-input-error-messages [fc]="iban" [aditionalString]="'IBAN format without spaces'|translate">
            </qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-11 col-sm-9 mb-2">
        <mat-form-field appearance="outline">
          <mat-label>BIC</mat-label>
          <input matInput formControlName="bic" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(bic)">
            <qaroni-input-error-messages [fc]="bic"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- <pre>{{client|json}}</pre> -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="row justify-content-end align-items-center">
      <div class="col-auto" *ngIf="!submitting">
        <span class="cancel-link" (click)="onCancelClick()">
          {{'Cancel'|translate}}
        </span>
      </div>
      <div class="col-auto">
        <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
          <mat-icon>account_balance</mat-icon>
          {{'Send request'|translate}}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
