<div class="container-fluid bg-footer-first">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row justify-content-center align-items-center">

          <!-- Information - Contact -->
          <div class="col-12 col-lg-8 col-xl-8">
            <div class="row">
              <div class="col-12 col-sm-6 mt-5 mt-lg-0 text-center">
                <div class="footer-section-title font-family-material-semi-bold">{{'info'|translate}}</div>

                <ng-container *ngFor="let link of keysUrlsEnvironment">
                  <ng-container [ngSwitch]="link">

                    <ng-container *ngSwitchCase="'cookies'">
                      <div *ngIf="UrlsInfo?.cookies" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.cookies" class="footer-link">{{'cookies-policy'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'legal'">
                      <div *ngIf="UrlsInfo?.legal" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.legal" class="footer-link">{{'legal'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'privacy'">
                      <div *ngIf="UrlsInfo?.privacy" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.privacy" class="footer-link">{{'privacy-policy'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'purchase'">
                      <div *ngIf="UrlsInfo?.purchase" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.purchase" class="footer-link">{{'purchase-conditions'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'returnsRefunds'">
                      <div *ngIf="UrlsInfo?.returnsRefunds" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.returnsRefunds"
                          class="footer-link">{{'Returns and refunds policy'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'shippingDelivery'">
                      <div *ngIf="UrlsInfo?.shippingDelivery" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.shippingDelivery"
                          class="footer-link">{{'Shipping and delivery'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'tsAndCs'">
                      <div *ngIf="UrlsInfo?.tsAndCs" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.tsAndCs" class="footer-link">{{'terms-and-conditions'|translate}}</a>
                      </div>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </div>
              <div class="col-12 col-sm-6 mt-5 mt-lg-0 text-center">
                <div class="footer-section-title font-family-material-semi-bold">{{'contact'|translate}}</div>

                <ng-container *ngFor="let link of keysUrlsEnvironment">
                  <ng-container [ngSwitch]="link">

                    <ng-container *ngSwitchCase="'email'">
                      <ng-container *ngIf="UrlsInfo?.email">
                        <div class="footer-section-item font-family-primary-regular">
                          <div class="footer-only-text">{{'Email'|translate}}</div>
                        </div>
                        <div class="footer-section-item font-family-primary-regular">
                          <a [href]="'mailto:' + UrlsInfo?.email"
                            class="footer-link footer-link-bold font-weight-bold">{{UrlsInfo?.email}}</a>
                        </div>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'phone'">
                      <ng-container *ngIf="UrlsInfo?.phone">
                        <div class="footer-section-item font-family-primary-regular">
                          <div class="footer-only-text">{{'Phone'|translate}}</div>
                        </div>
                        <div class="footer-section-item font-family-primary-regular">
                          <a [href]="'tel:' + UrlsInfo?.phone"
                            class="footer-link footer-link-bold font-weight-bold">{{UrlsInfo?.phone}}</a>
                        </div>
                      </ng-container>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </div>
            </div>
          </div>
          <!-- Information - Contact -->

          <!-- Logo -->

          <div class="col-12 col-lg-4 col-xl-4 mt-0 mt-lg-0 text-center">
            <div class="my-2">
              <a [href]="UrlsInfo?.website">
                <div class="wrapper-img-logo mx-auto">
                  <img [src]="ImagesInfo?.logos?.footer?.source" [alt]="ImagesInfo?.logos?.footer?.alt"
                    class="img-fluid">
                </div>
              </a>
            </div>
          </div>
          <!-- Logo -->

        </div>
      </div>
    </div>
  </div>
</div>
