<div @enterFadeIn class="container py-5" *ngIf="blocks?.length">
  <ng-container *ngFor="let block of blocks; last as isLast; odd as isOdd; even as isEven">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 order-2" [ngClass]="{ 'order-md-1': isEven }">
        <div *ngIf="block.title" class="mat-headline font-family-secondary">
          {{block.title}}
        </div>

        <div *ngIf="block.description">
          {{block.description}}
        </div>

        <div *ngIf="block.buttonName && block.buttonAction" class="pl-4 mt-4">
          <qaroni-element-button-cases [element]="block"></qaroni-element-button-cases>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-6 text-center mb-4 mb-md-0 order-1" [ngClass]="{ 'order-md-2': isEven }">
        <img *ngIf="block.imageUrl" [src]="block.imageUrl" [alt]="block.title" class="img-fluid">
      </div>
      <div class="col-12 my-5 order-3" *ngIf="!isLast"></div>
    </div>
  </ng-container>
</div>
