@mixin build-mat-color-button($color-name, $color, $text: white) {

  .mat-button.#{$color-name},
  .mat-icon-button.#{$color-name},
  .mat-stroked-button.#{$color-name} {
    color: $color;
  }

  .mat-button.#{$color-name}:hover,
  .mat-stroked-button.#{$color-name}:hover {
    background-color: $text;
  }

  .mat-flat-button.#{$color-name},
  .mat-raised-button.#{$color-name},
  .mat-fab.#{$color-name},
  .mat-mini-fab.#{$color-name} {
    background-color: $color;
    color: $text;
  }
}
