@import "src/assets/scss/mixins/transitions";

@mixin link-tertiary-to-secondary {
  cursor: pointer;
  color: $tertiary-color;
  text-decoration: none;
  @include transition-color;

  &:hover {
    color: $secondary-color;
  }
}

@mixin link-tertiary-to-secondary-bold {
  font-weight: bold;
  @include link-tertiary-to-secondary;
}

@mixin link-inherit-to-secondary {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  @include transition-color;

  &:hover {
    color: $secondary-color;
  }
}

@mixin link-wrapper-card {
  &:hover {
    text-decoration: none;
  }
}
