// ==========================================================================================
// Font Families
// ==========================================================================================

@mixin font-family-primary {
  font-family: $font-family-primary;
}

@mixin font-family-secondary {
  font-family: $font-family-secondary;
}

@mixin font-family-material {
  font-family: $font-family-material;
}

// ==========================================================================================
// Font Weights
// ==========================================================================================

@mixin font-weight-light {
  font-weight: 300 !important;
}

@mixin font-weight-regular {
  font-weight: 400 !important;
}

@mixin font-weight-medium {
  font-weight: 500 !important;
}

@mixin font-weight-semi-bold {
  font-weight: 600 !important;
}

@mixin font-weight-bold {
  font-weight: 700 !important;
}
