<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Change password'|translate"></qaroni-page-title>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <mat-card @enterFadeIn class="bg-grey card-auth">
        <mat-card-header>
          <mat-card-title>{{'New user'|translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

            <div class="row justify-content-center">
              <div class="col-10 col-sm-8 col-input">
                <mat-form-field appearance="outline">
                  <mat-label>{{'Password'|translate}}</mat-label>
                  <input matInput formControlName="password" autocomplete="off" type="password">
                  <mat-error align="start" *ngIf="InputValidation.checkInputErrors(password)">
                    <qaroni-input-error-messages [fc]="password"></qaroni-input-error-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-10 col-sm-8 col-input">
                <mat-form-field appearance="outline">
                  <mat-label>{{'Confirm password'|translate}}</mat-label>
                  <input matInput formControlName="passwordConfirmation" autocomplete="off" type="password">
                  <mat-error align="start" *ngIf="InputValidation.checkInputErrors(passwordConfirmation)">
                    <qaroni-input-error-messages [fc]="passwordConfirmation"></qaroni-input-error-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-10 col-sm-8 col-action-button">
                <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm"
                  type="submit">{{'Change password'|translate}}</button>
              </div>
            </div>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- {{signUpForm.getRawValue()|json}} -->
