<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'validate-email'|translate"></qaroni-page-title>
    </div>
  </div>

  <div @enterFadeIn class="row my-5">
    <div class="col-12 my-5">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="container-icon d-flex justify-content-center align-items-center"
            [matTooltip]="'validate-email'|translate"><i class="fas fa-user-shield"></i></div>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-8 col-lg-6 font-family-primary-light">
          <div class="title">{{'validate-email-title'|translate}}</div>
          <div class="subtitle">{{'validate-email-subtitle'|translate}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
