<form [formGroup]="dynamicForm">
  <div class="row">
    <ng-container *ngFor="let formField of formFields">
      <div class="col-dynamic-input" *ngIf="formField?.field?.type !== FieldTypeEnum.FILE"
        [ngClass]="getWrapperClass(formField)">
        <div [ngSwitch]="formField?.field?.type">
          <div *ngSwitchCase="FieldTypeEnum.CHECKBOX">
            <mat-checkbox [formControlName]="formField?.field?.name">
              {{formField?.field?.label}}
            </mat-checkbox>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.DATE">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" [matDatepicker]="dynamicPicker"
                (focus)="dynamicPicker.open()" (click)="dynamicPicker.open()" (keypress)="dynamicPicker.open()"
                autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="dynamicPicker"></mat-datepicker-toggle>
              <mat-datepicker #dynamicPicker></mat-datepicker>
              <mat-hint *ngIf="formField?.hint">
                {{formField?.hint}}
              </mat-hint>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
            <!-- TODO: Resolve when has more than one input date -->
          </div>
          <div *ngSwitchCase="FieldTypeEnum.EMAIL">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="email">
              <mat-hint *ngIf="formField?.hint">
                {{formField?.hint}}
              </mat-hint>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.NUMBER">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="number">
              <mat-hint *ngIf="formField?.hint">
                {{formField?.hint}}
              </mat-hint>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.PASSWORD">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="password">
              <mat-hint *ngIf="formField?.hint">
                {{formField?.hint}}
              </mat-hint>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.RADIO">
            <div class="label-radio mat-small">
              {{formField?.field?.label}}
            </div>
            <mat-radio-group [formControlName]="formField?.field?.name">
              <ng-container *ngFor="let option of formField?.field?.options">
                <div class="wrapper-radio-string">
                  <mat-radio-button [value]="option?.value">{{option?.name}}</mat-radio-button>
                </div>
              </ng-container>
            </mat-radio-group>
            <div class="hint-message mat-small pl-4"
              *ngIf="formField?.hint && !InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
              {{formField?.hint}}
            </div>
            <div class="radio-error-message mat-small pl-4"
              *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
              <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
              </qaroni-input-error-messages>
            </div>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.SELECT">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <mat-select [formControlName]="formField?.field?.name">
                <mat-option *ngFor="let option of formField?.field?.options" [value]="option?.value">
                  {{option?.name}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="formField?.hint">
                {{formField?.hint}}
              </mat-hint>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.TEXT">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="text">
              <mat-hint *ngIf="formField?.hint">
                {{formField?.hint}}
              </mat-hint>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.TEXTAREA">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <textarea matInput [formControlName]="formField?.field?.name"></textarea>
              <mat-hint *ngIf="formField?.hint">
                {{formField?.hint}}
              </mat-hint>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2"></div>
        </div>
      </div>
    </ng-container>
  </div>
</form>

<!-- <pre>{{this.dynamicForm.getRawValue()|json}}</pre> -->
