@import "compile";

.col-dynamic-input:not(:last-of-type) {
  margin-bottom: 12px;
}

.label-radio {
  color: $color-dark-secondary-text;
  min-height: 20px;
  margin-bottom: 12px;
}

.wrapper-radio-string {
  max-width: 100%;

  ::ng-deep .mat-radio-label-content {
    white-space: normal;
  }
}

.hint-message {
  color: $color-dark-secondary-text;
}

.radio-error-message {
  color: #f44336;
}
