<button mat-flat-button color="paypal" class="w-100 checkout-button" [disabled]="!validatedPaymentButton"
  (click)="onPaymentPaypal()">
  <i class="fab fa-paypal"></i>
  {{'paypal'|translate}}
</button>
