<div class="filters-title">{{'Categories'|translate}}</div>
<ng-container *ngIf="categoriesGenealogy?.length && showCategoriesGenealogy">
  <ng-container *ngFor="let category of categoriesGenealogy; index as i; first as isFirst; last as isLast">
    <div (click)="onSelectCategory(category?.parentId)">
      <span class="filter-text-link" [ngClass]="{ 'pl-filter-text-link': !isLast }">
        <i class="fas fa-arrow-left mr-1" *ngIf="isLast"></i>
        <ng-container *ngIf="isFirst; else categoryName">
          {{'All categories'|translate}}
        </ng-container>
        <ng-template #categoryName>
          {{categoriesGenealogy[i-1]?.name}}
        </ng-template>
      </span>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="(productCategories$|async) as categories">
  <mat-list>
    <ng-container *ngFor="let category of categories">
      <mat-list-item class="list-item-category" (click)="onSelectCategory(category?.categoryId)">
        {{category?.name}}
      </mat-list-item>
    </ng-container>
  </mat-list>
</ng-container>
