<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="category?.name || ('Category'|translate)"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="category; else cardLoadingContent">
    <div class="row align-items-center">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 mb-3 mb-md-0">
        <p [innerHTML]="category?.description"></p>
      </div>
      <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-category-image" *ngIf="hasImage(category)">
        <img [src]="category?.imageUrl" [alt]="category?.name" class="img-fluid category-image">
      </div>
    </div>

    <ng-container *ngIf="category?.groups?.length">
      <div class="row">
        <div class="col-12">
          <qaroni-page-title [title]="title|translate" titleClass="secondary">
          </qaroni-page-title>
        </div>
        <ng-container *ngFor="let group of category?.groups">
          <ng-container *ngIf="isGroupActive(group)">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 mb-3">
              <qaroni-list-group-item @enterFadeIn [group]="group"></qaroni-list-group-item>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
