<ng-container *ngIf="(redsysData$|async) as redsysData">
  <form [formGroup]="paymentForm" [action]="redsysData?.postUrl" method="POST" #form>
    <input name="Ds_MerchantParameters" formControlName="Ds_MerchantParameters" autocomplete="off" type="hidden">
    <input name="Ds_Signature" formControlName="Ds_Signature" autocomplete="off" type="hidden">
    <input name="Ds_SignatureVersion" formControlName="Ds_SignatureVersion" autocomplete="off" type="hidden">
    <button mat-flat-button color="accent" class="w-100 checkout-button" [disabled]="!validatedForm" type="submit"
      (click)="form.submit()" (click)="onPaymentRedsys()">
      <mat-icon>credit_card</mat-icon> {{'credit-debit-card'|translate}}
    </button>
  </form>
</ng-container>
