<button mat-button class="close-icon" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title class="mb-3">
  {{'Billing information'|translate}}
</div>

<ng-container *ngIf="client">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-12">
      <span class="mat-h2">{{client?.firstName}} {{client?.lastName}} - <strong>{{client?.document}}</strong></span>
      <mat-divider class="mb-4"></mat-divider>
    </div>
  </div>
</ng-container>

<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <div class="row justify-content-center justify-content-sm-start">

      <ng-container *ngIf="!client">
        <div class="col-10 col-sm-12 pt-3">
          <mat-radio-group formControlName="type" (change)="onChangeClientType()">
            <div *ngFor="let clientType of ClientTypeArray; first as isFirst" class="wrapper-radio-string pl-4">
              <mat-radio-button [value]="clientType">{{clientType|clientType|translate}}</mat-radio-button>
            </div>
          </mat-radio-group>
          <mat-divider class="mb-3"></mat-divider>
        </div>

        <div [class]="getCol">
          <mat-form-field appearance="outline">
            <mat-label>{{firstNameLabel|translate}}</mat-label>
            <input matInput formControlName="firstName" autocomplete="off" type="text">
            <mat-error align="start" *ngIf="InputValidation.checkInputErrors(firstName)">
              <qaroni-input-error-messages [fc]="firstName"></qaroni-input-error-messages>
            </mat-error>
          </mat-form-field>
        </div>

        <div [class]="getCol" *ngIf="typeIsPhysical">
          <mat-form-field appearance="outline">
            <mat-label>{{'lastname'|translate}}</mat-label>
            <input matInput formControlName="lastName" autocomplete="off" type="text">
            <mat-error align="start" *ngIf="InputValidation.checkInputErrors(lastName)">
              <qaroni-input-error-messages [fc]="lastName"></qaroni-input-error-messages>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>

      <div [class]="getCol" *ngIf="typeIsLegal">
        <mat-form-field appearance="outline">
          <mat-label>{{'Tradename'|translate}}</mat-label>
          <input matInput formControlName="tradename" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(tradename)">
            <qaroni-input-error-messages [fc]="tradename"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <ng-container *ngIf="!client">
        <div [class]="getCol">
          <mat-form-field appearance="outline">
            <mat-label>{{'document-number'|translate}}</mat-label>
            <input matInput formControlName="document" autocomplete="off" type="text">
            <mat-error align="start" *ngIf="InputValidation.checkInputErrors(document)">
              <qaroni-input-error-messages [fc]="document"></qaroni-input-error-messages>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>

      <div [ngClass]="getColEmail">
        <mat-form-field appearance="outline">
          <mat-label>{{'Email'|translate}}</mat-label>
          <input matInput formControlName="email" autocomplete="off" type="email">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(email)">
            <qaroni-input-error-messages [fc]="email"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div [ngClass]="getCol">
        <mat-form-field appearance="outline">
          <mat-label>{{'Phone'|translate}}</mat-label>
          <input matInput formControlName="phone" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(phone)">
            <qaroni-input-error-messages [fc]="phone"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div [ngClass]="getCol" *ngIf="typeIsPhysical">
        <mat-form-field appearance="outline">
          <mat-label>{{'birthdate'|translate}}</mat-label>
          <input matInput formControlName="birthday" [matDatepicker]="birthdayPicker" (focus)="birthdayPicker.open()"
            (click)="birthdayPicker.open()" (keypress)="birthdayPicker.open()" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdayPicker></mat-datepicker>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(birthday)">
            <qaroni-input-error-messages [fc]="birthday"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div [ngClass]="getCol" *ngIf="typeIsPhysical">
        <mat-form-field appearance="outline">
          <mat-label>{{'gender'|translate}}</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of UserDataUtils.getGenderArray()" [value]="gender">
              {{gender|gender|translate}}
            </mat-option>
          </mat-select>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(gender)">
            <qaroni-input-error-messages [fc]="gender"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-12">
        <div class="mat-h3 mb-0 font-weight-bold">{{'Address'|translate}}</div>
        <mat-divider class="mb-2"></mat-divider>
      </div>

      <div class="col-10 col-sm-12 col-md-8">
        <mat-form-field appearance="outline">
          <mat-label>{{'Address'|translate}}</mat-label>
          <input matInput formControlName="line1" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(line1)">
            <qaroni-input-error-messages [fc]="line1"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>{{'City'|translate}}</mat-label>
          <input matInput formControlName="city" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(city)">
            <qaroni-input-error-messages [fc]="city"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>{{'Postal code'|translate}}</mat-label>
          <input matInput formControlName="postalCode" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(postalCode)">
            <qaroni-input-error-messages [fc]="postalCode"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>{{'Province'|translate}}</mat-label>
          <input matInput formControlName="stateProvince" autocomplete="off" type="text"
            [matAutocomplete]="theProvinces">
          <mat-autocomplete #theProvinces="matAutocomplete">
            <mat-option *ngFor="let province of filteredProvinces|async" [value]="province">
              {{province}}
            </mat-option>
          </mat-autocomplete>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(stateProvince)">
            <qaroni-input-error-messages [fc]="stateProvince"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>{{'Country'|translate}}</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of CountryUtils.getCountryArray()" [value]="country">
              {{country|country}}
            </mat-option>
          </mat-select>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(country)">
            <qaroni-input-error-messages [fc]="country"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="row justify-content-end align-items-center">
      <div class="col-auto">
        <span class="cancel-link" (click)="onCancelClick()">
          {{'Cancel'|translate}}
        </span>
      </div>
      <div class="col-auto">
        <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
          <mat-icon>{{submitMatIcon}}</mat-icon>
          {{submitText|translate}}
        </button>
      </div>
    </div>
  </mat-dialog-actions>

</form>
