<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'My account'|translate"></qaroni-page-title>
    </div>
  </div>
  <div class="row">

    <ng-container *ngIf="hasMyInformation">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['my-information']" matIcon="account_box"
          [title]="'My information'|translate"
          [description]="'Update your personal data, contact information, tastes and topics of interest'|translate"
          [actionVerb]="'Update'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyAddresses">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['my-addresses']" matIcon="map" [title]="'Addresses'|translate"
          [description]="'Manage your addresses and shipping preferences for orders'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyOrders">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['/orders']" matIcon="assignment" [title]="'My orders'|translate"
          [description]="'Manage, pay and track the status of your orders'|translate"
          [actionVerb]="'See orders'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyWebinars">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['my-webinars']" matIcon="cast" [title]="'My webinars'|translate"
          [description]="'Manage webinars'|translate" [actionVerb]="'See webinars'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyStreamings">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['my-streamings']" matIcon="view_stream"
          [title]="'My streamings'|translate" [description]="'Manage streaming transmissions'|translate"
          [actionVerb]="'See streamings'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyTickets">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['my-tickets']" matIcon="receipt" [title]="'My tickets'|translate"
          [description]="'Get tickets to events'|translate" [actionVerb]="'See tickets'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMySubscriptions">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['my-subscriptions']" matIcon="computer"
          [title]="'My subscriptions'|translate" [description]="'Review subscriptions, registration, renewal'|translate"
          [actionVerb]="'See subscriptions'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyMultimedia">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['my-multimedia']" matIcon="play_circle_outline"
          [title]="'My multimedia'|translate" [description]="'Access my multimedia content'|translate"
          [actionVerb]="'See multimedia'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyRequests">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['/associations', 'my-enrollment-requests']"
          faIcon="fas fa-file-signature fa-lg pl-2" [title]="'My requests'|translate"
          [description]="'Manage my requests'|translate" [actionVerb]="'Manage'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

    <ng-container *ngIf="hasMyLicenses">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
        <qaroni-manage-item-card @enterFadeIn [link]="['/associations', 'my-licenses']" faIcon="fas fa-id-card fa-lg"
          [title]="titleMyLicenses|translate" [description]="textMyLicenses|translate"
          [actionVerb]="'Manage'|translate">
        </qaroni-manage-item-card>
      </div>
    </ng-container>

  </div>
</div>
