// ==========================================================================================
// Colors
// ==========================================================================================
$primary-color: #666666;
$secondary-color: #63c3b7;
$tertiary-color: #004548;

$color-dark-primary-text: #313131;
$color-dark-secondary-text: rgba(black, 0.54);
$color-primary-text: #4a4a4a;
$color-secondary-text: #9b9b9b;
$bg-cards: #fafafa;
$border-cards: #e9e9e9;

//Products Card Label
$product-label-offer-bg-color: #e53935;
$product-label-outlet-bg-color: #2196f3;
$product-label-novelty-bg-color: #fb8c00;

//Header
$bg-header: #ffffff;
$color-items-header: $color-dark-primary-text;

//Footer
$bg-footer-first: #284549;
$color-title-footer-first: #ffffff;
$color-item-footer-first: #ffffff;
$bg-footer-content: #162628;
$color-footer-content: #ffffff;

// ==========================================================================================
// Brands
// ==========================================================================================
$brand-logo-wrapper-width: 10rem;
$brand-logo-img-max-height: 5rem;

//Slides
$slides-height: 670px;
$slides-mask-background: transparent;

// ==========================================================================================
// Grid breakpoints
// ==========================================================================================

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// ==========================================================================================
// Header sizes
// ==========================================================================================
$header-big: 94px;
$header-small: 64px;
$header-image-max-width: 200px;

// ==========================================================================================
// Compact breakpoint
// ==========================================================================================
$compact-bp: 1200;

// ==========================================================================================
// Font Families
// ==========================================================================================
$font-family-primary: "Source Sans Pro", sans-serif;
$font-family-secondary: "Merriweather", serif;
$font-family-material: "Merriweather", serif;
