<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'My orders'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="orders?.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div *ngFor="let order of orders" class="col-12 col-lg-10 mb-5">
        <qaroni-order-resume [order]="order" (invoice)="onOrderInvoice($event)" (ticket)="onOrderTicket($event)">
        </qaroni-order-resume>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content faIcon="fas fa-receipt" [title]="'orders-empty-title'|translate"
        [subtitle]="'orders-empty-subtitle'|translate" [loaded]="initLoaded" actionMatIcon="shopping_basket"
        [actionText]="'Start shopping'|translate" (action)="onStartShopping()">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
