<ng-container *ngFor="let productOption of product?.options; let optionIndex = index">
  <div class="row">
    <div class="col-12 option-label font-family-primary">{{productOption?.label}}</div>
    <div class="col-auto options-buttons">

      <mat-divider inset class="option-scope-divider"></mat-divider>

      <ng-container *ngFor="let productOptionValue of productOption?.values">

        <ng-container *ngFor="let variantOption of product?.variant?.options; let variantOptionIndex = index">
          <ng-container *ngIf="productOption?.id === variantOption.id">

            <ng-container
              *ngIf="productOption?.id === product?.variant?.options[variantOptionIndex]?.id && productOptionValue?.value === product?.variant?.options[variantOptionIndex]?.value; else availableOption">
              <button mat-flat-button color="primary" class="option-button">
                {{productOptionValue?.value}}
              </button>
            </ng-container>

            <ng-template #availableOption>
              <button mat-stroked-button class="option-button"
                (click)="onSelectOption(productOption?.id, productOptionValue?.value)">
                {{productOptionValue?.value}}
              </button>
            </ng-template>

          </ng-container>
        </ng-container>

      </ng-container>
    </div>
  </div>
</ng-container>
