@import "compile";

.option-label {
  margin-bottom: 2.5px;
  color: $color-dark-primary-text;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  height: 18px;
  max-height: 18px;
}

.options-buttons {
  margin-bottom: 12px;

  .option-scope-divider {
    margin-bottom: 5px !important;
  }

  .option-button {
    margin: 2px;
  }
}
