<button mat-button class="close-icon" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>{{data.title}}</div>
<mat-dialog-content class="font-family-primary-light">
  <p [innerHTML]="data.message"></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="row justify-content-end align-items-center">
    <div class="col-auto">
      <span class="cancel-link" (click)="onCancelClick()">
        <ng-container *ngIf="data.cancelIcon">
          <i [class]="data.cancelIcon"></i>
        </ng-container>
        {{data.cancelText || ('Cancel'|translate)}}
      </span>
    </div>
    <div class="col-auto">
      <button mat-flat-button color="accent" class="button-lg" [mat-dialog-close]="true" cdkFocusInitial>
        <i [class]="data.confirmFaIcon"></i> {{data.confirmText}}
      </button>
    </div>
  </div>
</mat-dialog-actions>
