<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="titleLicenseDetails|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="licenseCompany; else cardEmptyContent">
    <div class="row justify-content-center justify-content-md-start">
      <div class="col-12 col-sm-10 col-md-5 col-lg-auto mb-3">
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="onEditInformation()">
            <mat-icon mat-list-icon>edit</mat-icon> Editar información
          </mat-list-option>
          <mat-list-option (click)="onEditAddress()">
            <mat-icon mat-list-icon>edit</mat-icon> Editar dirección
          </mat-list-option>
          <mat-list-option (click)="onEditContactInformation()">
            <mat-icon mat-list-icon>supervisor_account</mat-icon> Editar información del contacto
          </mat-list-option>
          <mat-list-option (click)="onEditContactAddress()">
            <mat-icon mat-list-icon>supervisor_account</mat-icon> Editar dirección del contacto
          </mat-list-option>
          <mat-list-option (click)="onDownloadWallet()" *ngIf="licenseCompany?.walletUrl">
            <mat-icon mat-list-icon>cloud_download</mat-icon> Descargar Wallet
          </mat-list-option>
          <mat-list-option *ngIf="showRenew" (click)="renewReactivateLicenseCompany(GroupInscriptionTypeEnum.RENEWAL)">
            <mat-icon mat-list-icon>sync</mat-icon> {{'Renew'|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="showReactivateDates || showReactivateStatus"
            (click)="renewReactivateLicenseCompany(GroupInscriptionTypeEnum.REACTIVATION)">
            <mat-icon mat-list-icon>sync</mat-icon> {{'Reactivate'|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="isPartner" (click)="onRequestRegistration()">
            <mat-icon mat-list-icon>login</mat-icon> {{'Process registration'|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="isPartner && allowPartnerMember" (click)="onListPartnerMembers()">
            <mat-icon mat-list-icon>list</mat-icon> {{textListPartnerMembers|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="isPartner && allowPartnerMember" (click)="onListPartnerMembersInscriptions()">
            <mat-icon mat-list-icon>list</mat-icon> {{textListPartnerMembersInscriptions|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="isPartner && allowPartnerCompany" (click)="onListPartnerCompanies()">
            <mat-icon mat-list-icon>list</mat-icon> {{textListPartnerCompanies|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="isPartner && allowPartnerCompany" (click)="onListPartnerCompanyInscriptions()">
            <mat-icon mat-list-icon>list</mat-icon> {{textListPartnerCompanyInscriptions|translate}}
          </mat-list-option>
          <mat-list-option disabled>
            <mat-icon mat-list-icon>notifications</mat-icon> Notificaciones
          </mat-list-option>
          <mat-list-option disabled>
            <mat-icon mat-list-icon>people</mat-icon> Networking
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4">
        <qaroni-license-company-item @enterFadeIn [company]="licenseCompany"></qaroni-license-company-item>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no information about this license'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
