<div class="wrapper-filters">

  <div class="d-flex flex-row justify-content-center mb-3" *ngIf="showResetFilters">
    <button mat-flat-button color="accent" (click)="all()" class="m-1">
      <mat-icon>replay</mat-icon>
      {{'Reset filters'|translate}}
    </button>
  </div>

  <ng-container *ngFor="let filter of keysProductsFiltersEnvironment">
    <ng-container [ngSwitch]="filter">

      <ng-container *ngSwitchCase="'attributes'">
        <ng-container *ngIf="hasAttributesFilters">
          <qaroni-products-filter-attributes (queryParamsChange)="onGetQueryParams($event)">
          </qaroni-products-filter-attributes>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'brands'">
        <ng-container *ngIf="hasBrandsFilter">
          <div class="wrapper-filter">
            <qaroni-products-filter-brands (queryParamsChange)="onGetQueryParams($event)">
            </qaroni-products-filter-brands>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'categories'">
        <ng-container *ngIf="hasCategoriesFilter">
          <div class="wrapper-filter">
            <qaroni-products-filter-categories (queryParamsChange)="onGetQueryParams($event)">
            </qaroni-products-filter-categories>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'collections'">
        <ng-container *ngIf="hasCollectionsFilter">
          <div class="wrapper-filter">
            <qaroni-products-filter-collections (queryParamsChange)="onGetQueryParams($event)">
            </qaroni-products-filter-collections>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'noveltyOutlet'">
        <ng-container *ngIf="hasNoveltyOutletFilter">
          <div class="wrapper-filter">
            <qaroni-products-filter-novelty-outlet (queryParamsChange)="onGetQueryParams($event)">
            </qaroni-products-filter-novelty-outlet>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'prices'">
        <ng-container *ngIf="hasPricesFilter">
          <div class="wrapper-filter">
            <qaroni-products-filter-prices (queryParamsChange)="onGetQueryParams($event)">
            </qaroni-products-filter-prices>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'search'">
        <ng-container *ngIf="hasSearchFilter">
          <div class="wrapper-filter">
            <qaroni-products-filter-search (queryParamsChange)="onGetQueryParams($event)">
            </qaroni-products-filter-search>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'type'">
        <ng-container *ngIf="hasTypeFilter">
          <div class="wrapper-filter">
            <qaroni-products-filter-type (queryParamsChange)="onGetQueryParams($event)"></qaroni-products-filter-type>
          </div>
        </ng-container>
      </ng-container>

    </ng-container>
  </ng-container>
</div>
