<div class="filters-title">{{'Search by terms'|translate}}</div>
<div class="d-flex d-row">
  <div class="w-100 px-1">
    <mat-form-field appearance="outline">
      <mat-label>{{'Search by'|translate}}:</mat-label>
      <input matInput [(ngModel)]="search" autocomplete="off" type="text" (keyup.enter)="onInputKeyUp($event)">
    </mat-form-field>
  </div>
</div>
<div class="d-flex d-row justify-content-end">
  <button mat-mini-fab color="primary" class="flat" [disabled]="!canFilterBySearch" (click)="onFilterBySearch()">
    <mat-icon>search</mat-icon>
  </button>
</div>
