@import "compile";

.container-icon {
  margin-bottom: 60px;
  box-sizing: border-box;
  height: 151px;
  width: 151px;
  max-width: 100%;
  border: 1px solid $border-cards;
  background-color: $bg-cards;
  border-radius: 50%;

  .empty-image {
    width: 85px;
    max-width: 100%;
    height: auto;
    max-height: 85px;
  }

  i {
    font-size: 85px;
    color: $tertiary-color;
  }
}

.title {
  margin-bottom: 30px;
  color: $color-primary-text;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.subtitle {
  margin-bottom: 45px;
  opacity: 0.67;
  color: $color-dark-primary-text;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

.col-action-button {
  margin-bottom: 45px;
  text-align: center;
}
