<ng-container *ngIf="loaded; else cardLoadingContent">
  <div @enterFadeIn class="row justify-content-center">
    <div class="col-auto">
      <div class="container-icon d-flex justify-content-center align-items-center">
        <ng-container *ngIf="faIcon; else useImage"><i [class]="faIcon"></i></ng-container>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-12 col-md-8 col-lg-6">
      <div class="title font-family-primary-light">{{title}}</div>
      <div class="subtitle font-family-secondary-light">{{subtitle}}</div>
    </div>
    <div class="col-12 col-action-button" *ngIf="actionText || actionMatIcon || actionFaIcon">
      <button mat-flat-button color="accent" class="button-lg" (click)="onAction($event)">
        <ng-container *ngIf="actionMatIcon || actionFaIcon">
          <ng-container *ngIf="actionMatIcon; else useFaIcon">
            <mat-icon>{{actionMatIcon}}</mat-icon>
          </ng-container>
          <ng-template #useFaIcon><i [class]="actionFaIcon"></i></ng-template>
        </ng-container>
        <ng-container *ngIf="actionText">{{actionText}}</ng-container>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>

<ng-template #useImage>
  <ng-container *ngIf="imageSrc; else defaultFaIcon">
    <img [src]="imageSrc" [alt]="'Empty data'|translate" class="empty-image">
  </ng-container>
</ng-template>

<ng-template #defaultFaIcon>
  <i class="fas fa-box-open"></i>
</ng-template>
