<ng-container *ngIf="order?.items?.length">
  <mat-card class="bg-grey mb-3">
    <mat-card-content>
      <div class="row">
        <div class="col-12" *ngFor="let item of order?.items">
          <qaroni-shopping-cart-order-item [item]="item" (deleteItem)="onDeleteItem($event)"
            (updateItem)="onUpdateItem($event)">
          </qaroni-shopping-cart-order-item>
          <mat-divider inset class="divider-sections"></mat-divider>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <span class="actions-link" (click)="onEmptyShoppingCart()">
        <mat-icon>delete</mat-icon> {{'empty-shopping-cart'|translate}}
      </span>
    </mat-card-actions>
  </mat-card>
</ng-container>
