@import "compile";
@import "src/assets/scss/mixins/links";

.mat-card {
  padding: 40px 30px 30px 30px;

  .mat-card-content {
    margin: 0;
  }

  .mat-card-actions {
    margin: 0;
    padding: 0;

    .actions-link {
      display: inline-block;
      font-size: 13px;
      line-height: 15px;
      @include link-tertiary-to-secondary-bold;

      .mat-icon {
        vertical-align: middle;
      }
    }
  }
}
