<button mat-button class="close-icon" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>
  {{'Address'|translate}}
</div>

<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <div class="row justify-content-center">
      <div class="col-10 col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'alias'|translate}}</mat-label>
          <input matInput formControlName="alias" autocomplete="off" type="text">
          <mat-hint align="end">
            {{InputValidation.counterLength(alias, InputConfig.address.alias.maxLength)}}
          </mat-hint>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(alias)">
            <qaroni-input-error-messages [fc]="alias"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6">
        <div class="wrapper-checkbox">
          <mat-checkbox formControlName="default" class="mat-small">
            {{'Set as default'|translate}}
          </mat-checkbox>
        </div>
      </div>

      <div class="col-10 col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'Address'|translate}}</mat-label>
          <input matInput formControlName="line1" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(line1)">
            <qaroni-input-error-messages [fc]="line1"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'Address optional'|translate}}</mat-label>
          <input matInput formControlName="line2" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(line2)">
            <qaroni-input-error-messages [fc]="line2"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'City'|translate}}</mat-label>
          <input matInput formControlName="city" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(city)">
            <qaroni-input-error-messages [fc]="city"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'Postal code'|translate}}</mat-label>
          <input matInput formControlName="postalCode" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(postalCode)">
            <qaroni-input-error-messages [fc]="postalCode"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'Province'|translate}}</mat-label>
          <input matInput formControlName="stateProvince" autocomplete="off" type="text">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(stateProvince)">
            <qaroni-input-error-messages [fc]="stateProvince"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-10 col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'Country'|translate}}</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of CountryUtils.getCountryArray()" [value]="country">
              {{country|country}}
            </mat-option>
          </mat-select>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(country)">
            <qaroni-input-error-messages [fc]="country"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="row justify-content-end align-items-center">
      <div class="col-auto">
        <span class="cancel-link" (click)="onCancelClick()">
          {{'Cancel'|translate}}
        </span>
      </div>
      <div class="col-auto">
        <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
          <mat-icon>save</mat-icon>
          {{'save'|translate}}
        </button>
      </div>
    </div>
  </mat-dialog-actions>

</form>
