<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title title="Dashboard works!"></qaroni-page-title>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <mat-card>
        <mat-card-content>
          <button mat-raised-button color="primary" class="mx-1" [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active">
            Login
          </button>
          <button mat-raised-button color="warn" class="mx-1" [routerLink]="['/auth/logout']"
            routerLinkActive="router-link-active">
            Logout
          </button>
          <!-- Example split danger button -->
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Action</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <p>
            <a class="btn btn-primary mr-1" data-toggle="collapse" href="#collapseExample" role="button"
              aria-expanded="false" aria-controls="collapseExample">
              Link with href
            </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
              keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
