<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Fill form'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="initLoaded; else cardLoadingContent"></ng-container>
  <div class="row justify-content-center" [ngClass]="{'d-none': !initLoaded}">

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 order-2 order-lg-1 mb-4">

      <mat-vertical-stepper linear>
        <mat-step [stepControl]="userDataComponent.userDataForm">
          <ng-template matStepLabel>{{titlePersonalInfo|translate}}</ng-template>

          <div class="pt-3">
            <qaroni-user-data-form #userDataComponent></qaroni-user-data-form>
          </div>

          <div class="row justify-content-end">
            <div class="col-auto">
              <button mat-flat-button color="primary" class="m-1" [disabled]="!validatedFormUserData" matStepperNext>
                {{'Next'|translate}}
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="userAddressComponent.userAddressForm">
          <ng-template matStepLabel>{{titleAddress|translate}}</ng-template>

          <div class="pt-3">
            <qaroni-user-address-form #userAddressComponent></qaroni-user-address-form>
          </div>

          <div class="row justify-content-end">
            <div class="col-auto">
              <button mat-flat-button color="primary" class="m-1" matStepperPrevious>{{'Previous'|translate}}</button>
              <button mat-flat-button color="primary" class="m-1" *ngIf="hasPartnerForm || hasDynamicForm"
                [disabled]="!validatedFormUserAddress" matStepperNext>{{'Next'|translate}}</button>
            </div>
          </div>
        </mat-step>
        <mat-step *ngIf="hasPartnerForm">
          <ng-template matStepLabel>{{'Are you registered?'|translate}}</ng-template>

          <div class="pt-3">
            <qaroni-user-partner-form #userPartnerComponent></qaroni-user-partner-form>
          </div>

          <div class="row justify-content-end">
            <div class="col-auto">
              <button mat-flat-button color="primary" class="m-1" matStepperPrevious>{{'Previous'|translate}}</button>
              <button mat-flat-button color="primary" class="m-1" *ngIf="hasDynamicForm"
                [disabled]="!validatedFormUserAddress" matStepperNext>{{'Next'|translate}}</button>
            </div>
          </div>
        </mat-step>
        <mat-step *ngIf="hasDynamicForm">
          <ng-template matStepLabel>{{'Additional required information'|translate}}</ng-template>

          <div class="pt-3" *ngIf="formFields?.length">
            <qaroni-dynamic-form [formFields]="formFields" #dynamicFormComponent></qaroni-dynamic-form>
          </div>

          <div class="row justify-content-end">
            <div class="col-auto">
              <button mat-flat-button color="primary" class="m-1" matStepperPrevious>{{'Previous'|translate}}</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>

      <div class="row justify-content-center">
        <div class="col-auto my-3">
          <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm"
            (click)="saveInscription()">{{'Submit'|translate}}</button>
        </div>
      </div>

    </div>

    <ng-container *ngIf="group">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 order-1 order-lg-2 mb-4">
        <qaroni-group-preview [group]="group"></qaroni-group-preview>
      </div>
    </ng-container>

  </div>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
