<span [ngSwitch]="ProductsEnv.productsPageStyle">
  <qaroni-products-style-one *ngSwitchCase="AppProductsPageStyleEnum.ONE"></qaroni-products-style-one>
  <qaroni-products-style-two *ngSwitchCase="AppProductsPageStyleEnum.TWO"></qaroni-products-style-two>
  <qaroni-products-style-two *ngSwitchDefault></qaroni-products-style-two>
</span>
