<ng-container *ngIf="!hasCookies">
  <div class="container-fluid banner-cookies mat-elevation-z8">
    <div class="row">
      <div class="col-12 py-3">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg mat-small mb-2 mb-lg-0">

              <p class="mb-1">
                {{'When using our sites, we and our external partners may use cookies and technologies similar to collect user data for the following reasons'|translate}}:
              </p>

              <ul class="mb-1">
                <li>
                  {{'mandatory cookies are necessary for the site to work, for example, to remember your login details and offer a secure login'|translate}};
                </li>
                <li>
                  {{'functional cookies help us to optimize the website, for example, to collect statistics and save your preferences on our website'|translate}};
                </li>
              </ul>

              <p class="mb-0">
                {{'For get'|translate}}
                <a [href]="getCookiesUrl" class="read-more">{{'More information'|translate|lowercase}}</a>
                {{'About our'|translate|lowercase}}
                <a [href]="getCookiesUrl" class="read-more">{{'Cookies Policy'|translate}}</a>
              </p>

            </div>
            <div class="col-12 col-lg-auto text-right text-lg-center">
              <button mat-flat-button color="accent" class="button-lg" (click)="acceptCookies()">
                <i class="fas fa-cookie-bite"></i> {{'Accept cookies'|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
