@import "compile";
@import "src/assets/scss/mixins/links";

.banner-cookies {
  position: fixed;
  bottom: 0;
  background-color: $bg-header;
  color: $color-items-header;
  z-index: 10;

  .col-cookies-banner-info {
    font-size: 14px;
  }

  .mat-small {
    font-weight: 300;
  }

  .read-more {
    cursor: pointer;
    @include link-tertiary-to-secondary-bold;

    &:hover {
      color: $secondary-color;
    }
  }
}
