<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'News'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="news?.length; else cardLoadingContent">
    <div class="row">
      <div *ngFor="let newsItem of news" class="col-12 col-md-6 col-lg-4 mb-5">
        <qaroni-news-preview @enterFadeIn (queryParamsTag)="onQueryParamsChange($event)" [newsItem]="newsItem">
        </qaroni-news-preview>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="showMoreNews">
      <div class="col-8 my-4">
        <button mat-flat-button color="accent" class="w-100" (click)="onShowMoreNews()">
          <i class="fas fa-arrow-circle-down"></i>
          {{'Show more news'|translate}} ...
        </button>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
