@import "compile";
@import "src/assets/scss/mixins/links";

.title {
  max-height: 64px;
  overflow: hidden;
}

.description {
  margin-bottom: 4px;
  max-height: 120px;
  overflow: hidden;
}

.read-more {
  cursor: pointer;
  @include link-tertiary-to-secondary-bold;

  &:hover {
    color: $secondary-color;
  }
}
