<div class="nb-2" *ngIf="post?.imageUrl">
  <qaroni-image-aspect-ratio [src]="post.imageUrl" aspecRatio="16:9"></qaroni-image-aspect-ratio>
</div>
<div class="mat-small">{{post?.date|date:'longDate'}}</div>
<div class="mat-headline title font-family-primary">{{post.descriptions[0]?.title}}</div>
<div class="description font-family-secondary" [innerHTML]="post?.descriptions[0]?.shortDescription"></div>
<a class="mat-small read-more" [routerLink]="['/blogs', post?.postId, getUrlTitle]">{{'Read more'|translate}}</a>

<div class="mt-3">
  <ng-container *ngIf="checkRoute()">
    <mat-chip-list *ngIf="post?.tags?.length">
      <ng-container *ngFor="let tag of post.tags">
        <mat-chip class="chip-customized" (click)="checkTagInfo(tag.name)" color="accent" selected>
          {{tag.name}}
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </ng-container>
</div>
