@import "compile";

.mat-card {
  .col-accept-privacy {
    padding-top: 8px;
    margin-bottom: 30px;
    color: $color-primary-text;
    font-size: 13px;
    line-height: 21px;
  }

  .col-g-recaptcha {
    margin-bottom: 30px;
  }
}
