<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <ng-container *ngFor="let formField of formFields">
      <div class="col-12 col-dynamic-input">
        <div [ngSwitch]="formField?.field?.type">
          <div *ngSwitchCase="FieldTypeEnum.CHECKBOX">
            <mat-checkbox [formControlName]="formField?.field?.name">
              {{formField?.field?.label}}
            </mat-checkbox>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.DATE">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" [matDatepicker]="dynamicPicker"
                (focus)="dynamicPicker.open()" (click)="dynamicPicker.open()" (keypress)="dynamicPicker.open()"
                autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="dynamicPicker"></mat-datepicker-toggle>
              <mat-datepicker #dynamicPicker></mat-datepicker>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
            <!-- TODO: Resolve when has more than one input date -->
          </div>
          <div *ngSwitchCase="FieldTypeEnum.EMAIL">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="email">
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.FILE">
            file
          </div>
          <div *ngSwitchCase="FieldTypeEnum.NUMBER">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="number">
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.PASSWORD">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="password">
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.SELECT">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <mat-select [formControlName]="formField?.field?.name">
                <mat-option *ngFor="let option of formField?.field?.options" [value]="option?.value">
                  {{option?.name}}
                </mat-option>
              </mat-select>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.TEXT">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <input matInput [formControlName]="formField?.field?.name" autocomplete="off" type="text">
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="FieldTypeEnum.TEXTAREA">
            <mat-form-field appearance="outline">
              <mat-label>{{formField?.field?.label}}</mat-label>
              <textarea matInput [formControlName]="formField?.field?.name"></textarea>
              <mat-error align="start"
                *ngIf="InputValidation.checkInputErrors(dynamicForm.get(formField?.field?.name))">
                <qaroni-input-error-messages [fc]="dynamicForm.get(formField?.field?.name)">
                </qaroni-input-error-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-2"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
        {{'Submit'|translate}}
      </button>
    </div>
  </div>
</form>

<!-- <pre>{{this.dynamicForm.getRawValue()|json}}</pre> -->
