<ng-container *ngIf="group">
  <a [routerLink]="getEnrollmentLink" class="link-wrapper-card">
    <mat-card class="bg-grey card-style-one mat-card-elevation-hover h-100">
      <mat-card-content>
        <ng-container *ngIf="hasImage">
          <div class="mb-4">
            <img [src]="group?.imageUrl" [alt]="'image: ' + group?.name" class="img-fluid">
          </div>
        </ng-container>

        <div class="mb-3">
          <a [routerLink]="getEnrollmentLink">
            {{group?.name}}
          </a>
        </div>
        <div class="description mb-4" [innerHTML]="group?.description"></div>
        <!-- <div class="row">
          <div class="col-auto">
            <qaroni-info-label-value [label]="'Valid by'|translate"
              [value]="group?.months + ' ' + (timeUnitString(group?.months)|translate|lowercase)">
            </qaroni-info-label-value>
          </div>
          <div class="col-auto" *ngIf="group?.isPaid">
            <qaroni-info-label-value [label]="'Is paid'|translate" [value]="booleanToYesOrNo(group?.isPaid)|translate">
            </qaroni-info-label-value>
          </div>
          <div class="col-auto">
            <qaroni-info-label-value [label]="'Has approval?'|translate"
              [value]="booleanToYesOrNo(group?.hasApproval)|translate">
            </qaroni-info-label-value>
          </div>
        </div> -->

        <!-- <pre>{{group|json}}</pre> -->
        <button mat-icon-button color="accent" [matTooltip]="'Enrollment'|translate" matTooltipPosition="above"
          class="chevron-right">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </a>
</ng-container>
