<div class="container-fluid bg-footer-content font-family-primary">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row justify-content-center justify-content-sm-between align-items-center">

          <!-- Credits -->
          <div class="col-auto m-1">
            <a [href]="UrlsInfo?.website">{{AppEnv.title}}</a>
            <i class="far fa-copyright ml-1"></i> {{year}}.
            <span class="text-accent d-inline-block">{{'All rights reserved'|translate}}.</span>
            <div class="mt-1">
              <a [href]="UrlsInfo?.footerCredits" target="_blank">{{'Credits'|translate}}</a>
            </div>
          </div>
          <!-- Credits -->

          <!-- Social Network -->
          <div class="col-auto text-center m-1 social_network" *ngIf="UrlsInfo?.footerCredits">
            <ng-container *ngFor="let link of keysUrlsEnvironment">
              <ng-container [ngSwitch]="link">

                <ng-container *ngSwitchCase="'facebook'">
                  <a mat-mini-fab color="facebook" *ngIf="UrlsInfo?.facebook" [href]="UrlsInfo?.facebook"
                    class="m-1 flat network_icon" target="_blank" matTooltip="Facebook">
                    <i class="fab fa-facebook-f fa-lg"></i>
                  </a>
                </ng-container>

                <ng-container *ngSwitchCase="'flickr'">
                  <a mat-mini-fab color="flickr" *ngIf="UrlsInfo?.flickr" [href]="UrlsInfo?.flickr"
                    class="m-1 flat network_icon" target="_blank" matTooltip="Flickr">
                    <i class="fab fa-flickr fa-lg"></i>
                  </a>
                </ng-container>

                <ng-container *ngSwitchCase="'instagram'">
                  <a mat-mini-fab color="bg-instagram" *ngIf="UrlsInfo?.instagram" [href]="UrlsInfo?.instagram"
                    class="m-1 flat network_icon" target="_blank" matTooltip="Instagram">
                    <i class="fab fa-instagram fa-lg"></i>
                  </a>
                </ng-container>

                <ng-container *ngSwitchCase="'linkedin'">
                  <a mat-mini-fab color="linkedin" *ngIf="UrlsInfo?.linkedin" [href]="UrlsInfo?.linkedin"
                    class="m-1 flat network_icon" target="_blank" matTooltip="Linkedin">
                    <i class="fab fa-linkedin fa-lg"></i>
                  </a>
                </ng-container>

                <ng-container *ngSwitchCase="'twitter'">
                  <a mat-mini-fab color="twitter" *ngIf="UrlsInfo?.twitter" [href]="UrlsInfo?.twitter"
                    class="m-1 flat network_icon" target="_blank" matTooltip="Twitter">
                    <i class="fab fa-twitter fa-lg"></i>
                  </a>
                </ng-container>

                <ng-container *ngSwitchCase="'vimeo'">
                  <a mat-mini-fab color="vimeo" *ngIf="UrlsInfo?.vimeo" [href]="UrlsInfo?.vimeo"
                    class="m-1 flat network_icon" target="_blank" matTooltip="Vimeo">
                    <i class="fab fa-vimeo-v fa-lg"></i>
                  </a>
                </ng-container>

                <ng-container *ngSwitchCase="'whatsapp'">
                  <a mat-mini-fab color="whatsapp" *ngIf="UrlsInfo?.whatsapp" [href]="UrlsInfo?.whatsapp"
                    class="m-1 flat network_icon" target="_blank" matTooltip="WhatsApp">
                    <i class="fab fa-whatsapp fa-lg"></i>
                  </a>
                </ng-container>

                <ng-container *ngSwitchCase="'youtube'">
                  <a mat-mini-fab color="youtube" *ngIf="UrlsInfo?.youtube" [href]="UrlsInfo?.youtube"
                    class="m-1 flat network_icon" target="_blank" matTooltip="YouTube">
                    <i class="fab fa-youtube fa-lg"></i>
                  </a>
                </ng-container>

              </ng-container>
            </ng-container>
          </div>
          <!-- Social Network -->

        </div>
      </div>
    </div>
  </div>
</div>
