@import "compile";
@import "src/assets/scss/mixins/links";
@import "bootstrap";

.bg-footer-content {
  color: $color-footer-content;
  background-color: $bg-footer-content;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 12px;
  line-height: 14px;

  a {
    @include link-inherit-to-secondary;
  }

  .network_icon:hover {
    color: white;
  }
}

@include media-breakpoint-down(md) {
  .social_network {
    margin: 0 auto;
  }
}
