<div [ngSwitch]="LandingEnv.brands">
  <qaroni-brands-section-one *ngSwitchCase="AppLandingPageBrandsEnum.ONE" [brands$]="brands$">
  </qaroni-brands-section-one>
  <qaroni-brands-section-two *ngSwitchCase="AppLandingPageBrandsEnum.TWO" [brands$]="brands$">
  </qaroni-brands-section-two>
</div>
