<div class="row justify-content-end row-title-amount">
  <div class="col col-order-title font-family-primary-light">
    {{'Pedido'|translate}}
    <ng-container *ngIf="order?.code">
      Nº {{order?.code}}
    </ng-container>
    <ng-container *ngIf="order?.status">
      ({{order?.status|orderStatus|translate}})
    </ng-container>
  </div>
  <div class="col-12 col-sm-auto col-total-amount mt-3 mt-sm-0">
    <div>
      {{'total-amount'|translate}}:
      <span class="total-amount font-family-primary-bold">{{(order?.amount|integerToCurrency)}} €</span>
    </div>
    <div class="info-amounts">
      {{'subtotal'|translate}}:
      <span class="font-family-primary-semi-bold">
        {{order?.amount - order?.deliveryAmount|integerToCurrency}} €
      </span>
    </div>
    <div class="info-amounts">
      {{'shipping-costs'|translate}}:
      <span class="font-family-primary-semi-bold">{{order?.deliveryAmount|integerToCurrency}} €</span>
    </div>
  </div>
</div>
<div class="row" *ngIf="isOrderStatusAlert">
  <div class="col-12 col-order-alert font-family-primary-regular">
    <mat-icon>report</mat-icon>
    {{'There was a problem with the payment of this order, please contact the seller'|translate}}.
  </div>
</div>
<div class="row justify-content-between align-items-center row-date-invoice">
  <div class="col-auto col-date font-family-primary-medium">{{order?.creationDate|date:'medium'}}</div>
  <div class="col-auto" *ngIf="showInvoiceLink && isOrderStatusPaid">
    <ng-container *ngIf="hasInvoice; else getTicket">
      <span class="action-link" (click)="onGetInvoice()" [matTooltip]="'Get order invoice'|translate">
        {{'Invoice'|translate}}
      </span>
    </ng-container>
    <ng-template #getTicket>
      <span class="action-link" (click)="onGetTicket()" [matTooltip]="'Get order ticket'|translate">
        {{'Ticket'|translate}}
      </span>
    </ng-template>
  </div>
</div>
<div class="row">
  <div *ngIf="order?.status" class="col-auto">
    <qaroni-info-label-value [label]="'Estado'|translate" [value]="order?.status|orderStatus|translate">
    </qaroni-info-label-value>
  </div>
  <div *ngIf="order?.type" class="col-auto">
    <qaroni-info-label-value [label]="'Tipo de pedido'|translate" [value]="order?.type|orderType">
    </qaroni-info-label-value>
  </div>
  <div *ngIf="order?.trackingNumber" class="col-auto">
    <qaroni-info-label-value [label]="'tracking-number'|translate" [value]="order?.trackingNumber">
    </qaroni-info-label-value>
  </div>
  <div *ngIf="order?.items?.length" class="col-auto">
    <qaroni-info-label-value [label]="'total-products'|translate" [value]="OrderUtils.totalItems(order)">
    </qaroni-info-label-value>
  </div>
</div>
