@import "compile";
@import "src/assets/scss/mixins/links";

.row-title-amount {
  margin-bottom: 25px;

  .col-order-title {
    color: $color-primary-text;
    font-size: 28px;
    line-height: 40px;
  }

  .col-total-amount {
    text-align: right;
    color: $color-primary-text;
    font-size: 20px;
    line-height: 24px;

    .total-amount {
      display: inline-block;
      color: $secondary-color;
      font-size: 20px;
      line-height: 29px;
    }

    .info-amounts {
      padding-right: 8px;
      color: $color-dark-primary-text;
      font-size: 15px;
      line-height: 21px;
    }
  }
}

.col-order-alert {
  color: $color-primary-text;
  font-size: 16px;
  margin-bottom: 20px;

  .mat-icon {
    vertical-align: middle;
    color: var(--danger);
    margin-right: 2px;
  }
}

.row-date-invoice {
  margin-bottom: 35px;

  .col-date {
    color: $color-dark-primary-text;
    font-size: 18px;
    line-height: 21px;
  }

  .action-link {
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
    @include link-tertiary-to-secondary-bold;
  }

  .action-link:not(:last-child) {
    padding-right: 25px;
  }
}
