<div class="container pt-3 pb-3">

  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Blogs'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="posts?.length; else cardLoadingContent">
    <div class="row">
      <div *ngFor="let post of posts" class="col-12 col-md-6 col-lg-4 mb-5">
        <qaroni-posts-preview @enterFadeIn (queryParamsTag)="onQueryParamsChange($event)" [post]="post">
        </qaroni-posts-preview>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="showMorePosts">
      <div class="col-8 my-4">
        <button mat-flat-button color="accent" class="w-100" type="button" (click)="onShowMorePosts()">
          <i class="fas fa-arrow-circle-down"></i>
          {{'Show more posts'|translate}} ...
        </button>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
