<div class="container pt-3 pb-3">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-md">
      <qaroni-page-title [title]="'Last News'|translate" titleClass="secondary"></qaroni-page-title>
    </div>
    <div class="col-12 col-md-auto col-title-links mb-4 mb-md-0">
      <a class="title-link" [routerLink]="['/news']">
        <i class="fas fa-plus"></i> {{'See all'|translate}}
      </a>
    </div>
  </div>

  <ng-container *ngIf="(news$|async) as news; else cardLoadingContent">
    <div class="row">
      <div *ngFor="let newsItem of news" class="col-12 col-md-6 col-lg-4 mb-3">
        <qaroni-news-preview @enterFadeIn [newsItem]="newsItem"></qaroni-news-preview>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
