<mat-card @enterFadeIn class="bg-grey card-style-one">
  <mat-card-header>
    <mat-card-title>{{title|translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <!-- <div class="col-12">
        <div class="mat-title mb-0">
          {{title|translate}}
        </div>
        <mat-divider inset class="mb-3"></mat-divider>
      </div> -->
      <div class="col-12 mb-3 text-center" *ngIf="licenseMember?.imageUrl">
        <img [src]="licenseMember?.imageUrl" [alt]="licenseMember?.userInfo?.firstName" class="img-fluid">
        <!-- <qaroni-image-default [merchant]="merchant"></qaroni-image-default> -->
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto" *ngIf="licenseMember?.imageUrl">
        <button mat-flat-button color="accent" class="button-lg" (click)="onDeleteImage(licenseMember?.imageUrl)"
          [disabled]="!validatedForm">
          <mat-icon>delete_forever</mat-icon>
          {{'Delete image'|translate}}
        </button>
      </div>
      <div class="col-auto" *ngIf="!licenseMember?.imageUrl">
        <input #imagesInput name="images" type="file" class="d-none" (change)="onFileChanged($event)">
        <button mat-flat-button color="primary" class="button-lg" (click)="imagesInput.click()"
          [disabled]="!validatedForm">
          <mat-icon>image</mat-icon>
          {{'Upload image'|translate}}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
