@import "compile";
@import "src/assets/scss/mixins/breakpoints";

.carousel-item {
  height: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .mask {
    width: 100%;
    height: 100%;
    background: $slides-mask-background;

    .carousel-caption {
      bottom: 0;
      top: 0;
      text-align: left;

      .title-text {
        color: #ffffff;
        font-size: 27.5px;
        line-height: 35px;

        @include sm {
          font-size: 45px;
          letter-spacing: -1px;
          line-height: 65px;
        }

        @include md {
          font-size: 60px;
          letter-spacing: -1.5px;
          line-height: 86px;
        }
      }

      .description-text {
        margin-top: 20px;
        color: #ffffff;
        font-size: 17.5px;
        line-height: 22.5px;

        @include md {
          font-size: 20px;
          line-height: 24px;
        }
      }

      .button-action {
        margin-top: 40px;
      }
    }
  }

  .mask {
    height: $slides-height;
    max-height: 600px;

    @include md {
      max-height: calc(100vh - #{$header-small}) !important;
    }

    @include rwbp($compact-bp) {
      max-height: calc(100vh - #{$header-big}) !important;
    }
  }
}
