<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-12">
      <header class="w-100">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">

          <ng-container *ngIf="slides?.length > 1">
            <ol class="carousel-indicators">
              <ng-container *ngFor="let slide of slides; let i = index">
                <li data-target="#carouselIndicators" [attr.data-slide-to]="i" [ngClass]="{'active': getIfActive(i)}">
                </li>
              </ng-container>
            </ol>
          </ng-container>

          <div class="carousel-inner" role="listbox">
            <ng-container *ngFor="let slide of slides; let i = index">
              <div class="carousel-item" [ngClass]="{'active': getIfActive(i)}"
                [ngStyle]="{'background-image': getBgImageSrc(slide)}">
                <div class="mask">
                  <div class="carousel-caption">
                    <div class="d-flex flex-column justify-content-center h-100">
                      <div class="title-text font-family-primary-bold" [innerHTML]="slide?.title"></div>
                      <ng-container *ngIf="slide?.description">
                        <div class="description-text font-family-primary" [innerHTML]="slide?.description"></div>
                      </ng-container>
                      <div *ngIf="showSlideButton && slide?.buttonName && slide?.buttonAction">
                        <ng-container *ngIf="slide?.internal">
                          <ng-container *ngTemplateOutlet="linkIsInternal; context: { slide: slide }"></ng-container>
                        </ng-container>
                        <ng-container *ngIf="!slide?.internal">
                          <ng-container *ngTemplateOutlet="linkIsExternal; context: { slide: slide }"></ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="slides?.length > 1">
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </ng-container>

        </div>
      </header>
    </div>
  </div>
</div>

<ng-template #linkIsInternal let-slide="slide">
  <button mat-flat-button color="accent" class="button-lg button-action"
    [routerLink]="slide?.buttonAction|routerLinkBase" [queryParams]="slide?.buttonAction|routerLinkQueryParams">
    {{slide?.buttonName}}
  </button>
</ng-template>

<ng-template #linkIsExternal let-slide="slide">
  <a mat-flat-button color="accent" class="button-lg button-action" [href]="slide?.buttonAction"
    [target]="slide?.local ? '_self' : '_blank'">
    {{slide?.buttonName}}
  </a>
</ng-template>
