@import "compile";
@import "src/assets/scss/mixins/breakpoints";
@import "src/assets/scss/mixins/transitions";

.mat-toolbar {
  background-color: $bg-header;
  color: $color-items-header;
  overflow: hidden;

  .container-img-logo {
    img {
      max-height: calc(#{$header-small} - 10px);
      max-width: $header-image-max-width;

      @include rwbp($compact-bp) {
        max-height: calc(#{$header-big} - 20px);
        max-width: $header-image-max-width;
      }
    }
  }

  .nav .nav-link {
    padding: 15px 10px;
    color: $color-items-header;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    &:hover {
      color: $secondary-color;
      @include transition-color;
    }
  }

  .mat-icon-button {
    &:hover {
      color: $secondary-color;
      @include transition-color;
    }
  }
}

.mat-toolbar {
  &.mat-toolbar-row,
  &.mat-toolbar-single-row {
    height: auto;
    min-height: $header-small;

    @include rwbp($compact-bp) {
      min-height: $header-big;
    }
  }
}

.mat-progress-bar {
  position: absolute;
  bottom: 0;
}
