<mat-toolbar color="none" class="mat-elevation-z3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto pr-0">
        <ng-container *ngIf="stateBackButton">
          <button mat-icon-button class="mr-3" (click)="onBackButton()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </ng-container>
        <a [href]="UrlsInfo?.website" class="container-img-logo">
          <img [src]="ImagesInfo?.logos?.toolbar?.source" [alt]="ImagesInfo?.logos?.toolbar?.alt">
        </a>
      </div>
      <div class="col px-0">
        <div class="d-flex flex-row justify-content-end align-items-center">
          <ng-container *ngIf="bpLg.matches">

            <nav class="nav" *ngIf="navbars?.length">
              <ng-container *ngFor="let navbar of navbars">
                <ng-container *ngIf="navbar?.internal">
                  <ng-container *ngTemplateOutlet="navIsInternal; context: { navbar: navbar }"></ng-container>
                </ng-container>
                <ng-container *ngIf="!navbar?.internal">
                  <ng-container *ngTemplateOutlet="navIsExternal; context: { navbar: navbar }"></ng-container>
                </ng-container>
              </ng-container>
            </nav>

          </ng-container>
          <ng-container *ngIf="showLanguageButton">
            <button mat-icon-button [class.big-mat-icon-button]="bpLg.matches" [matMenuTriggerFor]="langMenu"
              [matTooltip]="'change-language'|translate">
              <mat-icon>language</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="hasUser && getAllowShoppingCart">
            <button mat-icon-button [class.big-mat-icon-button]="bpLg.matches" [routerLink]="['/shopping-cart']"
              routerLinkActive="mat-accent" [matTooltip]="'Shopping cart'|translate">
              <mat-icon [matBadge]="shoppingCartItems" matBadgeColor="accent" matBadgeSize="medium">shopping_cart
              </mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!hasUser && bpLg.matches">
            <button mat-icon-button [class.big-mat-icon-button]="bpLg.matches" class="mx-1"
              [routerLink]="['/auth/login']" routerLinkActive="mat-accent" [matTooltip]="'Log in'|translate">
              <mat-icon>account_circle</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="hasUser || !bpLg.matches">
            <button mat-icon-button [class.big-mat-icon-button]="bpLg.matches" [matMenuTriggerFor]="toolbarMenu"
              [matTooltip]="'more-options'|translate">
              <mat-icon>more_vert</mat-icon>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
<ng-container *ngIf="stateProgressBar">
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</ng-container>

<mat-menu #toolbarMenu="matMenu">
  <ng-container *ngIf="!bpLg.matches">

    <ng-container *ngIf="navbars?.length">
      <ng-container *ngFor="let navbar of navbars">
        <ng-container *ngIf="navbar?.internal">
          <ng-container *ngTemplateOutlet="itemIsInternal; context: { navbar: navbar }"></ng-container>
        </ng-container>
        <ng-container *ngIf="!navbar?.internal">
          <ng-container *ngTemplateOutlet="itemIsExternal; context: { navbar: navbar }"></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-divider></mat-divider>
  </ng-container>
  <ng-container *ngIf="hasUser; else loginMenuItem">
    <ng-container *ngTemplateOutlet="userMenuItems"></ng-container>
  </ng-container>
</mat-menu>

<ng-template #loginMenuItem>
  <button mat-menu-item [routerLink]="['/auth/login']" routerLinkActive="active-menu-item">
    <mat-icon>account_circle</mat-icon>
    <span>{{'Log in'|translate}}</span>
  </button>
</ng-template>

<ng-template #userMenuItems>
  <ng-container *ngIf="!bpLg.matches && getAllowShoppingCart">
    <button mat-menu-item [routerLink]="['/shopping-cart']" routerLinkActive="active-menu-item">
      <mat-icon>shopping_cart</mat-icon>
      <span>{{'Shopping cart'|translate}}</span>
    </button>
    <mat-divider></mat-divider>
  </ng-container>
  <button mat-menu-item [routerLink]="['/orders']" routerLinkActive="active-menu-item">
    <mat-icon>assignment</mat-icon>
    <span>{{'My orders'|translate}}</span>
  </button>
  <button mat-menu-item [routerLink]="['/my-account']" routerLinkActive="active-menu-item">
    <mat-icon>account_box</mat-icon>
    <span>{{'My account'|translate}}</span>
  </button>
  <button mat-menu-item [routerLink]="['/auth/logout']" routerLinkActive="active-menu-item">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'Log out'|translate}}</span>
  </button>
</ng-template>

<mat-menu #langMenu="matMenu">
  <ng-container *ngIf="showLanguageOptionEs">
    <button mat-menu-item (click)="switchLang(LanguageEnum.es)">
      <span>Español</span>
    </button>
  </ng-container>
  <ng-container *ngIf="showLanguageOptionGl">
    <button mat-menu-item (click)="switchLang(LanguageEnum.gl)">
      <span>Galego</span>
    </button>
  </ng-container>
  <ng-container *ngIf="showLanguageOptionEn">
    <button mat-menu-item (click)="switchLang(LanguageEnum.en)">
      <span>English</span>
    </button>
  </ng-container>
  <ng-container *ngIf="showLanguageOptionCa">
    <button mat-menu-item (click)="switchLang(LanguageEnum.ca)">
      <span>Català</span>
    </button>
  </ng-container>
</mat-menu>

<ng-template #navIsInternal let-navbar="navbar">
  <a class="nav-link font-family-material-regular" [routerLink]="navbar?.url|routerLinkBase"
    [queryParams]="navbar?.url|routerLinkQueryParams" routerLinkActive="active">
    {{navbar?.descriptions[0]?.name}}
  </a>
</ng-template>

<ng-template #navIsExternal let-navbar="navbar">
  <a class="nav-link font-family-material-regular" [href]="navbar?.url" [target]="navbar?.local ? '_self' : '_blank'">
    {{navbar?.descriptions[0]?.name}}
  </a>
</ng-template>

<ng-template #itemIsInternal let-navbar="navbar">
  <a mat-menu-item [routerLink]="navbar?.url|routerLinkBase" [queryParams]="navbar?.url|routerLinkQueryParams"
    routerLinkActive="active">
    {{navbar?.descriptions[0]?.name}}
  </a>
</ng-template>

<ng-template #itemIsExternal let-navbar="navbar">
  <a mat-menu-item [href]="navbar?.url" [target]="navbar?.local ? '_self' : '_blank'">
    {{navbar?.descriptions[0]?.name}}
  </a>
</ng-template>
