<ng-container *ngIf="(productAttributes$|async) as attributes">
  <ng-container *ngFor="let attribute of attributes">
    <div class="wrapper-filter">
      <qaroni-products-filter-attribute [attribute]="attribute" (queryParamsChange)="onGetQueryParams($event)">
      </qaroni-products-filter-attribute>
    </div>
  </ng-container>
</ng-container>
