@import "compile";
@import "src/assets/scss/mixins/breakpoints";
@import "src/assets/scss/mixins/links";

.bg-footer-first {
  background-color: $bg-footer-first;
  padding-top: 30px;
  padding-bottom: 30px;

  @include md {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include lg {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @include xl {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  a.footer-link {
    @include link-inherit-to-secondary;
  }

  .wrapper-img-logo {
    width: 250px;
    max-width: 100%;
    margin: 20px 0px 48px 0px;

    @include md {
      width: 300px;
      margin: 20px 0px 48px 0px;
    }

    @include lg {
      width: 250px;
      margin: 48px 0;
    }

    @include xl {
      width: 300px;
      margin: 48px 0;
    }

    img.img-fluid {
      width: 100%;
    }
  }

  .footer-section-title {
    margin-bottom: 24px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $color-title-footer-first;
  }

  .footer-section-item {
    font-size: .9rem;
    margin-bottom: 6px;
    color: $color-item-footer-first;

    .footer-link-bold {
      color: $secondary-color;
    }
  }

  .info_box {
    margin-bottom: 21px;
  }

}
