<ng-container *ngIf="order?.items?.length">
  <qaroni-order-resume-amounts [order]="order" [showShippingCost]="false">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-7 col-md-8 col-lg-10">
        <button mat-flat-button color="accent" class="w-100 checkout-button" (click)="onGoPayment()">
          <i class="fas fa-cash-register"></i> {{'Checkout order'|translate}}
        </button>
      </div>
    </div>
    <qaroni-apply-promotional-code [order]="order"></qaroni-apply-promotional-code>
  </qaroni-order-resume-amounts>
</ng-container>
