<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'edit-account'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="initLoaded; else cardLoadingContent">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <form [formGroup]="userDataForm" (ngSubmit)="onSubmit()">
          <mat-card @enterFadeIn class="bg-grey card-style-one">
            <mat-card-header>
              <mat-card-title>
                {{'personal-data'|translate}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <div class="row">
                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'firstname'|translate}}</mat-label>
                    <input matInput formControlName="firstName" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(firstName)">
                      <qaroni-input-error-messages [fc]="firstName"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'lastname'|translate}}</mat-label>
                    <input matInput formControlName="lastName" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(lastName)">
                      <qaroni-input-error-messages [fc]="lastName"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'document-type'|translate}}</mat-label>
                    <mat-select formControlName="documentType">
                      <mat-option *ngFor="let documentType of UserDataUtils.getDocumentTypeArray()"
                        [value]="documentType">
                        {{documentType|documentType}}
                      </mat-option>
                    </mat-select>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(documentType)">
                      <qaroni-input-error-messages [fc]="documentType"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'document-number'|translate}}</mat-label>
                    <input matInput formControlName="document" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(document)">
                      <qaroni-input-error-messages [fc]="document"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'birthdate'|translate}}</mat-label>
                    <input matInput formControlName="birthday" [matDatepicker]="birthdayPicker"
                      (focus)="birthdayPicker.open()" (click)="birthdayPicker.open()" (keypress)="birthdayPicker.open()"
                      autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayPicker></mat-datepicker>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(birthday)">
                      <qaroni-input-error-messages [fc]="birthday"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'gender'|translate}}</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option *ngFor="let gender of UserDataUtils.getGenderArray()" [value]="gender">
                        {{gender|gender|translate}}
                      </mat-option>
                    </mat-select>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(gender)">
                      <qaroni-input-error-messages [fc]="gender"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Phone'|translate}}</mat-label>
                    <input matInput formControlName="phone" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(phone)">
                      <qaroni-input-error-messages [fc]="phone"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Language'|translate}}</mat-label>
                    <mat-select formControlName="language">
                      <mat-option *ngFor="let language of UserDataUtils.getLanguagesAllowed()" [value]="language">
                        {{language|language|translate}}
                      </mat-option>
                    </mat-select>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(language)">
                      <qaroni-input-error-messages [fc]="language"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>

              <!-- <pre>{{userDataForm.getRawValue()|json}}</pre> -->

            </mat-card-content>
            <mat-card-actions align="end">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a (click)="onBack()">
                    {{'Cancel'|translate}}
                  </a>
                </div>
                <div class="col-auto">
                  <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
                    <mat-icon>edit</mat-icon> {{'Update'|translate}}
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>

      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
