<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'My webinars'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="webinars?.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div *ngFor="let webinar of webinars" class="col-12 col-lg-10 mb-5">
        <qaroni-webinar-preview [webinar]="webinar"></qaroni-webinar-preview>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content [title]="'You don\'t have webinars yet!'|translate"
        [subtitle]="'When they have webinars availables to you you will find them in this section'|translate"
        [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
