<mat-card class="bg-grey card-style-one">
  <mat-card-content>
    <ng-container *ngIf="hasFile">
      <div class="mb-4 text-center">
        <ng-container *ngIf="fileIsDocument; else fileImage">
          <ng-container *ngTemplateOutlet="fileDocument"></ng-container>
        </ng-container>
      </div>
    </ng-container>

    <input [name]="file?.name" type="file" class="d-none" (change)="onFileChanged($event)" #fileInput>
    <div class="text-center">
      <button mat-flat-button color="accent" class="button-lg" (click)="fileInput.click()" [disabled]="submitting"
        [matTooltip]="('Add'|translate) + ' ' + file?.label" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
        {{file?.label}}
      </button>
    </div>
    <!-- <pre>{{file|json}}</pre> -->
  </mat-card-content>
</mat-card>

<ng-template #fileDocument>
  <a mat-flat-button color="primary" [disabled]="submitting" [href]="file?.fileUrl" target="_blank"
    [matTooltip]="('See'|translate) + ' ' + file?.label" matTooltipPosition="above">
    <mat-icon>attachment</mat-icon>
    {{file?.label}}
  </a>
</ng-template>

<ng-template #fileImage>
  <img [src]="file?.fileUrl" [alt]="file?.name" class="img-fluid">
</ng-template>
