<div @enterFadeIn class="container-fluid px-0 py-1" *ngIf="boxes?.length">
  <div class="row no-gutters justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 p-1" *ngFor="let box of boxes">
      <qaroni-image-aspect-ratio [src]="box.imageUrl" aspectRatio="1:1">
        <div class="d-flex flex-column justify-content-center align-items-center h-100 mask text-white">

          <div *ngIf="box.title" class="mat-title font-family-secondary">{{box.title}}</div>

          <div *ngIf="box.description">{{box.description}}</div>

          <div *ngIf="box.buttonName && box.buttonAction" class="mt-4">
            <qaroni-element-button-cases [element]="box"></qaroni-element-button-cases>
          </div>

        </div>
      </qaroni-image-aspect-ratio>
    </div>
  </div>
</div>
