<ng-container *ngIf="(post$|async) as post; else cardLoadingContent">
  <div class="container pt-3 pb-3">

    <div class="row">
      <div class="col-12">
        <qaroni-page-title [title]="post?.descriptions[0]?.title"></qaroni-page-title>
      </div>

      <div class="row w-100">
        <div class="mx-auto px-4">
          <div class="mb-4 mx-1">
            <mat-chip-list *ngIf="post?.tags?.length">
              <ng-container *ngFor="let tag of post.tags">
                <mat-chip class="chip-customized" (click)="checkTagInfo(tag.name)" color="accent" selected>
                  {{tag.name}}
                </mat-chip>
              </ng-container>

            </mat-chip-list>
          </div>
        </div>
      </div>

    </div>
    <div @enterFadeIn class="row">

      <div class="col-12 mb-5 text-center">
        <img [src]="post?.imageUrl" [alt]="post?.descriptions[0]?.title" class="img-fluid">
      </div>

      <div class="col-12">
        <div class="mat-body">
          {{post?.date|date:'longDate'}}
        </div>
        <div class="mat-headline font-family-primary">
          {{post?.descriptions[0]?.subtitle}}
        </div>
        <div class="font-family-secondary" [innerHTML]="post?.descriptions[0]?.largeDescription|sanitizeHtml"></div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
