@import "compile";
@import "src/assets/scss/mixins/breakpoints";

main {
  padding-top: $header-small;

  @include rwbp($compact-bp) {
    padding-top: $header-big;
  }
}

$footer-height: calc(235px);

.wrapper-router-outlet {
  background-color: #ffffff;
  z-index: 1;

  min-height: calc(100vh - #{$header-small} - #{$footer-height});

  @include rwbp($compact-bp) {
    min-height: calc(100vh - #{$header-big} - #{$footer-height});
  }
}
