<main>
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-12 wrapper-router-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
