<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Shopping cart'|translate"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="order?.items?.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 order-2 order-lg-1">
        <qaroni-shopping-cart-order @enterFadeIn [order]="order" (emptyOrder)="onEmptyOrder($event)"
          (updateItem)="onUpdateItem($event)" (deleteItem)="onDeleteItem($event)"></qaroni-shopping-cart-order>
      </div>
      <div class="col-12 col-sm-10 col-md-7 col-lg-4 col-xl-4 order-1 order-lg-2">
        <qaroni-shopping-cart-amounts @enterFadeIn [order]="order" (goPayment)="onGoPayments($event)">
        </qaroni-shopping-cart-amounts>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content faIcon="fas fa-shopping-bag" [title]="'shopping-cart-empty-title'|translate"
        [subtitle]="'shopping-cart-empty-subtitle'|translate" [loaded]="initLoaded" actionMatIcon="shopping_basket"
        [actionText]="'Start shopping'|translate" (action)="onStartShopping()">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
