<ng-container *ngIf="company">
  <mat-card class="bg-grey card-style-one h-100" [ngClass]="{ 'mat-card-elevation-hover': cardLink }">
    <mat-card-content>
      <ng-container *ngIf="hasImage">
        <div class="mb-4 text-center wrapper-group-image">
          <img [src]="company?.groupInfo?.imageUrl" [alt]="'image: ' + company?.groupInfo?.name" class="img-fluid">
        </div>
      </ng-container>

      <div *ngIf="company?.groupInfo?.name" class="mb-3 title-style-name-group">
        <ng-container *ngIf="cardLink; else onlyName">
          <a [routerLink]="['/licenses', 'companies', company?.companyId, 'details']">
            {{company?.groupInfo?.name}}
          </a>
        </ng-container>
        <ng-template #onlyName>
          {{company?.groupInfo?.name}}
        </ng-template>
      </div>

      <div class="row">
        <div *ngIf="company?.name" class="col-auto mb-2">
          <qaroni-info-label-value [value]="company?.name"></qaroni-info-label-value>
        </div>
        <div *ngIf="company?.tradename" class="col-auto mb-2">
          <qaroni-info-label-value [label]="'Tradename'|translate" [value]="company?.tradename">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="company?.cif" class="col-auto mb-2">
          <qaroni-info-label-value [label]="'CIF'|translate" [value]="company?.cif"></qaroni-info-label-value>
        </div>
        <div *ngIf="company?.email || company?.phone" class="col-auto mb-2">
          <qaroni-info-label-value [label]="company?.email" [value]="company?.phone"></qaroni-info-label-value>
        </div>
      </div>

      <ng-container *ngIf="company?.addresses?.length">
        <div class="row">
          <div *ngFor="let address of company?.addresses" class="col-auto col-address">
            <qaroni-address-string [address]="address"></qaroni-address-string>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="company?.contact">
        <mat-divider inset class="my-2"></mat-divider>

        <div class="row">
          <ng-container *ngIf="company?.contact?.birthday || company?.contact?.firstName || company?.contact?.lastName">
            <div class="col-auto mb-2">
              <qaroni-info-label-value [label]="company?.contact?.birthday|date:'mediumDate'"
                [value]="company?.contact?.firstName + ' ' + company?.contact?.lastName">
              </qaroni-info-label-value>
            </div>
          </ng-container>
          <ng-container *ngIf="company?.contact?.documentType || company?.contact?.document">
            <div class="col-auto mb-2">
              <qaroni-info-label-value [label]="company?.contact?.documentType" [value]="company?.contact?.document">
              </qaroni-info-label-value>
            </div>
          </ng-container>
          <ng-container *ngIf="company?.contact?.email || company?.contact?.phone">
            <div class="col-auto mb-2">
              <qaroni-info-label-value [label]="company?.contact?.email" [value]="company?.contact?.phone">
              </qaroni-info-label-value>
            </div>
          </ng-container>
        </div>

        <div class="row" *ngIf="company?.contact?.addresses?.length">
          <div *ngFor="let address of company?.contact?.addresses" class="col-auto col-address">
            <qaroni-address-string [address]="address"></qaroni-address-string>
          </div>
        </div>
      </ng-container>

      <mat-divider inset class="my-2"></mat-divider>

      <div class="row mb-4">
        <div class="col-auto mb-2" *ngIf="company?.code">
          <qaroni-info-label-value [label]="'Number'|translate" [value]="company?.code"></qaroni-info-label-value>
        </div>
        <div class="col-auto mb-2" *ngIf="company?.status">
          <qaroni-info-label-value [label]="'Status'|translate" [value]="company?.status|groupCompanyStatus|translate">
          </qaroni-info-label-value>
        </div>
        <div class="col-auto mb-2" *ngIf="company?.expirationDate">
          <qaroni-info-label-value [label]="'Expire at'|translate" [value]="company?.expirationDate|date:'mediumDate'">
          </qaroni-info-label-value>
        </div>
      </div>

      <ng-container *ngIf="company?.walletUrl && false">
        <div class="row justify-content-center">
          <div class="col-8 col-md-10 col-lg-12 col-xl-10">
            <a [href]="company?.walletUrl" (click)="onDownloadWallet($event)">
              <img [src]="'add-to-wallet-img'|translate" [alt]="'Add to wallet'|translate" class="img-fluid">
            </a>
          </div>
        </div>
      </ng-container>

    </mat-card-content>
  </mat-card>
</ng-container>
