<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="AppEnv.title + ' ' + ('In streaming'|translate|lowercase)"></qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="(streamings$|async) as streamings">
    <ng-container *ngIf="streamings?.length; else cardEmptyContent">
      <ng-container *ngFor="let streaming of streamings">
        <qaroni-streaming-preview [streaming]="streaming"></qaroni-streaming-preview>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row my-5">
    <div class="col-12 my-5">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="container-icon d-flex justify-content-center align-items-center" matTooltip="Facebook">
            <i class="fab fa-facebook-square"></i>
          </div>
        </div>
        <div class="col-auto">
          <div class="container-icon d-flex justify-content-center align-items-center" matTooltip="YouTube">
            <i class="fab fa-youtube-square"></i>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-8 col-lg-6">
          <div class="title font-family-primary-light">{{'In this section you will see the broadcasts'|translate}}</div>
          <!-- <div class="subtitle font-family-primary-light">{{'subtitle'}}</div> -->
        </div>
      </div>
    </div>
  </div>
</ng-template>
