.container-bg-image {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .content-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.container-bg-image {
  &.aspect-ratio-1x2:before {
    padding-top: 200%;
  }

  &.aspect-ratio-9x16:before {
    padding-top: 177.7777777%;
  }

  &.aspect-ratio-2x3:before {
    padding-top: 150%;
  }

  &.aspect-ratio-3x4:before {
    padding-top: 133.3333333%;
  }

  &.aspect-ratio-4x5:before {
    padding-top: 125%;
  }

  &.aspect-ratio-1x1:before {
    padding-top: 100%;
  }

  &.aspect-ratio-5x4:before {
    padding-top: 80%;
  }

  &.aspect-ratio-4x3:before {
    padding-top: 75%;
  }

  &.aspect-ratio-3x2:before {
    padding-top: 66.6666667%;
  }

  &.aspect-ratio-16x9:before {
    padding-top: 56.25%;
  }

  &.aspect-ratio-2x1:before {
    padding-top: 50%;
  }

  &.aspect-ratio-4x1:before {
    padding-top: 25%;
  }

  &.aspect-ratio-5x1:before {
    padding-top: 20%;
  }
}
