@import "compile";

.mat-card {
  padding: 40px 30px;

  .mat-expansion-panel {
    background-color: $bg-cards;

    ::ng-deep .mat-expansion-panel-body {
      padding: 0;
    }
  }

  .mat-card-actions {
    margin: 0;
    padding: 0;
  }
}
