<mat-card class="bg-grey">
  <mat-card-content>
    <qaroni-order-resume-information [order]="order" (invoice)="onOrderInvoice($event)"
      (ticket)="onOrderTicket($event)"></qaroni-order-resume-information>

    <div class="row no-gutters justify-content-center"
      *ngIf="order?.items?.length && order?.items?.length > triggerOrderItems">
      <div class="col-12 pt-3">
        <mat-expansion-panel (opened)="orderItemsExpansionOpened()" (closed)="orderItemsExpansionClosed()">
          <mat-expansion-panel-header>
            <mat-panel-title>{{'see-all-products'|translate}}</mat-panel-title>
            <mat-panel-description class="d-none d-sm-block">
              {{ 'see-the-number-products'|translate: { number: OrderUtils.totalItems(order) } }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-divider inset class="divider-sections"></mat-divider>

          <ng-container *ngFor="let item of order?.items">
            <qaroni-order-resume-item [item]="item"></qaroni-order-resume-item>
            <mat-divider inset class="divider-sections"></mat-divider>
          </ng-container>

        </mat-expansion-panel>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ng-container *ngIf="order?.items?.length && orderItemsPreview">
          <mat-divider inset class="divider-sections"></mat-divider>
          <ng-container *ngFor="let item of order?.items; let i = index">
            <ng-container *ngIf="i < triggerOrderItems">
              <qaroni-order-resume-item [item]="item"></qaroni-order-resume-item>
              <mat-divider inset class="divider-sections"></mat-divider>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>

    <div class="row justify-content-end">
      <div class="col-auto">
        <button mat-flat-button color="accent" class="button-lg" *ngIf="order?.orderId"
          [routerLink]="[order?.orderId, 'details']">
          <mat-icon>shopping_basket</mat-icon>
          {{'see-details'|translate}}
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
