<button mat-button class="close-icon" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>{{topic?.name}}</div>

<form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12 font-weight-bold mb-4">
        {{'Voting'|translate}}: {{topic?.type|assemblyType|translate}}
      </div>
      <div class="col-12">
        <mat-radio-group formControlName="vote">
          <div class="m-3" *ngFor="let voteOption of AssemblyVoteResultArray">
            <mat-radio-button [value]="voteOption">{{voteOption|assemblyVoteResult|translate}}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="row justify-content-end align-items-center">
      <div class="col-auto">
        <span class="cancel-link" (click)="onCancelClick()">
          {{'Cancel'|translate}}
        </span>
      </div>
      <div class="col-auto">
        <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
          <mat-icon>how_to_vote</mat-icon>
          {{'Vote'|translate}}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
