<div class="container pt-3 pb-5">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <qaroni-page-title [title]="'My information'|translate"></qaroni-page-title>
    </div>
    <div class="col-12 col-md-auto col-title-links mb-5 mb-md-0">
      <button mat-flat-button color="accent" class="button-lg" [routerLink]="['/my-account', 'change-password']">
        <mat-icon>lock</mat-icon> {{'Change password'|translate}}
      </button>
    </div>
  </div>
  <ng-container *ngIf="initLoaded; else cardLoadingContent">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <mat-card @enterFadeIn class="bg-grey card-style-one">
          <mat-card-header>
            <mat-card-title>{{'personal-data'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <div class="col-12 col-sm-6">
                <qaroni-input-preview [label]="'full-name'|translate"
                  [input]="(userData?.firstName || '--') + ' ' + (userData?.lastName || '--')"></qaroni-input-preview>
              </div>
              <div class="col-12 col-sm-6">
                <qaroni-input-preview [label]="'document'|translate"
                  [input]="((userData?.documentType|documentType) || '--') + ': ' + (userData?.document|| '--')">
                </qaroni-input-preview>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <qaroni-input-preview [label]="'Email'|translate" [input]="userData?.email || '--'">
                </qaroni-input-preview>
              </div>
              <div class="col-12 col-sm-6">
                <qaroni-input-preview [label]="'Phone'|translate" [input]="userData?.phone || '--'">
                </qaroni-input-preview>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <qaroni-input-preview [label]="'birthdate'|translate"
                  [input]="(userData?.birthday|date:'dd-MM-yyyy') || '--'">
                </qaroni-input-preview>
              </div>
              <div class="col-12 col-sm-6">
                <qaroni-input-preview [label]="'gender'|translate"
                  [input]="(userData?.gender|gender|translate) || '--'"></qaroni-input-preview>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <qaroni-input-preview [label]="'Language'|translate"
                  [input]="(userData?.language|language|translate) || '--'"></qaroni-input-preview>
              </div>
            </div>

          </mat-card-content>
          <mat-card-actions align="end">
            <div class="row align-items-center">
              <div class="col-auto">
                <a [routerLink]="['/my-account']">{{'Back'|translate}}</a>
              </div>
              <div class="col-auto">
                <button mat-flat-button color="accent" class="button-lg"
                  [routerLink]="['/my-account', 'my-information', 'edit']">
                  <mat-icon>edit</mat-icon> {{'Update'|translate}}
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
