<div class="container-address-string font-family-primary-light">
  <ng-container *ngIf="address?.alias">
    <span class="address-alias font-family-primary-regular">{{address?.alias}}</span> -
  </ng-container>
  <ng-container *ngIf="address?.line1">{{address?.line1}}. </ng-container>
  <ng-container *ngIf="address?.line2">{{address?.line2}}. </ng-container>
  <span *ngIf="address?.postalCode" class="font-italic">{{address?.postalCode}}, </span>
  <span *ngIf="address?.city" class="font-family-primary-medium">{{address?.city}}. </span>
  <ng-container *ngIf="address?.stateProvince">{{address?.stateProvince}} - </ng-container>
  <ng-container *ngIf="address?.country">{{address?.country|country}}.</ng-container>
</div>
