<div class="filters-title">{{'Price range'|translate}}</div>
<div class="d-flex d-row">
  <div class="w-50 px-1">
    <mat-form-field appearance="outline">
      <mat-label>{{'From'|translate}}</mat-label>
      <input matInput [(ngModel)]="from.value" [min]="from.min" [max]="from.max" autocomplete="off" type="number">
    </mat-form-field>
  </div>
  <div class="w-50 px-1">
    <mat-form-field appearance="outline">
      <mat-label>{{'To'|translate}}</mat-label>
      <input matInput [(ngModel)]="to.value" [min]="to.min" [max]="to.max" autocomplete="off" type="number">
    </mat-form-field>
  </div>
</div>
<div class="d-flex d-row justify-content-end">
  <button mat-flat-button color="primary" [disabled]="!canFilterByPrice" (click)="onFilterByPrice()">
    {{'Filter by price'|translate}}
  </button>
</div>
