<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Assemblies'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="(assemblies$|async) as assemblies; else cardEmptyContent">
    <ng-container *ngIf="assemblies.length; else cardEmptyContent">
      <div class="row">
        <ng-container *ngFor="let assembly of assemblies">
          <div class="col-12 col-md-6 mb-3">
            <mat-card @enterFadeIn class="h-100 bg-grey">
              <mat-card-content>
                <div class="row">
                  <div class="col-12 mat-title" *ngIf="assembly?.name">{{assembly.name}}</div>
                  <div class="col-12" *ngIf="assembly?.description">{{assembly.description}}</div>
                  <div class="col-12" *ngIf="assembly?.electionDate">
                    {{'Voting date'|translate}}: {{assembly.electionDate|date:'mediumDate'}}
                  </div>
                  <div class="col-12" *ngIf="assembly?.status">
                    {{'Status'|translate}}: {{assembly.status|assemblyStatus}}
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-flat-button color="primary" (click)="onAssemblyClick(assembly?.assemblyId)">
                  {{'See assembly'|translate}}
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'No open assemblies'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
