<div [ngSwitch]="LandingEnv.products">
  <qaroni-products-section-one *ngSwitchCase="AppLandingPageProductsEnum.ONE"></qaroni-products-section-one>
  <qaroni-products-section-two *ngSwitchCase="AppLandingPageProductsEnum.TWO"></qaroni-products-section-two>
</div>
