@import "compile";
@import "src/assets/scss/mixins/links";

.product-link {
  @include link-inherit-to-secondary;
}

.item-image {
  width: 150px;
  max-width: 100%;
  height: auto;
}

.content-label {
  color: $color-dark-secondary-text;
  min-height: 20px;
}

.row-item-info {
  margin-bottom: 10px;
}

.container-link-delete {
  text-align: right;

  .link-delete {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    @include link-tertiary-to-secondary;

    .mat-icon {
      vertical-align: middle;
    }
  }
}
