<ng-container *ngIf="item">
  <div class="row justify-content-center">
    <div class="col-12 col-md-2 mb-3 mb-md-0 text-center">
      <qaroni-order-item-image [item]="item" [linkToProduct]="true"></qaroni-order-item-image>
    </div>
    <div class="col-9 col-sm">
      <div class="title-inside-card-content">
        <a [routerLink]="['/products', item?.productId, getUrlItemName]" class="product-link">
          {{item?.name}}
        </a>
      </div>
      <div class="description-inside-card-content" [innerHTML]="item?.description|sanitizeHtml"></div>
      <div class="row row-item-info">
        <div *ngIf="item?.code" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.code" [label]="'Code'|translate" [value]="item?.code">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="item?.unitType" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.unitType" [label]="'Tipo de pedido'|translate"
            [value]="item?.unitType|itemUnitType"></qaroni-info-label-value>
        </div>
        <div *ngIf="item?.unitName" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.unitName" [label]="'Unidad'|translate" [value]="item?.unitName">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="item?.iva" class="col-auto">
          <qaroni-info-label-value *ngIf="item?.iva" [label]="'IVA'|translate" [value]="item?.iva|iva">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="hasItemDiscount" class="col-auto">
          <qaroni-info-label-value [label]="'Discount'|translate" [value]="item?.discount|discount">
          </qaroni-info-label-value>
        </div>
        <div *ngIf="item?.quantity <= ProductUtils.productsQuantity().length" class="col-auto">
          <div class="content-label mat-small">{{'quantity'|translate}}</div>
          <mat-select [value]="item.quantity" (selectionChange)="quantityChangeSelect($event)" disabled>
            <mat-option *ngFor="let number of ProductUtils.productsQuantity(); index as i" [value]="i+1">
              {{number}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let option of item?.options" class="col-auto">
          <qaroni-info-label-value *ngIf="option?.value" [label]="option?.label" [value]="option?.value">
          </qaroni-info-label-value>
        </div>
      </div>
    </div>
    <div class="col-3 col-sm-auto">
      <qaroni-order-item-price [item]="item"></qaroni-order-item-price>
      <div class="container-link-delete">
        <span class="link-delete" (click)="onDeleteItem()">
          <mat-icon>delete</mat-icon>
          {{'remove-product'|translate}}
        </span>
      </div>
    </div>
  </div>
</ng-container>

<!-- <pre>{{item|json}}</pre> -->
