<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Assembly'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="assembly; else cardEmptyContent">
    <div class="row">
      <div class="col-12 mb-3">
        <mat-card @enterFadeIn class="bg-grey">
          <mat-card-content>
            <div class="row">
              <div class="col-12 mat-title" *ngIf="licenseMember?.userInfo">
                {{licenseMember?.userInfo?.firstName + ' ' + licenseMember?.userInfo?.lastName}}
              </div>
              <div class="col-12 mat-title font-weight-bold" *ngIf="assembly?.name">{{assembly.name}}</div>
              <div class="col-12" *ngIf="assembly?.description">{{assembly.description}}</div>
              <div class="col-12" *ngIf="assembly?.electionDate">
                {{'Voting date'|translate}}: {{assembly.electionDate|date:'mediumDate'}}
              </div>
              <div class="col-12">
                <span class="font-weight-bold">
                  {{assembly?.hasAttended ? ('Confirmed assistance'|translate) : ('Attendance to be confirmed'|translate)}}.
                </span>
                {{!assembly?.hasAttended ? ('You must request confirmation of your attendance to exercise your right to vote'|translate) + '.' : null}}
              </div>
              <div class="col-12" *ngIf="delegatesString">
                <span class="font-weight-bold">{{'Delegated votes'|translate}}:</span> {{delegatesString}}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12">
        <mat-card @enterFadeIn class="bg-grey">
          <mat-card-header class="mb-0">
            <mat-card-title>{{'Order of the day'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-selection-list [multiple]="false">
              <ng-container *ngFor="let topic of assembly?.simpleTopics; let i = index">
                <mat-list-option [value]="topic?.topicId" [disabled]="!canVoteTopic(topic)" (click)="onVoteTopic(topic)"
                  [ngClass]="{'text-success': canVoteTopic(topic) }">
                  <div mat-list-icon>{{i + 1}}</div>
                  <div mat-line>{{topic?.name}}</div>
                  <div mat-line>
                    <span class="mr-2">
                      {{topic?.hasVoted ? ('You already voted'|translate) : ('You have not voted'|translate)}}.
                    </span>
                    <span>{{'Status'|translate}}: {{topic?.status|assemblyStatus|translate}}</span>
                  </div>
                </mat-list-option>
              </ng-container>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'Assembly closed'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
