<div class="container pt-3 pb-5">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <qaroni-page-title [title]="'My addresses'|translate"></qaroni-page-title>
    </div>
    <div class="col-12 col-md-auto col-title-links mb-5 mb-md-0">
      <a class="title-link" [routerLink]="['/my-account']">{{'Back to My Account'|translate}}</a>
      <button mat-flat-button color="accent" class="button-lg" (click)="createAddress()">
        <mat-icon>add_location_alt</mat-icon> {{'Create address'|translate}}
      </button>
    </div>
  </div>
  <ng-container *ngIf="userAddresses?.length; else cardEmptyContent">
    <div class="row">
      <div *ngFor="let address of userAddresses" class="col-12 col-sm-6 col-lg-4 mb-3">
        <qaroni-address-card @enterFadeIn [address]="address" (editAddress)="onEditAddress($event)"
          (deleteAddress)="onDeleteAddress($event)"></qaroni-address-card>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content faIcon="fas fa-search-location"
        [title]="'We do not know where to locate you'|translate"
        [subtitle]="('You have not added any addresses to your notebook yet.'|translate) + ' ' + ('Add your first address to know where to do the billing and shipments.'|translate)"
        [loaded]="initLoaded" actionMatIcon="add_location_alt" [actionText]="'Create address'|translate"
        (action)="createAddress()">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
