<mat-card class="bg-grey card-style-preview">
  <mat-card-content>
    <div class="row justify-content-end">
      <div class="col-12 col-md-2 mb-3 mb-md-0 text-center">
        <ng-container *ngIf="multimediasService.getMultimediaImageUrl(multimedia)">
          <img [src]="multimediasService.getMultimediaImageUrl(multimedia)" [alt]="multimedia?.descriptions[0]?.name"
            class="preview-image">
        </ng-container>
      </div>
      <div class="col-12 col-sm">
        <div class="title-inside-card-content" [innerHTML]="multimedia?.descriptions[0]?.name"></div>
        <div class="description-inside-card-content" [innerHTML]="multimedia?.descriptions[0]?.description"></div>
        <div class="container-dates">
          <qaroni-info-label-value [label]="'Start date'|translate" [value]="multimedia?.creationDate|date:'medium'">
          </qaroni-info-label-value>
        </div>
      </div>
    </div>
    <div *ngIf="multimedia?.contents[0]?.url" class="row justify-content-end row-container-buttons">
      <div class="col-auto mb-3 mb-sm-0">
        <a mat-flat-button color="accent" class="button-lg" [href]="multimedia?.contents[0]?.url" target="_blank">
          <mat-icon>launch</mat-icon> {{'See'|translate}}
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
