<ng-container *ngIf="(partner$|async) as partner; else cardLoadingContent">
  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col-12">
        <qaroni-page-title [title]="partner?.tradename"></qaroni-page-title>
      </div>
    </div>
    <div @enterFadeIn class="row justify-content-center">

      <div class="col-12 mb-5 text-center">
        <img [src]="partner?.imageUrl" [alt]="partner?.name" class="img-fluid">
      </div>

      <div class="col-12 mb-4">
        <qaroni-address-string [address]="partner?.address"></qaroni-address-string>
      </div>

      <div class="col-12 mb-5" *ngIf="partner?.description">
        <div class="font-family-secondary" [innerHTML]="partner?.description|sanitizeHtml"></div>
      </div>

    </div>
  </div>
</ng-container>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
