<header>
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-12">
        <qaroni-header-toolbar></qaroni-header-toolbar>
      </div>
    </div>
  </div>
</header>
