<ng-container *ngIf="(blocks$|async) as blocks; else cardLoadingContent">
  <ng-container [ngSwitch]="LandingEnv.blocks">
    <qaroni-element-block-section-one [blocks]="blocks" *ngSwitchCase="AppLandingPageBlocksEnum.ONE">
    </qaroni-element-block-section-one>
  </ng-container>
</ng-container>

<ng-template #cardLoadingContent>
  <div class="container">
    <qaroni-card-loading-content></qaroni-card-loading-content>
  </div>
</ng-template>
