<ng-container *ngFor="let section of keysLandingEnvironment">
  <ng-container [ngSwitch]="section">

    <ng-container *ngSwitchCase="'blocks'">
      <ng-container *ngIf="LandingEnv.blocks">
        <qaroni-element-block-section></qaroni-element-block-section>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'boxes'">
      <ng-container *ngIf="LandingEnv.boxes">
        <qaroni-element-boxes-section></qaroni-element-boxes-section>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'brands'">
      <ng-container *ngIf="LandingEnv.brands">
        <qaroni-brands-section></qaroni-brands-section>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'events'">
      <ng-container *ngIf="LandingEnv.events">
        <qaroni-events-section></qaroni-events-section>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'groups'">
      <ng-container *ngIf="LandingEnv.groups">
        <qaroni-partners-section></qaroni-partners-section>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'news'">
      <ng-container *ngIf="LandingEnv.news">
        <qaroni-news-section></qaroni-news-section>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'products'">
      <ng-container *ngIf="LandingEnv.products">
        <qaroni-products-section></qaroni-products-section>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'slides'">
      <ng-container *ngIf="LandingEnv.slides">
        <qaroni-slides-section></qaroni-slides-section>
      </ng-container>
    </ng-container>

  </ng-container>
</ng-container>
