<ng-container *ngIf="(cofidisData$|async) as cofidisData">
  <form [formGroup]="paymentForm" [action]="cofidisData?.postUrl" method="POST" #form>
    <input name="apellido1" formControlName="apellido1" autocomplete="off" type="hidden">
    <input name="apellido2" formControlName="apellido2" autocomplete="off" type="hidden">
    <input name="apellidos" formControlName="apellidos" autocomplete="off" type="hidden">
    <input name="cantidadCompra1" formControlName="cantidadCompra1" autocomplete="off" type="hidden">
    <input name="carencia" formControlName="carencia" autocomplete="off" type="hidden">
    <input name="descCompra1" formControlName="descCompra1" autocomplete="off" type="hidden">
    <input name="importe" formControlName="importe" autocomplete="off" type="hidden">
    <input name="nombre" formControlName="nombre" autocomplete="off" type="hidden">
    <input name="precioCompra1" formControlName="precioCompra1" autocomplete="off" type="hidden">
    <input name="precioTotal" formControlName="precioTotal" autocomplete="off" type="hidden">
    <input name="producto" formControlName="producto" autocomplete="off" type="hidden">
    <input name="referencia" formControlName="referencia" autocomplete="off" type="hidden">
    <input name="url_acept" formControlName="url_acept" autocomplete="off" type="hidden">
    <input name="url_cancel" formControlName="url_cancel" autocomplete="off" type="hidden">
    <input name="url_confirm" formControlName="url_confirm" autocomplete="off" type="hidden">
    <input name="url_error" formControlName="url_error" autocomplete="off" type="hidden">
    <input name="url_rechaz" formControlName="url_rechaz" autocomplete="off" type="hidden">
    <input name="vendedor" formControlName="vendedor" autocomplete="off" type="hidden">
    <button mat-flat-button color="cofidis" class="w-100 checkout-button" [disabled]="!validatedForm" type="submit"
      (click)="form.submit()" (click)="onPaymentCofidis()">
      {{'Finance it with Cofidis'|translate}}
    </button>
  </form>
</ng-container>
