<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'El pago se realizó correctamente'|translate"></qaroni-page-title>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <mat-card @enterFadeIn class="bg-grey card-auth">
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-12 col-md-10">
              <div class="container-icon text-success">
                <i class="fas fa-check-circle fa-5x"></i>
              </div>
              <div class="container-title-inside">
                {{'Pago realizado con éxito'|translate}}.
              </div>
              <div class="col-action-button">
                <button mat-flat-button color="accent" class="button-lg" [routerLink]="['/']">
                  <mat-icon>shopping_basket</mat-icon>
                  {{'keep-shopping'|translate}}
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
