<div class="container pb-5">
  <ng-container *ngIf="categoriesLoaded || sections?.length; else cardLoadingContent">
    <ng-container *ngFor="let section of sections; last as isLast">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-md">
          <qaroni-page-title [title]="section?.category?.name" titleClass="secondary"></qaroni-page-title>
        </div>
        <div class="col-12 col-md-auto col-title-links mb-4 mb-md-0">
          <a class="title-link" [routerLink]="['/products']"
            [queryParams]="{ categories: section?.category?.categoryId}">
            <i class="fas fa-plus"></i>
            {{'See more'|translate}}
          </a>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let product of section?.products"
          class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-3 mb-3">
          <qaroni-product-card [product]="product"></qaroni-product-card>
        </div>
      </div>
      <div class="row" *ngIf="!isLast">
        <div class="col-12">
          <mat-divider></mat-divider>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
