<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'select-payment-method'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="order?.items?.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 order-2 order-lg-1">
        <mat-card class="bg-grey card-products">
          <mat-card-content>

            <div class="row">
              <div class="col-12" *ngFor="let item of order?.items; last as isLast">
                <qaroni-order-resume-item [item]="item"></qaroni-order-resume-item>
                <mat-divider inset class="divider-sections" *ngIf="!isLast"></mat-divider>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4 order-1 order-lg-2">
        <qaroni-order-resume-amounts [order]="order">
          <div *ngIf="submitting" class="row justify-content-center">
            <div class="col-auto container-spinner">
              <mat-spinner></mat-spinner>
            </div>
          </div>
          <div class="row justify-content-center" [class.d-none]="submitting">
            <ng-container *ngIf="order && gateways?.length">
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.PAYCOMET)">
                <ng-container *ngTemplateOutlet="colPaycomet"></ng-container>
              </ng-container>
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.CECABANK)">
                <ng-container *ngTemplateOutlet="colCecabank"></ng-container>
              </ng-container>
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.REDSYS)">
                <ng-container *ngTemplateOutlet="colRedsys"></ng-container>
              </ng-container>
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.STRIPE)">
                <ng-container *ngTemplateOutlet="colStripe"></ng-container>
              </ng-container>
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.PAYPAL)">
                <ng-container *ngTemplateOutlet="colPaypal"></ng-container>
              </ng-container>
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.COFIDIS) && orderAmountAllowCofidis">
                <ng-container *ngTemplateOutlet="colCofidis"></ng-container>
              </ng-container>
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.APLAZAME)">
                <ng-container *ngTemplateOutlet="colAplazame"></ng-container>
              </ng-container>
              <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.BANK_CHARGE)">
                <ng-container *ngTemplateOutlet="colBankCharge; context: { order: order }"></ng-container>
              </ng-container>
            </ng-container>
          </div>
        </qaroni-order-resume-amounts>

        <ng-container *ngIf="gateways?.length">
          <ng-container *ngIf="hasPaymentMethod(gateways, GatewayEnum.COFIDIS) && orderAmountAllowCofidis">
            <qaroni-order-cofidis-calculator [order]="order"></qaroni-order-cofidis-calculator>
          </ng-container>
        </ng-container>
      </div>

    </div>
  </ng-container>
</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content faIcon="fas fa-shopping-bag" [title]="'shopping-cart-empty-title'|translate"
        [subtitle]="'shopping-cart-empty-subtitle'|translate" [loaded]="initLoaded" actionMatIcon="shopping_basket"
        [actionText]="'Start shopping'|translate" (action)="onStartShopping()">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>

<ng-template #colPaypal>
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-paypal (loading)="onLoading()"></qaroni-payment-paypal>
  </div>
  <div class="w-100"></div>
</ng-template>

<ng-template #colPaycomet>
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-paycomet (loading)="onLoading()"></qaroni-payment-paycomet>
  </div>
  <div class="w-100"></div>
</ng-template>

<ng-template #colCecabank>
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-cecabank (loading)="onLoading()"></qaroni-payment-cecabank>
  </div>
  <div class="w-100"></div>
</ng-template>

<ng-template #colRedsys>
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-redsys (loading)="onLoading()"></qaroni-payment-redsys>
  </div>
  <div class="w-100"></div>
</ng-template>

<ng-template #colCofidis>
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-cofidis (loading)="onLoading()"></qaroni-payment-cofidis>
  </div>
  <div class="w-100"></div>
</ng-template>

<ng-template #colStripe>
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-stripe (loading)="onLoading()"></qaroni-payment-stripe>
  </div>
  <div class="w-100"></div>
</ng-template>

<ng-template #colAplazame>
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-aplazame (loading)="onLoading()"></qaroni-payment-aplazame>
  </div>
  <div class="w-100"></div>
</ng-template>

<ng-template #colBankCharge let-order="order">
  <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
    <qaroni-payment-bank-charge [order]="order" (loading)="onLoading()"></qaroni-payment-bank-charge>
  </div>
  <div class="w-100"></div>
</ng-template>
