<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Validar cuenta'|translate"></qaroni-page-title>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <ng-container *ngIf="!initLoaded; else messageCard">
        <qaroni-card-loading-content></qaroni-card-loading-content>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #messageCard>
  <mat-card @enterFadeIn class="bg-grey card-auth">
    <mat-card-content>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <ng-container *ngIf="validated; else failureValidated">
            <ng-container *ngTemplateOutlet="successValidated"></ng-container>
          </ng-container>

          <ng-container *ngIf="validated">
            <div class="col-action-button">
              <button mat-flat-button color="accent" class="button-lg" [routerLink]="['/auth/login']">
                {{'Log in'|translate}}
              </button>
            </div>
          </ng-container>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #successValidated>
  <div class="container-icon text-success"><i class="fas fa-check-circle fa-5x"></i></div>
  <div class="container-title-inside">{{'Cuenta de correo electrónico validada'|translate}}.</div>
  <div class="container-subtitle-inside">{{'Puedes iniciar sesión'|translate}}.</div>
</ng-template>

<ng-template #failureValidated>
  <div class="container-icon text-danger"><i class="fas fa-times-circle fa-5x"></i></div>
  <div class="container-title-inside">{{'No se validó la cuenta de correo electrónico'|translate}}.</div>
  <div class="container-subtitle-inside">{{'Enlace inválido'|translate}}.</div>
</ng-template>
