<mat-card @enterFadeIn class="bg-grey card-style-one">
  <mat-card-header>
    <mat-card-title>{{title|translate}}</mat-card-title>
    <mat-card-subtitle>
      {{'Recomendamos usar una imagen con una relación de aspecto'|translate}} <strong>4:3</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12 mb-3 text-center" *ngIf="licenseCompany?.imageUrl">
        <img [src]="licenseCompany?.imageUrl" [alt]="licenseCompany?.name" class="img-fluid">
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto" *ngIf="licenseCompany?.imageUrl">
        <button mat-flat-button color="accent" class="button-lg" (click)="onDeleteImage(licenseCompany?.imageUrl)"
          [disabled]="!validatedForm">
          <mat-icon>delete_forever</mat-icon>
          {{'Delete image'|translate}}
        </button>
      </div>
      <div class="col-auto" *ngIf="!licenseCompany?.imageUrl">
        <input #imagesInput name="images" type="file" class="d-none" (change)="onFileChanged($event)">
        <button mat-flat-button color="primary" class="button-lg" (click)="imagesInput.click()"
          [disabled]="!validatedForm">
          <mat-icon>image</mat-icon>
          {{'Upload image'|translate}}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
