<mat-card class="bg-grey card-style-preview h-100">
  <mat-card-content>
    <div class="row" *ngIf="ticketsService.getTicketImageUrl(ticket)">
      <div class="col-12 mb-3">
        <img [src]="ticketsService.getTicketImageUrl(ticket)" [alt]="ticket?.title" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <div *ngIf="ticket?.title" class="title-inside-card-content" [innerHTML]="ticket.title"></div>
        <!-- <div *ngIf="ticket?.largeDescription" class="description-inside-card-content"
          [innerHTML]="ticket.largeDescription"></div> -->
      </div>
    </div>
    <div class="row"
      *ngIf="ticket?.firstName || ticket?.lastName || ticket?.document || ticket?.phone || ticket?.email">
      <div *ngIf="ticket?.document || ticket?.firstName || ticket?.lastName" class="col-auto mb-2">
        <qaroni-info-label-value [label]="ticket?.document" [value]="ticket?.firstName + ' ' + ticket?.lastName">
        </qaroni-info-label-value>
      </div>
      <div *ngIf="ticket?.phone || ticket?.email" class="col-auto mb-2">
        <qaroni-info-label-value [label]="ticket?.phone" [value]="ticket?.email"></qaroni-info-label-value>
      </div>
      <div class="col-12 mb-2">
        <mat-divider inset></mat-divider>
      </div>
    </div>
    <div class="row">
      <div *ngIf="ticket?.code" class="col-auto mb-2">
        <qaroni-info-label-value [label]="'Code'|translate" [value]="ticket?.code"></qaroni-info-label-value>
      </div>
      <div *ngIf="ticket?.zone?.name" class="col-auto mb-2">
        <qaroni-info-label-value [label]="'Zone'|translate" [value]="ticket?.zone?.name"></qaroni-info-label-value>
      </div>
      <div *ngIf="ticket?.status" class="col-auto mb-2">
        <qaroni-info-label-value [label]="'Status'|translate" [value]="ticket?.status|ticketStatus|translate">
        </qaroni-info-label-value>
      </div>
      <div *ngIf="ticket?.startDate" class="col-12 mb-2">
        <qaroni-info-label-value [label]="'Start date'|translate" [value]="ticket?.startDate|date:'medium':'+0000'">
        </qaroni-info-label-value>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="(hasUUID || downloadPDF) && hasWalletURL">
      <div class="col-12 mt-3 mb-2" *ngIf="hasUUID && downloadPDF && hasWalletURL">
        <a mat-flat-button color="accent" class="btn-block text-decoration-none" [href]="downloadPDF" target="_blank">
          <mat-icon>save_alt</mat-icon>
          {{'Download PDF'|translate}}
        </a>
      </div>
      <div class="col-12 mb-2" *ngIf="hasUUID && hasWalletURL">
        <button mat-flat-button color="accent" class="btn-block" (click)="onSendByEmail()">
          <mat-icon>email</mat-icon> {{'Send by email'|translate}}
        </button>
      </div>
      <div class="col-auto" *ngIf="hasWalletURL">
        <a [href]="ticket.walletUrl" target="_blank">
          <img [src]="'add-to-wallet-img'|translate" [alt]="'Add to wallet'|translate" class="add-to-wallet-image">
        </a>
      </div>
    </div>
    <!-- <pre>{{ticket|json}}</pre> -->
  </mat-card-content>
</mat-card>
