<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Billing information'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="order?.items?.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 order-2 order-lg-1">
        <mat-card class="bg-grey card-style-one mb-3">
          <mat-card-header [ngClass]="{ 'mb-0': clients?.length }">
            <mat-card-title>{{'Select billing information'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <div class="col-12 text-right mb-2">
                <ng-container *ngIf="clients?.length; else newBillingButton">
                  <a class="billing-link" (click)="actionClient()">
                    <mat-icon>add_circle</mat-icon>
                    {{'New billing information'|translate}}
                  </a>
                </ng-container>
                <ng-template #newBillingButton>
                  <button mat-flat-button color="accent" class="button-lg" (click)="actionClient()"
                    [disabled]="disabledCreateClientButton">
                    <mat-icon>receipt</mat-icon>
                    {{'New billing information'|translate}}
                  </button>
                </ng-template>
              </div>
              <div class="col-12">
                <mat-radio-group (change)="onChangeClient($event)" [disabled]="disabledClients">
                  <ng-container *ngIf="clients?.length">
                    <div *ngFor="let client of clients" class="wrapper-radio-string">
                      <mat-radio-button [value]="client?.clientId" [checked]="isClientSelected(client)">
                        <div class="font-italic" *ngIf="isLegal(client)">
                          {{client?.tradename}}
                        </div>
                        {{client?.firstName}} {{client?.lastName}} - <strong>{{client?.document}}</strong>
                        <qaroni-address-string [address]="client?.address"></qaroni-address-string>
                      </mat-radio-button>
                      <a (click)="actionClient(client)" class="mat-small pl-2">{{'Edit'|translate}}</a>
                      <a (click)="deleteClient(client)" class="mat-small pl-2">{{'Delete'|translate}}</a>
                    </div>
                  </ng-container>
                </mat-radio-group>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4 order-1 order-lg-2">
        <qaroni-order-resume-amounts [order]="order">
          <div class="row justify-content-center">
            <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-payment-button">
              <button mat-flat-button color="primary" class="w-100 checkout-button"
                [disabled]="!validatedPaymentMethodsButton" (click)="onPaymentMethodsOrder()">
                <mat-icon>credit_card</mat-icon>
                {{'Pay order'|translate}}
              </button>
            </div>
          </div>
        </qaroni-order-resume-amounts>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content faIcon="fas fa-shopping-bag" [title]="'shopping-cart-empty-title'|translate"
        [subtitle]="'shopping-cart-empty-subtitle'|translate" [loaded]="initLoaded" actionMatIcon="shopping_basket"
        [actionText]="'Start shopping'|translate" (action)="onStartShopping()">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
