@import "compile";
@import "src/assets/scss/mixins/links";

.mat-card.bg-grey {
  .billing-link {
    font-size: 14px;
    line-height: 20px;
    @include link-tertiary-to-secondary-bold;

    .mat-icon {
      vertical-align: middle;
    }
  }

  .wrapper-radio-string {
    padding: 10px 0 2px 10px;

    ::ng-deep .mat-radio-label {
      white-space: normal;
    }
  }
}
