<button mat-button class="close-icon" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>
  {{'Request register'|translate}}
  <ng-container *ngIf="event?.title">{{'In'|translate|lowercase}} {{event.title}}</ng-container>
</div>
<mat-dialog-content>
  <div class="row justify-content-center">
    <div class="col-10 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'Select zone'|translate}}</mat-label>
        <mat-select [(ngModel)]="zone">
          <mat-option *ngFor="let zone of event?.zones" [value]="zone?.zoneId" [disabled]="!hasCapacity(zone)">
            {{zone?.name}}{{!hasCapacity(zone) ? ' - ' + ('Sold out'|translate) : null}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="row justify-content-end align-items-center">
    <div class="col-auto">
      <span class="cancel-link" (click)="onCancelClick()">{{'Cancel'|translate}}</span>
    </div>
    <div class="col-auto">
      <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" (click)="requestRegister()">
        <mat-icon>confirmation_number</mat-icon> {{'Request ticket'|translate}}
      </button>
    </div>
  </div>
</mat-dialog-actions>
