@import "compile";

.container-all-title {
  margin-top: 30px;
  margin-bottom: 32px;

  .container-title {
    margin-bottom: 12px;
    text-transform: uppercase;
    color: $color-dark-primary-text;
  }

  .container-title.secondary {
    font-size: 36px;
  }
}
