<ng-container *ngIf="category">
  <a [routerLink]="['/associations', 'groups-categories', category?.categoryId]">
    <mat-card class="bg-grey">
      <mat-card-content>
        <pre>{{category|json}}</pre>
      </mat-card-content>
    </mat-card>
  </a>
</ng-container>
