<div class="container pt-3 pb-3">
  <ng-container *ngIf="AssociationEnv.allowsMembers">
    <div class="row">
      <div class="col-12">
        <qaroni-page-title [title]="titleMembers|translate"></qaroni-page-title>
      </div>
    </div>

    <ng-container *ngIf="(members$|async) as members; else cardEmptyContent">
      <ng-container *ngIf="members?.length; else cardEmptyContent">
        <div class="row">
          <div *ngFor="let member of members" class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 mb-3">
            <a [routerLink]="['/licenses', 'members', member?.memberId, 'details']" class="card-link">
              <qaroni-license-member-item @enterFadeIn [member]="member" cardLink="true">
              </qaroni-license-member-item>
            </a>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="AssociationEnv.allowsCompanies">
    <div class="row">
      <div class="col-12">
        <qaroni-page-title [title]="titleCompanies|translate"></qaroni-page-title>
      </div>
    </div>

    <ng-container *ngIf="(companies$|async) as companies; else cardEmptyContent">
      <ng-container *ngIf="companies?.length; else cardEmptyContent">
        <div class="row">
          <div *ngFor="let company of companies"
            class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 mb-3">
            <a [routerLink]="['/licenses', 'companies', company?.companyId, 'details']" class="card-link">
              <qaroni-license-company-item @enterFadeIn [company]="company" cardLink="true">
              </qaroni-license-company-item>
            </a>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no information in this section'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
