<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="title|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="(partners$|async) as partners; else cardEmptyContent">
    <ng-container *ngIf="partners?.length; else cardEmptyContent">
      <div class="row">
        <div *ngFor="let partner of partners" class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 mb-3">
          <qaroni-partner-preview @enterFadeIn [partner]="partner"></qaroni-partner-preview>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'For now, nothing to show'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
