<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-12">
      <mat-sidenav-container>
        <mat-sidenav #drawer mode="over" [attr.role]="'dialog'">

          <ng-container *ngIf="isSmall$|async">
            <qaroni-products-filters (queryParamsChange)="onGetQueryParams($event)"></qaroni-products-filters>
          </ng-container>

        </mat-sidenav>
        <mat-sidenav-content>

          <div class="qaroni-container pt-3 pb-5">
            <div class="row">
              <div class="col-md-4 col-lg-3 col-3xl-2" *ngIf="!(isSmall$|async)">
                <qaroni-products-filters (queryParamsChange)="onGetQueryParams($event)"></qaroni-products-filters>
              </div>
              <div class="col-12 col-lg-9 col-3xl-10" [ngClass]="{ 'col-md-8': !(isSmall$|async) }">
                <div class="row">
                  <div class="col-12">
                    <qaroni-page-title [title]="getPageTitle"></qaroni-page-title>
                  </div>
                </div>
                <div class="row justify-content-center d-lg-none" *ngIf="products?.length && showAlertFilters">
                  <div class="col-11 col-md-10 mb-1">
                    <ng-container *ngTemplateOutlet="alertFilters"></ng-container>
                  </div>
                </div>
                <div class="row justify-content-between align-items-center mb-3">
                  <div class="col">
                    <ng-container *ngIf="isSmall$|async">
                      <button mat-flat-button color="accent" (click)="drawer.toggle()" class="m-1">
                        <mat-icon>filter_list</mat-icon>
                        {{'See filters'|translate}}
                      </button>
                    </ng-container>
                    <div class="d-none d-lg-block" *ngIf="products?.length && showAlertFilters">
                      <ng-container *ngTemplateOutlet="alertFilters"></ng-container>
                    </div>
                  </div>
                  <ng-container *ngIf="products?.length">
                    <div class="col-auto font-family-primary-light">
                      <span class="d-none d-sm-inline-block" *ngIf="showProductsPreviewSize">
                        <qaroni-products-preview-size (size)="onPreviewProductSizeChange($event)">
                        </qaroni-products-preview-size>
                      </span>
                      <button mat-button color="primary" (click)="onSortAlphabetically()" class="m-1"
                        [matTooltip]="'Alphabetical order'|translate" matTooltipPosition="above">
                        <i [class]="getSortAlphabeticallyIcon"></i> {{btnAlphabeticalName}}
                      </button>
                      <button mat-button color="primary" (click)="onSortByPriceProduct()" class="m-1"
                        [matTooltip]="'Sort by price'|translate" matTooltipPosition="above">
                        <i [class]="getSortByPriceIcon"></i> {{'By price'|translate}}
                      </button>
                      <div class="d-inline-block">
                        {{('Products'|translate) + ': ' + products?.length}}
                      </div>
                    </div>
                  </ng-container>
                </div>
                <ng-container *ngIf="products?.length; else cardEmptyContent">
                  <div class="row">
                    <div *ngFor="let product of products; trackBy: trackByFn" [class]="colPreviewProduct">
                      <qaroni-product-card [product]="product"></qaroni-product-card>
                    </div>
                  </div>
                  <div class="row justify-content-center" *ngIf="showLoadMoreProducts">
                    <div class="col-8 my-4">
                      <button mat-flat-button color="primary" class="w-100" (click)="onLoadMoreProducts()">
                        <i class="fas fa-arrow-circle-down"></i>
                        {{'Load more products'|translate}}...
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>

    </div>
  </div>
</div>

<qaroni-scroll-top></qaroni-scroll-top>

<ng-template #cardEmptyContent>
  <div class="row justify-content-center" *ngIf="initLoaded">
    <div class="col-11 col-md-9 col-lg-10 col-xl-9 mb-5 mb-md-0">
      <div class="alert alert-warning" role="alert">
        <strong>{{'Applied filters'|translate}}.</strong> {{'Remember that you have filters applied'|translate}},
        {{'If you want to see all the products'|translate|lowercase}},
        <a [routerLink]="['/products']" class="alert-link">{{'Reset the filters here'|translate|lowercase}}</a>.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-card-empty">
      <qaroni-card-empty-content [title]="'There are no products that match the filters applied'|translate"
        [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>

<ng-template #alertFilters>
  <div class="alert alert-secondary mb-0" role="alert">
    <strong>{{'Applied filters'|translate}}.</strong>
    {{'Remember that you have filters applied'|translate}}.
  </div>
</ng-template>
