@import "compile";
@import "src/assets/scss/mixins/breakpoints";

.mat-sidenav-container {
  height: 100%;
  background-color: #ffffff;

  .mat-sidenav {
    width: 250px;

    @include rwbp($compact-bp) {
      width: 300px;
    }
  }

  .mat-sidenav-content {
    min-height: calc(100vh - #{$header-small});

    @include rwbp($compact-bp) {
      min-height: calc(100vh - #{$header-big});
    }

    .col-card-empty {
      padding-top: 0px;

      @include md {
        padding-top: 100px;
      }
    }
  }
}
