<mat-card class="bg-grey mat-card-actions-bottom">
  <mat-card-content class="font-family-primary-light">

    <div class="address-title font-family-secondary-bold">
      {{address?.alias ? address?.alias : 'Address'|translate}}
    </div>

    <div *ngIf="address?.line1">{{address?.line1}}.</div>
    <div *ngIf="address?.line2">{{address?.line2}}.</div>
    <div>
      <span class="address-postal-code mr-1" *ngIf="address?.postalCode">{{address?.postalCode}},</span>
      <span class="address-city font-family-primary-medium" *ngIf="address?.city">{{address?.city}}.</span>
    </div>
    <div>
      <ng-container *ngIf="address?.stateProvince">{{address?.stateProvince}} -</ng-container>
      <ng-container *ngIf="address?.country">{{address?.country|country}}.</ng-container>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div class="row justify-content-end">
      <div *ngIf="!isAddressDefault" class="col-auto col-action">
        <span class="link-tertiary-to-secondary-bold" (click)="onDeleteAddress()">
          <mat-icon class="mr-1">delete</mat-icon> {{'Delete address'|translate}}
        </span>
      </div>
      <div class="col-auto col-action">
        <span class="link-tertiary-to-secondary-bold" (click)="onEditAddress()">
          <mat-icon class="mr-1">edit</mat-icon> {{'Update'|translate}}
        </span>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
