@import "compile";

.mat-card {
  padding-top: 28px;
  height: 100%;

  .mat-card-content {
    color: $color-dark-primary-text;
    font-size: 15px;
    line-height: 21px;

    .address-title {
      margin-bottom: 30px;
      color: $color-primary-text;
      font-size: 20px;
      line-height: 29px;
    }

    .address-postal-code {
      font-style: italic;
    }
  }

  .mat-card-actions {
    margin: 0;

    .col-action {
      font-size: 13px;
      line-height: 15px;

      .mat-icon {
        vertical-align: middle;
      }
    }
  }
}
