<ng-container *ngIf="(brands$|async) as brands">
  <ng-container *ngIf="brands.length">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-10 col-xl-11 col-brands">
          <div class="row justify-content-center align-items-center">
            <ng-container *ngFor="let brand of brands">
              <div class="col-auto mb-3 px-4">
                <qaroni-brand-logo [brand]="brand"></qaroni-brand-logo>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
