<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="title|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="inscriptions$|async; else cardLoadingContent"></ng-container>

  <div class="row" [ngClass]="{ 'd-none': !(inscriptions$|async) }">
    <div class="col-12 mb-3">

      <mat-card @enterFadeIn class="bg-grey">
        <mat-card-content>
          <qaroni-partner-company-inscriptions-table [partnerID]="licenseCompanyID"></qaroni-partner-company-inscriptions-table>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
