<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Edit enrollment request'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="(inscription$|async) as inscription; else cardLoadingContent">
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
