<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="title|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="(groups$|async) as groups; else cardEmptyContent">
    <ng-container *ngIf="groups?.length; else cardEmptyContent">
      <div class="row">
        <div *ngFor="let group of groups" class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 mb-3">
          <qaroni-list-group-item @enterFadeIn [group]="group" [partnerID]="partnerID"></qaroni-list-group-item>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'For now, no options available'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
