<ng-container *ngIf="member">
  <mat-card class="bg-grey card-style-one h-100" [ngClass]="{ 'mat-card-elevation-hover': cardLink }">
    <mat-card-content>
      <ng-container *ngIf="hasImage">
        <div class="mb-4 text-center wrapper-group-image">
          <img [src]="member?.groupInfo?.imageUrl" [alt]="'image: ' + member?.groupInfo?.name" class="img-fluid">
        </div>
      </ng-container>

      <div *ngIf="member?.groupInfo?.name" class="mb-3 title-style-name-group">
        <ng-container *ngIf="cardLink; else onlyName">
          <a [routerLink]="['/licenses', 'members', member?.memberId, 'details']">
            {{member?.groupInfo?.name}}
          </a>
        </ng-container>
        <ng-template #onlyName>
          {{member?.groupInfo?.name}}
        </ng-template>
      </div>

      <div class="row">
        <ng-container *ngIf="member?.userInfo?.birthday || member?.userInfo?.firstName || member?.userInfo?.lastName">
          <div class="col-auto mb-2">
            <qaroni-info-label-value [label]="member?.userInfo?.birthday|date:'mediumDate'"
              [value]="member?.userInfo?.firstName + ' ' + member?.userInfo?.lastName">
            </qaroni-info-label-value>
          </div>
        </ng-container>
        <ng-container *ngIf="member?.userInfo?.documentType || member?.userInfo?.document">
          <div class="col-auto mb-2">
            <qaroni-info-label-value [label]="member?.userInfo?.documentType" [value]="member?.userInfo?.document">
            </qaroni-info-label-value>
          </div>
        </ng-container>
        <ng-container *ngIf="member?.userInfo?.email || member?.userInfo?.phone">
          <div class="col-auto mb-2">
            <qaroni-info-label-value [label]="member?.userInfo?.email" [value]="member?.userInfo?.phone">
            </qaroni-info-label-value>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="member?.addresses?.length">
        <mat-divider inset class="mb-2"></mat-divider>

        <div class="row">
          <div *ngFor="let address of member?.addresses" class="col-auto col-address">
            <qaroni-address-string [address]="address"></qaroni-address-string>
          </div>
        </div>
      </ng-container>

      <mat-divider inset class="my-2"></mat-divider>

      <div class="row mb-4">
        <div class="col-auto mb-2" *ngIf="member?.code">
          <qaroni-info-label-value [label]="'Number'|translate" [value]="member?.code"></qaroni-info-label-value>
        </div>
        <div class="col-auto mb-2" *ngIf="member?.status">
          <qaroni-info-label-value [label]="'Status'|translate" [value]="member?.status|groupMemberStatus|translate">
          </qaroni-info-label-value>
        </div>
        <div class="col-auto mb-2" *ngIf="member?.expirationDate">
          <qaroni-info-label-value [label]="'Expire at'|translate" [value]="member?.expirationDate|date:'mediumDate'">
          </qaroni-info-label-value>
        </div>
      </div>

      <ng-container *ngIf="member?.walletUrl && false">
        <div class="row justify-content-center">
          <div class="col-8 col-md-10 col-lg-12 col-xl-10">
            <a [href]="member?.walletUrl" (click)="onDownloadWallet($event)">
              <img [src]="'add-to-wallet-img'|translate" [alt]="'Add to wallet'|translate" class="img-fluid">
            </a>
          </div>
        </div>
      </ng-container>

      <!-- <pre>{{member|json}}</pre> -->
    </mat-card-content>
  </mat-card>
</ng-container>
