<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="('Invoice'|translate) + (orderId.value ? ' Nº ' + orderId.value : '')">
      </qaroni-page-title>
    </div>
  </div>
  <ng-container *ngIf="initLoaded; else cardLoadingContent">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <mat-card class="bg-grey card-auth">
          <mat-card-content>

            <div class="row justify-content-end row-create-address">
              <div class="col-auto">
                <button mat-flat-button color="accent" class="button-lg" (click)="createAddress()">
                  <mat-icon>add_location_alt</mat-icon> {{'Create address'|translate}}
                </button>
              </div>
            </div>

            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
              <ng-container *ngIf="addresses?.length">
                <div class="row align-items-center">
                  <div class="col-12 col-md-4 col-input">
                    <mat-form-field appearance="outline">
                      <mat-label>{{'Address'|translate}}</mat-label>
                      <mat-select formControlName="addressId" #auxAddressId (selectionChange)="onChangeAddress($event)">
                        <mat-option *ngFor="let address of addresses" [value]="address?.addressId">
                          {{address?.alias ? address?.alias + ' - ' : null}} {{address?.line1}}
                        </mat-option>
                      </mat-select>
                      <mat-error align="start" *ngIf="InputValidation.checkInputErrors(addressId)">
                        <qaroni-input-error-messages [fc]="addressId"></qaroni-input-error-messages>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-8 col-input">
                    <qaroni-address-string *ngIf="selectedAddress" [address]="selectedAddress"></qaroni-address-string>
                  </div>
                </div>
              </ng-container>

              <mat-divider inset class="divider-sections"></mat-divider>

              <div class="row">
                <div class="col-12 col-md-6 col-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Name'|translate}}</mat-label>
                    <input matInput formControlName="name" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(name)">
                      <qaroni-input-error-messages [fc]="name"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 col-md-6 col-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'NIF'|translate}}</mat-label>
                    <input matInput formControlName="nif" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(nif)">
                      <qaroni-input-error-messages [fc]="nif"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 col-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Email'|translate}}</mat-label>
                    <input matInput formControlName="email" autocomplete="off" type="email">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(email)">
                      <qaroni-input-error-messages [fc]="email"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 col-md-6 col-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Phone'|translate}}</mat-label>
                    <input matInput formControlName="phone" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(phone)">
                      <qaroni-input-error-messages [fc]="phone"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center row-button-invoice">
                <div class="col-auto">
                  <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
                    {{'Get order invoice'|translate}}
                  </button>
                </div>
              </div>
            </form>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
