<button mat-button class="close-icon" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>{{'Send by email'|translate}}</div>

<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="row justify-content-center">
      <div class="col-11 col-sm-8">
        <mat-form-field appearance="outline">
          <mat-label>{{'Email'|translate}}</mat-label>
          <input matInput formControlName="email" autocomplete="off" type="email">
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(email)">
            <qaroni-input-error-messages [fc]="email"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="row justify-content-end align-items-center">
      <div class="col-auto">
        <span class="cancel-link" (click)="onCancelClick()">{{'Cancel'|translate}}</span>
      </div>
      <div class="col-auto">
        <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
          <mat-icon>email</mat-icon> {{'Send'|translate}}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
