<mat-card class="bg-grey card-style-preview">
  <mat-card-content>
    <div class="row justify-content-end">
      <div class="col-12 col-md-2 mb-3 mb-md-0 text-center">
        <ng-container *ngIf="subscriptionsService.getSubscriptionImageUrl(subscription)">
          <img [src]="subscriptionsService.getSubscriptionImageUrl(subscription)" [alt]="subscription?.name"
            class="preview-image">
        </ng-container>
      </div>
      <div class="col-12 col-sm">
        <div class="title-inside-card-content" [innerHTML]="subscription?.name"></div>
        <div class="description-inside-card-content" [innerHTML]="subscription?.description"></div>
      </div>
    </div>
    <div *ngIf="subscription?.walletUrl" class="row justify-content-end row-container-buttons">
      <div class="col-auto mb-3 mb-sm-0">
        <a [href]="subscription?.walletUrl">
          <img [src]="'add-to-wallet-img'|translate" [alt]="'Add to wallet'|translate" class="add-to-wallet-image">
        </a>
      </div>
      <div class="col-auto mb-3 mb-sm-0">
        <button mat-flat-button color="accent" class="button-lg" (click)="onSendByEmail()">
          <mat-icon>email</mat-icon> {{'Send by email'|translate}}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
