<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="title|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="companies$|async; else cardEmptyContent"></ng-container>

  <div class="row" [ngClass]="{ 'd-none': !(companies$|async) }">
    <div class="col-12 mb-3">

      <mat-card @enterFadeIn class="bg-grey">
        <mat-card-content>
          <qaroni-partner-companies-table [partnerID]="licenseCompanyID">
          </qaroni-partner-companies-table>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no information about this license'|translate">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
