@import "compile";
@import "src/assets/scss/mixins/breakpoints";

.ngx-gallery ::ng-deep ngx-gallery-preview.ngx-gallery-active {
  top: #{$header-small};
  height: calc(100vh - #{$header-small});

  @include rwbp($compact-bp) {
    top: #{$header-big};
    height: calc(100vh - #{$header-big});
  }
}

.ngx-gallery ::ng-deep .ngx-gallery-icon.ngx-gallery-arrow {
  text-shadow: 0 0 4px #777777;

  &.ngx-gallery-disabled {
    text-shadow: unset;
  }
}

// ADDED when changed by kolkov gallery
.ngx-gallery {
  display: inline-block;
  // margin-bottom: 20px;
}
