<button mat-flat-button color="accent" class="w-100 checkout-button" [disabled]="disabledButton"
  (click)="onPaymentBankCharge()">
  <mat-icon>account_balance</mat-icon>
  {{'Bank charge'|translate}}
</button>
