@import "compile";
@import "src/assets/scss/mixins/links";

.bg-footer-content {
  color: $color-footer-content;
  background-color: $bg-footer-content;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 12px;
  line-height: 14px;

  a {
    @include link-inherit-to-secondary;
  }
}
