<ng-container *ngIf="element">
  <ng-container *ngIf="element?.internal === true; else LinkExternal">
    <a mat-flat-button color="accent" class="button-lg" [routerLink]="element?.buttonAction|routerLinkBase"
      [queryParams]="element?.buttonAction|routerLinkQueryParams" [target]="element?.local ? '_self' : '_blank'">
      {{element?.buttonName}}
    </a>
  </ng-container>
  <ng-template #LinkExternal>
    <ng-container *ngIf="element?.internal === false">
      <a mat-flat-button color="accent" class="button-lg" [href]="element?.buttonAction"
        [target]="element?.local ? '_self' : '_blank'">
        {{element?.buttonName}}
      </a>
    </ng-container>
  </ng-template>
</ng-container>
