<div [ngSwitch]="LandingEnv.groups">
  <qaroni-partners-section-categories *ngSwitchCase="AppLandingPageGroupsEnum.CATEGORIES">
  </qaroni-partners-section-categories>
  <qaroni-partners-section-groups *ngSwitchCase="AppLandingPageGroupsEnum.GROUPS"></qaroni-partners-section-groups>
</div>
