<div [ngSwitch]="AppEnv.styleTitle">
  <ng-container *ngSwitchCase="AppTitleStyleEnum.ONE">
    <qaroni-page-title-style-one [title]="title" [titleClass]="getTitleClasses"></qaroni-page-title-style-one>
  </ng-container>
  <ng-container *ngSwitchCase="AppTitleStyleEnum.MATERIAL">
    <qaroni-page-title-style-material [title]="title" [titleClass]="getTitleClasses"></qaroni-page-title-style-material>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <qaroni-page-title-style-one [title]="title" [titleClass]="getTitleClasses"></qaroni-page-title-style-one>
  </ng-container>
</div>
