<ng-container *ngIf="partner">
  <a [routerLink]="['/associations', 'partners', partner.profileId, getPartnerProfileUrlTradename]"
    class="text-decoration-none">
    <mat-card class="bg-grey card-style-one mat-card-elevation-hover h-100">
      <mat-card-content>
        <div class="mb-4">
          <qaroni-image-aspect-ratio [src]="partner?.imageUrl" aspectRatio="4:3" [default]="true">
          </qaroni-image-aspect-ratio>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mat-headline" [innerHTML]="partner?.tradename"></div>
          </div>
          <div class="col-auto" *ngIf="partner?.address">
            <qaroni-address-string [address]="partner?.address"></qaroni-address-string>
          </div>
        </div>

        <div class="w-100 mt-3"></div>

        <a class="mat-small see-details-link"
          [routerLink]="['/associations', 'partners', partner.profileId, getPartnerProfileUrlTradename]">
          {{'See details'|translate}}
        </a>

        <!-- <pre>{{partner|json}}</pre> -->
      </mat-card-content>
    </mat-card>
  </a>
</ng-container>
