@import "compile";
@import "src/assets/scss/mixins/typography";

.container-all-title {
  padding-top: 30px;
  padding-bottom: 30px;

  .container-title {
    font-size: 32px;
    line-height: 46px;
    color: $color-primary-text;
    @include font-family-primary;
    @include font-weight-bold;
  }

  .container-title.secondary {
    font-size: 28px;
    line-height: 40px;
    color: $color-primary-text;
    text-transform: uppercase;
    @include font-family-primary;
    @include font-weight-light;
  }
}
