/* You can add global styles to this file, and also import other style files */

@import "src/assets/scss/application";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family-primary;
}

.text-accent {
  color: $secondary-color !important;
}

.colors-bars {
  position: relative;
  width: 38px;
  height: 4px;
  background: $secondary-color;
  display: block;

  &::after {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    content: "";
  }

  &::after {
    width: 38px;
    background: $tertiary-color;
    right: -43px;
  }
}
