<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="titleLicenseDetails|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="licenseMember; else cardEmptyContent">
    <div class="row justify-content-center justify-content-md-start">
      <div class="col-12 col-sm-10 col-md-auto mb-3">
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="onEditInformation()">
            <mat-icon mat-list-icon>edit</mat-icon> {{'Update information'|translate}}
          </mat-list-option>
          <mat-list-option (click)="onEditAddress()">
            <mat-icon mat-list-icon>edit</mat-icon> {{'Update address'|translate}}
          </mat-list-option>
          <mat-list-option (click)="onDownloadWallet()" *ngIf="licenseMember?.walletUrl">
            <mat-icon mat-list-icon>cloud_download</mat-icon> {{'Download Wallet'|translate}}
          </mat-list-option>
          <mat-list-option (click)="onAssemblies()">
            <mat-icon mat-list-icon>how_to_vote</mat-icon> {{'Assemblies'|translate}}
          </mat-list-option>
          <mat-list-option disabled>
            <mat-icon mat-list-icon>notifications</mat-icon> {{'Notifications'|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="showRenew" (click)="renewReactivateLicenseMember(GroupInscriptionTypeEnum.RENEWAL)">
            <mat-icon mat-list-icon>sync</mat-icon> {{'Renew'|translate}}
          </mat-list-option>
          <mat-list-option *ngIf="showReactivateDates || showReactivateStatus"
            (click)="renewReactivateLicenseMember(GroupInscriptionTypeEnum.REACTIVATION)">
            <mat-icon mat-list-icon>sync</mat-icon> {{'Reactivate'|translate}}
          </mat-list-option>
          <mat-list-option disabled>
            <mat-icon mat-list-icon>people</mat-icon> {{'Networking'|translate}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4">
        <qaroni-license-member-item @enterFadeIn [member]="licenseMember"></qaroni-license-member-item>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no information about this license'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
