<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Registration information'|translate"></qaroni-page-title>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <qaroni-card-loading-content></qaroni-card-loading-content>
    </div>
  </div> -->
  <form [formGroup]="ticketsForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 mb-2">
        <mat-form-field appearance="outline">
          <mat-label>{{'Attendees quantity'|translate}}</mat-label>
          <mat-select formControlName="quantity" (selectionChange)="onChangeQuantity($event)">
            <mat-option *ngFor="let quantity of [1, 2, 3, 4, 5]" [value]="quantity">
              {{quantity}}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="!quantity.value">
            {{'Select the number of tickets you want to request'|translate}}
          </mat-hint>
          <mat-error align="start" *ngIf="InputValidation.checkInputErrors(quantity)">
            <qaroni-input-error-messages [fc]="quantity"></qaroni-input-error-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf="attendees?.length">
      <div class="row" formArrayName="attendees">
        <div class="col-12 col-lg-12 col-xl-12 mb-3"
          *ngFor="let attendee of attendees?.controls; index as i; last as isLast">
          <mat-card class="card-flat-border" [ngClass]="{ 'mb-4': isLast }">
            <mat-card-content>
              <div class="row">
                <div class="col-12 mat-title font-family-secondary-light mb-2">
                  {{i+1}}. {{'Attendee information'|translate}}
                </div>
              </div>
              <div class="row" [formGroupName]="i">
                <div class="col-12 col-sm-6 col-lg mb-2 mb-lg-0">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      {{'First name'|translate}}<qaroni-required-indicator></qaroni-required-indicator>
                    </mat-label>
                    <input matInput formControlName="firstName" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(attendee.get('firstName'))">
                      <qaroni-input-error-messages [fc]="attendee.get('firstName')"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 col-sm-6 col-lg mb-2 mb-lg-0">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      {{'Last name'|translate}}<qaroni-required-indicator></qaroni-required-indicator>
                    </mat-label>
                    <input matInput formControlName="lastName" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(attendee.get('lastName'))">
                      <qaroni-input-error-messages [fc]="attendee.get('lastName')"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 col-sm-6 col-lg mb-2 mb-lg-0">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Phone'|translate}}</mat-label>
                    <input matInput formControlName="phone" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(attendee.get('phone'))">
                      <qaroni-input-error-messages [fc]="attendee.get('phone')"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-12 col-sm-6 col-lg">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      {{'Email'|translate}}<qaroni-required-indicator></qaroni-required-indicator>
                    </mat-label>
                    <input matInput formControlName="email" autocomplete="off" type="email">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(attendee.get('email'))">
                      <qaroni-input-error-messages [fc]="attendee.get('email')"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row justify-content-end align-items-center">
        <div class="col-auto">
          <span class="cancel-link link-tertiary-to-secondary-bold" (click)="onBack()">
            {{'Cancel'|translate}}
          </span>
        </div>
        <div class="col-auto">
          <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
            <mat-icon>receipt</mat-icon>
            {{'Send request'|translate}}
          </button>
        </div>
      </div>
    </ng-container>
  </form>
</div>
