<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="changeTitleByCategory && (productCategory$|async) as productCategory; else SimpleTitle">
        <ng-container *ngIf="productCategory?.name; else SimpleTitle">
          <qaroni-page-title [title]="('Category'|translate) + ': ' + productCategory?.name">
          </qaroni-page-title>
        </ng-container>
      </ng-container>
      <ng-template #SimpleTitle>
        <qaroni-page-title [title]="'product-details'|translate"></qaroni-page-title>
      </ng-template>
    </div>
  </div>
  <ng-container *ngIf="initLoaded; else cardLoadingContent">
    <div class="row">
      <div class="col-12 mb-4">
        <mat-card class="card-product-basic-info bg-grey">
          <mat-card-content>
            <div class="row">
              <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
                <qaroni-product-detail-gallery [product$]="product$"></qaroni-product-detail-gallery>
              </div>
              <div class="col-12 col-md-6">

                <h2 class="product-name font-family-primary">{{product?.name}}</h2>
                <div class="colors-bars"></div>

                <mat-divider inset class="mt-3 mb-2"></mat-divider>

                <ng-container *ngIf="(productCategory$|async) as productCategory">
                  <div class="row justify-content-between">
                    <div class="col-auto">
                      <ng-container *ngIf="showProductReference && product?.variant?.factoryCode">
                        {{'Reference'|translate}}: <span
                          [innerHTML]="product?.variant?.factoryCode|sanitizeHtml"></span>
                      </ng-container>
                    </div>
                    <div class="col-auto mb-1">
                      <a [routerLink]="['/products']" [queryParams]="{ categories: productCategory?.categoryId }"
                        class="text-decoration-none link-tertiary-to-secondary-bold">
                        {{'See all in'|translate}} {{productCategory?.name}}
                      </a>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="product?.description">
                  <div class="mat-small product-description" [innerHTML]="product?.description|sanitizeHtml"></div>
                  <div class="d-flex flex-row justify-content-end">
                    <span class="see-product-description" (click)="scrollToDescription()">
                      {{'See description'|translate}}
                    </span>
                  </div>
                </ng-container>

                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <ng-container *ngIf="getShowPrices">
                      <ng-container *ngTemplateOutlet="productVariantPrice"></ng-container>
                    </ng-container>
                  </div>
                  <ng-container *ngIf="(brand$|async) as brand">
                    <ng-container *ngIf="hasBrandLogo(brand)">
                      <div class="col-auto">
                        <qaroni-brand-logo [brand]="brand"></qaroni-brand-logo>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>

                <qaroni-product-stock-string [product]="product"></qaroni-product-stock-string>

                <div class="container-product-options">
                  <qaroni-product-detail-options [product]="product" (selectOption)="onSelectOption($event)">
                  </qaroni-product-detail-options>
                </div>

                <ng-container *ngIf="getAllowShoppingCart">
                  <div class="container-quantity">
                    <div class="content-label mat-small">{{'quantity'|translate}}</div>
                    <mat-select [(ngModel)]="quantity" [disabled]="stockControl && !hasStock">
                      <ng-container *ngFor="let number of ProductUtils.productsQuantity()">
                        <ng-container *ngIf="stockControl; else quantityOptions">
                          <ng-container *ngIf="number <= product?.variant?.stock">
                            <ng-container *ngTemplateOutlet="quantityOptions">
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <ng-template #quantityOptions>
                          <mat-option [value]="number">
                            {{number}}
                          </mat-option>
                        </ng-template>
                      </ng-container>
                    </mat-select>
                  </div>

                  <div class="product-add-to-cart">
                    <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedBuyProduct"
                      (click)="onBuyProduct(product)">
                      <mat-icon>shopping_cart</mat-icon>
                      {{'add-to-cart'|translate}}
                    </button>
                  </div>
                </ng-container>

                <div class="row align-items-center">
                  <div class="col-auto mb-2">
                    {{'share-in'|translate}}:
                  </div>
                  <div class="col-auto">
                    <a mat-mini-fab color="facebook" href="#" (click)="shareOnFacebook()" class="mx-1 mb-2 flat"
                      matTooltip="Facebook">
                      <i class="fab fa-facebook-f fa-lg"></i>
                    </a>
                    <a mat-mini-fab color="twitter"
                      [href]="('https://twitter.com/intent/tweet?text=' + encodeURI(product?.name) + '&url=' + currentRoute)|sanitizeUrl"
                      target="_blank" class="mx-1 mb-2 flat" matTooltip="Twitter">
                      <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a mat-mini-fab color="whatsapp"
                      [href]="('https://wa.me/?text=' + encodeURI(product?.name) + '%0A%0A' + currentRoute)|sanitizeUrl"
                      target="_blank" class="mx-1 mb-2 flat" matTooltip="Whatsapp">
                      <i class="fab fa-whatsapp fa-lg"></i>
                    </a>
                    <a mat-mini-fab color="telegram"
                      [href]="('https://t.me/share/url?text=' + encodeURI(product?.name) + '&url=' + currentRoute)|sanitizeUrl"
                      target="_blank" class="mx-1 mb-2 flat" matTooltip="Telegram">
                      <i class="fab fa-telegram-plane fa-lg"></i>
                    </a>
                    <a mat-mini-fab color="linkedin"
                      [href]="('https://www.linkedin.com/shareArticle?url=' + currentRoute)|sanitizeUrl" target="_blank"
                      class="mx-1 mb-2 flat" matTooltip="Linkedin">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12">
        <mat-card class="card-product-large-info bg-grey">
          <mat-card-content>

            <div *ngIf="showTabsInfo" class="container-product-tab">
              <mat-tab-group>
                <ng-container *ngIf="product?.description">
                  <mat-tab [label]="'description'|translate">
                    <div class="px-2 pt-3 product-tab-text font-family-primary-light"
                      [innerHTML]="product?.description|sanitizeHtml"></div>
                  </mat-tab>
                </ng-container>

                <ng-container *ngIf="product?.attributes?.length">
                  <mat-tab [label]="'characteristics'|translate">
                    <div *ngFor="let attribute of product?.attributes" class="px-2 pt-3">
                      <div class="px-2 pt-3 product-tab-text font-family-primary-light">
                        <strong>{{attribute?.label}}:</strong>
                        {{attribute?.value}}
                      </div>
                    </div>
                  </mat-tab>
                </ng-container>

                <ng-container *ngIf="product?.descriptionTags?.length">
                  <ng-container *ngFor="let tag of product?.descriptionTags">
                    <mat-tab [label]="tag?.title">
                      <div class="px-2 pt-3 product-tab-text font-family-primary-light"
                        [innerHTML]="tag?.content|sanitizeHtml"></div>
                    </mat-tab>
                  </ng-container>
                </ng-container>
              </mat-tab-group>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="products?.length">
    <div class="row">
      <div class="col-12">
        <qaroni-page-title [title]="'You might also be interested'|translate" titleClass="secondary">
        </qaroni-page-title>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let product of products" class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-3 mb-3">
        <qaroni-product-card [product]="product"></qaroni-product-card>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>

<ng-template #productVariantPrice>
  <div *ngIf="product?.variant" class="product-price font-family-primary-bold">
    <ng-container *ngIf="hasVariantOffer; else notOffer">
      <div class="d-inline-block">
        {{product?.variant?.offer|integerToCurrency}} €
        <ng-container *ngTemplateOutlet="productUnit"></ng-container>
      </div>
      <div class="mat-small tax-included">{{'Tax included'|translate}}</div>
      <div class="mb-3">
        <span class="percentage-label-offer font-family-primary-bold">{{getLabelOfferString}}</span>
        <span class="price-without-offer">{{product?.variant?.price|integerToCurrency}} €</span>
      </div>
    </ng-container>
    <ng-template #notOffer>
      <div class="d-inline-block">
        {{product?.variant?.price|integerToCurrency}} €
        <ng-container *ngTemplateOutlet="productUnit"></ng-container>
      </div>
      <div class="mat-small tax-included">{{'Tax included'|translate}}</div>
    </ng-template>
  </div>
</ng-template>

<ng-template #productUnit>
  <ng-container *ngIf="isUnitTypeMetric && hasUnitName">
    <span class="product-unit">/ {{product?.unitName}}</span>
  </ng-container>
</ng-template>
