@import "compile";
@import "src/assets/scss/mixins/links";

.mat-card.card-product-basic-info {
  padding-top: 50px;
  padding-bottom: 45px;

  .product-name {
    margin-bottom: 10px;
    color: $color-primary-text;
    font-size: 24px;
    line-height: 28px;
  }

  .product-description {
    color: $color-secondary-text;
    font-size: 12px;
    line-height: 16px;
    max-height: 64px;
    overflow: hidden;
    margin-bottom: 4px;
  }

  .see-product-description {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    @include link-tertiary-to-secondary-bold;
  }

  .product-price {
    margin-bottom: 4px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $secondary-color;

    .tax-included {
      color: $primary-color;
      line-height: 1.4;
    }

    .product-unit {
      margin-left: 2px;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    .percentage-label-offer {
      color: #ffffff;
      background-color: $product-label-offer-bg-color;
      padding-left: 15px;
      padding-right: 10px;
      margin-right: 5px;
      font-size: 1.25rem;
      line-height: 1.5rem;
      border-radius: 0.75rem;
    }

    .price-without-offer {
      margin-left: 4px;
      font-size: 1.125rem;
      color: $color-secondary-text;
      text-decoration: line-through;
    }
  }

  .container-product-options {
    margin-bottom: 30px;
  }

  .container-quantity {
    margin-bottom: 20px;
    max-width: 50px;

    .content-label {
      color: $color-dark-primary-text;
      min-height: 20px;
    }
  }

  .product-add-to-cart {
    margin-bottom: 60px;
  }

  .container-brand {
    margin-top: 8px;
  }
}

.mat-card.card-product-large-info {
  .container-product-tab {
    .product-tab-text {
      color: $color-dark-primary-text;
      font-size: 15px;
      line-height: 21px;
      white-space: pre-line;
    }
  }
}
