<ng-container *ngIf="(productCollections$|async) as collections">
  <div class="filters-title">{{'Collections'|translate}}</div>
  <div [ngClass]="{'filters-wrapper-selection-list': showFewOptions}">
    <mat-selection-list (selectionChange)="onSelectionChange($event)">
      <ng-container *ngFor="let collection of collections">
        <mat-list-option checkboxPosition="before" [selected]="isOptionSelected(collection?.collectionId)"
          [value]="collection?.collectionId">
          {{collection?.name}}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </div>
  <ng-container *ngIf="collections?.length > 7">
    <div (click)="onShowAll()">
      <span class="filter-text-link">
        <ng-container *ngIf="showFewOptions; else seeMinusCollections">
          <i class="fas fa-plus mr-1"></i>
          {{'Show all collections'|translate}}
        </ng-container>
        <ng-template #seeMinusCollections>
          <i class="fas fa-minus mr-1"></i>
          {{'Show minus'|translate}}
        </ng-template>
      </span>
    </div>
  </ng-container>
</ng-container>
