<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col-12">
      <mat-sidenav-container>
        <mat-sidenav #drawer [attr.role]="(isSmall$|async) ? 'dialog' : 'navigation'"
          [mode]="(isSmall$|async) ? 'over' : 'side'" [opened]="(isSmall$|async) === false">

          <qaroni-products-filters (queryParamsChange)="onGetQueryParams($event)"></qaroni-products-filters>

        </mat-sidenav>
        <mat-sidenav-content>

          <div class="container-fluid pt-3 pb-5">
            <div class="row">
              <div class="col-12">
                <qaroni-page-title [title]="getPageTitle"></qaroni-page-title>
              </div>
            </div>
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-auto">
                <ng-container *ngIf="isSmall$|async">
                  <button mat-flat-button color="accent" (click)="drawer.toggle()">
                    <mat-icon>filter_list</mat-icon>
                    {{'See filters'|translate}}
                  </button>
                </ng-container>
              </div>
              <ng-container *ngIf="products?.length">
                <div class="col-auto font-family-primary-light">
                  <button mat-button color="primary" (click)="onSortAlphabetically()" class="mx-1"
                    [matTooltip]="'Alphabetical order'|translate" matTooltipPosition="above">
                    <i [class]="getSortAlphabeticallyIcon"></i> {{btnAlphabeticalName}}
                  </button>
                  <button mat-button color="primary" (click)="onSortByPriceProduct()" class="mx-1"
                    [matTooltip]="'Sort by price'|translate" matTooltipPosition="above">
                    <i [class]="getSortByPriceIcon"></i> {{'By price'|translate}}
                  </button>
                  {{('Products'|translate) + ': ' + products?.length}}
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="products?.length; else cardEmptyContent">
              <div class="row">
                <div *ngFor="let product of products; trackBy: trackByFn"
                  class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 col-xl-3 mb-3">
                  <qaroni-product-card [product]="product"></qaroni-product-card>
                </div>
              </div>
              <div class="row justify-content-center" *ngIf="showLoadMoreProducts">
                <div class="col-8 my-4">
                  <button mat-flat-button color="primary" class="w-100" (click)="onLoadMoreProducts()">
                    <i class="fas fa-arrow-circle-down"></i>
                    {{'Load more products'|translate}}...
                  </button>
                </div>
              </div>
            </ng-container>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>

    </div>
  </div>
</div>

<qaroni-scroll-top></qaroni-scroll-top>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 col-card-empty">
      <qaroni-card-empty-content [title]="'There are no products that match the filters applied'|translate"
        [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
