<button mat-button class="close-icon" [mat-dialog-close]="false">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-title>{{'There was an error in the application'|translate}}.</div>
<mat-dialog-content>
  <p>
    {{'Es posible que el error sea algo temporal, por lo que puedes intentarlo de nuevo'|translate}}.
  </p>
  <p>
    {{'Si no se soluciona el problema contacta con nosotros'|translate}}.
    <span *ngIf="!showErrorDetails" (click)="onShowErrorDetails()">
      <mat-icon class="more-info-icon" matTooltip="Más información del error">error_outline</mat-icon>
    </span>
  </p>
  <mat-card *ngIf="showErrorDetails" class="mat-elevation-z0">
    <mat-card-header>
      <mat-card-title>
        {{'Información técnica del error'|translate}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{'El siguiente código contiene información útil para nuestros técnicos a la hora de detectar y corregir el error'|translate}}.
      </p>
      <code>
        <div *ngIf="isControlledError" class="mb-3">
          <strong>{{error?.error?.errors[0]?.code}}: {{error?.error?.errors[0]?.title}}</strong>
        </div>
        <strong>Url:</strong> {{error?.url}}
        <br>
        <strong>Status:</strong> {{error?.status}}
        <br>
        <strong>StatusText:</strong> {{error?.statusText}}
        <br>
        <strong>Message:</strong> {{error?.message}}
      </code>
    </mat-card-content>
  </mat-card>
  <!-- <pre>{{data|json}}</pre> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" class="button-lg" [mat-dialog-close]="true" cdkFocusInitial>
    <mat-icon>error</mat-icon> {{'Close'|translate}}
  </button>
</mat-dialog-actions>
