@import "compile";
@import "src/assets/scss/mixins/transitions";

.more-info-icon {
  vertical-align: top;
  color: $color-dark-secondary-text;
  cursor: pointer;
  @include transition-color;

  &:hover {
    color: $secondary-color;
  }
}
