<div class="filters-title">{{attribute?.name}}</div>
<div [ngClass]="{'filters-wrapper-selection-list': showFewOptions}">
  <mat-selection-list (selectionChange)="onSelectionChange($event)">
    <ng-container *ngFor="let value of attribute?.values">
      <mat-list-option checkboxPosition="before" [selected]="isOptionSelected(value)" [value]="value">
        {{value}}
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</div>
<ng-container *ngIf="attribute?.values?.length > 7">
  <div (click)="onShowAll()">
    <span class="filter-text-link">
      <ng-container *ngIf="showFewOptions; else seeMinusAttributes">
        <i class="fas fa-plus mr-1"></i>
        {{'Show all'|translate}} {{attribute?.name|lowercase}}
      </ng-container>
      <ng-template #seeMinusAttributes>
        <i class="fas fa-minus mr-1"></i>
        {{'Show minus'|translate}}
      </ng-template>
    </span>
  </div>
</ng-container>
