<div class="filters-title">{{'Products type'|translate}}</div>
<div class="pl-3 mb-3">
  <mat-radio-group (change)="onTypeChange($event)">
    <ng-container *ngFor="let type of ProductTypeArray">
      <div class="filters-radio-type">
        <mat-radio-button [checked]="isChecked(type)" [value]="type">
          {{type|productType}}
        </mat-radio-button>
      </div>
    </ng-container>
  </mat-radio-group>
</div>
