<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title title="Página no encontrada"></qaroni-page-title>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">
      <mat-card @enterFadeIn class="bg-grey card-auth">
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-12 col-md-10">
              <div class="container-icon text-warning">
                <i class="fas fa-exclamation-triangle fa-5x"></i>
              </div>
              <div class="container-title-inside">{{'Go to home'|translate}}</div>
              <div class="col-action-button">
                <button mat-flat-button color="accent" class="button-lg" [routerLink]="['/']">
                  <mat-icon>home</mat-icon> {{'Go to home'|translate}}
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
