<form [formGroup]="userAddressForm">

  <div class="row justify-content-center">
    <div class="col-10 col-sm-6 col-address-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Address'|translate}}</mat-label>
        <input matInput formControlName="line1" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(line1)">
          <qaroni-input-error-messages [fc]="line1"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 col-sm-6 col-address-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Address optional'|translate}}</mat-label>
        <input matInput formControlName="line2" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(line2)">
          <qaroni-input-error-messages [fc]="line2"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 col-sm-6 col-address-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'City'|translate}}</mat-label>
        <input matInput formControlName="city" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(city)">
          <qaroni-input-error-messages [fc]="city"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 col-sm-6 col-address-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Postal code'|translate}}</mat-label>
        <input matInput formControlName="postalCode" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(postalCode)">
          <qaroni-input-error-messages [fc]="postalCode"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 col-sm-6 col-address-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Province'|translate}}</mat-label>
        <input matInput formControlName="stateProvince" autocomplete="off" type="text">
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(stateProvince)">
          <qaroni-input-error-messages [fc]="stateProvince"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-10 col-sm-6 col-address-input">
      <mat-form-field appearance="outline">
        <mat-label>{{'Country'|translate}}</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of CountryUtils.getCountryArray()" [value]="country">
            {{country|country}}
          </mat-option>
        </mat-select>
        <mat-error align="start" *ngIf="InputValidation.checkInputErrors(country)">
          <qaroni-input-error-messages [fc]="country"></qaroni-input-error-messages>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

</form>
