<div class="container pt-3 pb-5">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <qaroni-page-title [title]="('order-details'|translate) + (order?.code ? ' Nº ' + order?.code.toString() : '')">
      </qaroni-page-title>
    </div>
    <div class="col-12 col-md-auto col-title-links mb-4 mb-md-0">
      <a class="title-link" [routerLink]="['/orders']">{{'Back to My Orders'|translate}}</a>
    </div>
  </div>
  <ng-container *ngIf="initLoaded; else cardLoadingContent">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10" *ngIf="order">
        <mat-card class="bg-grey card-style-one">
          <mat-card-content>
            <qaroni-order-resume-information [order]="order" [showInvoiceLink]="false"
              (invoice)="onOrderInvoice($event)" (ticket)="onOrderTicket($event)"></qaroni-order-resume-information>

            <div class="row">
              <div class="col-12">
                <mat-divider inset class="divider-sections"></mat-divider>
                <ng-container *ngFor="let item of order?.items">
                  <qaroni-order-resume-item [item]="item"></qaroni-order-resume-item>
                  <mat-divider inset class="divider-sections"></mat-divider>
                </ng-container>
              </div>
            </div>

            <ng-container class="row" *ngIf="order?.invoices?.length">
              <qaroni-order-invoices [order]="order" (invoice)="onOrderInvoice($event)"></qaroni-order-invoices>
            </ng-container>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
