<div class="container-fluid bg-footer-first">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-lg-4 col-xl-4 mt-0 mt-lg-0 text-center">
            <div class="mb-4">
              <a [href]="UrlsInfo?.website">
                <div class="wrapper-img-logo mx-auto">
                  <img [src]="ImagesInfo?.logos?.footer?.source" [alt]="ImagesInfo?.logos?.footer?.alt"
                    class="img-fluid">
                </div>
              </a>
            </div>

            <div>

              <ng-container *ngFor="let link of keysUrlsEnvironment">
                <ng-container [ngSwitch]="link">

                  <ng-container *ngSwitchCase="'facebook'">
                    <a mat-mini-fab color="facebook" *ngIf="UrlsInfo?.facebook" [href]="UrlsInfo?.facebook"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="Facebook">
                      <i class="fab fa-facebook-f fa-lg"></i>
                    </a>
                  </ng-container>

                  <ng-container *ngSwitchCase="'flickr'">
                    <a mat-mini-fab color="flickr" *ngIf="UrlsInfo?.flickr" [href]="UrlsInfo?.flickr"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="Flickr">
                      <i class="fab fa-flickr fa-lg"></i>
                    </a>
                  </ng-container>

                  <ng-container *ngSwitchCase="'instagram'">
                    <a mat-mini-fab color="bg-instagram" *ngIf="UrlsInfo?.instagram" [href]="UrlsInfo?.instagram"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="Instagram">
                      <i class="fab fa-instagram fa-lg"></i>
                    </a>
                  </ng-container>

                  <ng-container *ngSwitchCase="'linkedin'">
                    <a mat-mini-fab color="linkedin" *ngIf="UrlsInfo?.linkedin" [href]="UrlsInfo?.linkedin"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="Linkedin">
                      <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                  </ng-container>

                  <ng-container *ngSwitchCase="'twitter'">
                    <a mat-mini-fab color="twitter" *ngIf="UrlsInfo?.twitter" [href]="UrlsInfo?.twitter"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="Twitter">
                      <i class="fab fa-twitter fa-lg"></i>
                    </a>
                  </ng-container>

                  <ng-container *ngSwitchCase="'vimeo'">
                    <a mat-mini-fab color="vimeo" *ngIf="UrlsInfo?.vimeo" [href]="UrlsInfo?.vimeo"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="Vimeo">
                      <i class="fab fa-vimeo-v fa-lg"></i>
                    </a>
                  </ng-container>

                  <ng-container *ngSwitchCase="'whatsapp'">
                    <a mat-mini-fab color="whatsapp" *ngIf="UrlsInfo?.whatsapp" [href]="UrlsInfo?.whatsapp"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="WhatsApp">
                      <i class="fab fa-whatsapp fa-lg"></i>
                    </a>
                  </ng-container>

                  <ng-container *ngSwitchCase="'youtube'">
                    <a mat-mini-fab color="youtube" *ngIf="UrlsInfo?.youtube" [href]="UrlsInfo?.youtube"
                      class="mx-1 mb-2 flat" target="_blank" matTooltip="YouTube">
                      <i class="fab fa-youtube fa-lg"></i>
                    </a>
                  </ng-container>

                </ng-container>
              </ng-container>

            </div>
          </div>
          <div class="col-12 col-lg-8 col-xl-6 offset-xl-2">
            <div class="row">
              <div class="col-12 col-sm-6 mt-5 mt-lg-0 text-center">
                <div class="footer-section-title font-family-material-semi-bold">{{'info'|translate}}</div>

                <ng-container *ngFor="let link of keysUrlsEnvironment">
                  <ng-container [ngSwitch]="link">

                    <ng-container *ngSwitchCase="'cookies'">
                      <div *ngIf="UrlsInfo?.cookies" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.cookies" class="footer-link">{{'cookies-policy'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'legal'">
                      <div *ngIf="UrlsInfo?.legal" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.legal" class="footer-link">{{'legal'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'privacy'">
                      <div *ngIf="UrlsInfo?.privacy" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.privacy" class="footer-link">{{'privacy-policy'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'purchase'">
                      <div *ngIf="UrlsInfo?.purchase" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.purchase" class="footer-link">{{'purchase-conditions'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'returnsRefunds'">
                      <div *ngIf="UrlsInfo?.returnsRefunds" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.returnsRefunds"
                          class="footer-link">{{'Returns and refunds policy'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'shippingDelivery'">
                      <div *ngIf="UrlsInfo?.shippingDelivery" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.shippingDelivery"
                          class="footer-link">{{'Shipping and delivery'|translate}}</a>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'tsAndCs'">
                      <div *ngIf="UrlsInfo?.tsAndCs" class="footer-section-item font-family-primary-regular">
                        <a [href]="UrlsInfo?.tsAndCs" class="footer-link">{{'terms-and-conditions'|translate}}</a>
                      </div>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </div>
              <div class="col-12 col-sm-6 mt-5 mt-lg-0 text-center">
                <div class="footer-section-title font-family-material-semi-bold">{{'contact'|translate}}</div>

                <ng-container *ngFor="let link of keysUrlsEnvironment">
                  <ng-container [ngSwitch]="link">

                    <ng-container *ngSwitchCase="'email'">
                      <ng-container *ngIf="UrlsInfo?.email">
                        <div class="footer-section-item font-family-primary-regular">
                          <div class="footer-only-text">{{'Email'|translate}}</div>
                        </div>
                        <div class="footer-section-item font-family-primary-regular">
                          <a [href]="'mailto:' + UrlsInfo?.email"
                            class="footer-link footer-link-bold font-weight-bold">{{UrlsInfo?.email}}</a>
                        </div>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'phone'">
                      <ng-container *ngIf="UrlsInfo?.phone">
                        <div class="footer-section-item font-family-primary-regular">
                          <div class="footer-only-text">{{'Phone'|translate}}</div>
                        </div>
                        <div class="footer-section-item font-family-primary-regular">
                          <a [href]="'tel:' + UrlsInfo?.phone"
                            class="footer-link footer-link-bold font-weight-bold">{{UrlsInfo?.phone}}</a>
                        </div>
                      </ng-container>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
