@import "compile";
@import "src/assets/scss/mixins/breakpoints";
@import "src/assets/scss/mixins/links";

.bg-footer-first {
  background-color: $bg-footer-first;
  padding-top: 60px;
  padding-bottom: 60px;

  a.footer-link {
    @include link-inherit-to-secondary;
  }

  .wrapper-img-logo {
    width: 250px;
    max-width: 100%;

    @include md {
      width: 300px;
    }

    @include lg {
      width: 250px;
    }

    @include xl {
      width: 300px;
    }

    img.img-fluid {
      width: 100%;
    }
  }

  .footer-section-title {
    margin-bottom: 24px;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-title-footer-first;
  }

  .footer-section-item {
    font-size: 1.1rem;
    margin-bottom: 6px;
    color: $color-item-footer-first;

    .footer-link-bold {
      color: $secondary-color;
    }
  }
}
