@import "compile";
@import "src/assets/scss/mixins/links";

.mat-card.bg-grey {
  padding: 40px 30px;

  .address-link {
    font-size: 14px;
    line-height: 20px;
    @include link-tertiary-to-secondary-bold;

    .mat-icon {
      vertical-align: middle;
    }
  }

  .wrapper-radio-string {
    padding: 10px 0 2px 10px;
    font-size: 15px;
    margin-bottom: 8px;

    ::ng-deep .mat-radio-label {
      white-space: normal;
      margin-bottom: 0;
    }
  }

  .wrapper-radio-shipping {
    padding: 8px 0 8px 10px;

    ::ng-deep .mat-radio-label {
      white-space: normal;
    }
  }
}

.col-billing-button {
  margin-bottom: 12px;

  .row-warning-message {
    .mat-icon {
      color: var(--warning);
    }

    .text-warning-message {
      font-size: 0.85rem;
    }
  }
}
