<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="'Shipping information'|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="order?.items.length; else cardEmptyContent">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 order-2 order-lg-1">
        <mat-card class="bg-grey card-style-one mb-3">
          <mat-card-header [ngClass]="{ 'mb-0': addresses?.length }">
            <mat-card-title>{{'Select shipping address'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <ng-container *ngIf="shippings?.length">
                <div class="col-12 text-right mb-2">
                  <ng-container *ngIf="addresses?.length; else newAddressButton">
                    <a class="address-link d-inline-block px-2 py-1" (click)="createAddress()">
                      <mat-icon>add_location_alt</mat-icon> {{'Create address'|translate}}
                    </a>
                    <a class="address-link d-inline-block px-2 py-1" [routerLink]="['/my-account', 'my-addresses']">
                      <mat-icon>apartment</mat-icon> {{'Manage my addresses'|translate}}
                    </a>
                  </ng-container>
                  <ng-template #newAddressButton>
                    <button mat-flat-button color="accent" class="button-lg" (click)="createAddress()"
                      [disabled]="disabledCreateAddressButton">
                      <mat-icon>add_location_alt</mat-icon> {{'Create address'|translate}}
                    </button>
                  </ng-template>
                </div>
              </ng-container>
              <div class="col-12">
                <mat-radio-group (change)="onChangeAddress($event)" [(ngModel)]="selectedAddress"
                  [disabled]="disabledAddress">
                  <div class="wrapper-radio-string">
                    <mat-radio-button [value]="null" [checked]="!hasAddressDefault">
                      {{'Store pickup'|translate}}
                    </mat-radio-button>
                  </div>
                  <ng-container *ngIf="addresses?.length && shippings?.length">
                    <div *ngFor="let address of addresses" class="wrapper-radio-string">
                      <mat-radio-button [value]="address?.addressId" [checked]="isAddressDefault(address)">
                        <qaroni-address-string [address]="address"></qaroni-address-string>
                      </mat-radio-button>
                      <a (click)="editAddress(address)" class="mat-small pl-2">{{'Edit'|translate}}</a>
                    </div>
                  </ng-container>
                </mat-radio-group>
              </div>
            </div>

          </mat-card-content>
        </mat-card>

        <mat-card class="bg-grey">
          <mat-card-header *ngIf="shippings?.length">
            <mat-card-title>{{'Shipping through'|translate}}:</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <div class="col-12">
                <ng-container *ngIf="shippings?.length; else noShippings">
                  <mat-radio-group (change)="onChangeShipping($event)" [(ngModel)]="selectedShipping"
                    [disabled]="disabledShipping">
                    <div *ngFor="let shipping of shippings" class="wrapper-radio-shipping">
                      <mat-radio-button [value]="shipping?.shippingId">
                        <qaroni-shipping-radio [shipping]="shipping"></qaroni-shipping-radio>
                      </mat-radio-button>
                    </div>
                  </mat-radio-group>
                </ng-container>
                <ng-template #noShippings>
                  {{'We are not currently shipping, but you can buy online and pick up in store'|translate}}.
                </ng-template>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-4 order-1 order-lg-2">
        <qaroni-order-resume-amounts [order]="order">
          <div class="row justify-content-center">
            <div class="col-11 col-sm-7 col-md-8 col-lg-10 col-billing-button">
              <button mat-flat-button color="primary" class="w-100 checkout-button" [disabled]="!validatedBillingButton"
                (click)="onBillingOrder()">
                <mat-icon>receipt</mat-icon>
                {{'Billing'|translate}}
              </button>
            </div>
            <div class="col-12 col-sm-11 col-billing-button" *ngIf="!validatedBillingButton">
              <div class="row align-items-center row-warning-message">
                <div class="col-auto">
                  <mat-icon>warning</mat-icon>
                </div>
                <div class="col text-warning-message">
                  {{'To continue with the selected address, you must choose a shipping method'|translate}}.
                </div>
              </div>
            </div>
          </div>
        </qaroni-order-resume-amounts>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12">
      <qaroni-card-empty-content faIcon="fas fa-shopping-bag" [title]="'shopping-cart-empty-title'|translate"
        [subtitle]="'shopping-cart-empty-subtitle'|translate" [loaded]="initLoaded" actionMatIcon="shopping_basket"
        [actionText]="'Start shopping'|translate" (action)="onStartShopping()">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
