<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <qaroni-page-title [title]="titlePage|translate"></qaroni-page-title>
    </div>
  </div>

  <ng-container *ngIf="licenseCompany; else cardEmptyContent">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7 col-xl-8">

        <form [formGroup]="companyDataForm" (ngSubmit)="onSubmit()">

          <mat-card @enterFadeIn class="bg-grey card-style-one">
            <mat-card-header>
              <mat-card-title>{{titleCard|translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <div class="row">
                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Fiscal name'|translate}}</mat-label>
                    <input matInput formControlName="name" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(name)">
                      <qaroni-input-error-messages [fc]="name"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Tradename'|translate}}</mat-label>
                    <input matInput formControlName="tradename" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(tradename)">
                      <qaroni-input-error-messages [fc]="tradename"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'CIF'|translate}}</mat-label>
                    <input matInput formControlName="cif" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(cif)">
                      <qaroni-input-error-messages [fc]="cif"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Email'|translate}}</mat-label>
                    <input matInput formControlName="email" autocomplete="off" type="email">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(email)">
                      <qaroni-input-error-messages [fc]="email"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Phone'|translate}}</mat-label>
                    <input matInput formControlName="phone" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(phone)">
                      <qaroni-input-error-messages [fc]="phone"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>{{'Other phone'|translate}}</mat-label>
                    <input matInput formControlName="secondaryPhone" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(secondaryPhone)">
                      <qaroni-input-error-messages [fc]="secondaryPhone"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <div class="pb-2">
                    <mat-checkbox formControlName="automaticRenewal" (change)="onChangeRenewal($event)">
                      {{'Automatic renewal'|translate}}
                    </mat-checkbox>
                  </div>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <div class="pb-2">
                    <mat-checkbox formControlName="bankCharge" (change)="onChangeRenewal($event)">
                      {{'Bank charge'|translate}}
                    </mat-checkbox>
                  </div>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>IBAN</mat-label>
                    <input matInput formControlName="iban" autocomplete="off" type="text">
                    <mat-hint>{{'Example'|translate}}: ES7620770024003102575766</mat-hint>
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(iban)">
                      <qaroni-input-error-messages [fc]="iban"
                        [aditionalString]="'IBAN format without spaces'|translate">
                      </qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-company-data-input">
                  <mat-form-field appearance="outline">
                    <mat-label>BIC</mat-label>
                    <input matInput formControlName="bic" autocomplete="off" type="text">
                    <mat-error align="start" *ngIf="InputValidation.checkInputErrors(bic)">
                      <qaroni-input-error-messages [fc]="bic"></qaroni-input-error-messages>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-10 offset-1 col-sm-12 offset-sm-0 col-company-data-input">
                  <div class="mat-small description-label pl-2 mb-2">
                    {{'Description'|translate}} ({{'This information will be public'|translate}})
                  </div>
                  <ckeditor formControlName="description" [editor]="Editor" [config]="configEditor"></ckeditor>
                </div>

              </div>

            </mat-card-content>
            <mat-card-actions align="end">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a (click)="onBack()">
                    {{'Cancel'|translate}}
                  </a>
                </div>
                <div class="col-auto">
                  <button mat-flat-button color="accent" class="button-lg" [disabled]="!validatedForm" type="submit">
                    <mat-icon>save</mat-icon>
                    {{'Save'|translate}}
                  </button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>

      </div>
      <div class="col-12 col-lg-5 col-xl-4">
        <qaroni-license-company-image [licenseCompany]="licenseCompany"></qaroni-license-company-image>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardEmptyContent>
  <div class="row">
    <div class="col-12 mt-5">
      <qaroni-card-empty-content [title]="'You have no information about this license'|translate" [loaded]="initLoaded">
      </qaroni-card-empty-content>
    </div>
  </div>
</ng-template>
