<mat-card class="bg-grey card-style-preview">
  <mat-card-content>
    <div class="row justify-content-end">
      <div class="col-12 col-md-2 mb-3 mb-md-0 text-center">
        <ng-container *ngIf="webinarService.getWebinarImageUrl(webinar)">
          <img [src]="webinarService.getWebinarImageUrl(webinar)" [alt]="webinar?.title" class="preview-image">
        </ng-container>
      </div>
      <div class="col-12 col-sm">
        <div class="title-inside-card-content" [innerHTML]="webinar?.title"></div>
        <div class="description-inside-card-content" [innerHTML]="webinar?.largeDescription"></div>
        <div class="container-dates">
          <qaroni-info-label-value [label]="'Start date'|translate" [value]="webinar?.startDate|date:'medium'">
          </qaroni-info-label-value>
        </div>
      </div>
    </div>
    <div *ngIf="webinar?.transmissionId" class="row justify-content-end row-container-buttons">
      <div class="col-auto mb-3 mb-sm-0">
        <a mat-flat-button color="accent" class="button-lg" [href]="webinar?.transmissionId" target="_blank">
          <mat-icon>launch</mat-icon> {{'See'|translate}}
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
