<footer>
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-12">
        <qaroni-footer-style-three-first></qaroni-footer-style-three-first>
      </div>
      <div class="col-12">
        <qaroni-footer-style-three-bottom></qaroni-footer-style-three-bottom>
      </div>
    </div>
  </div>
</footer>
