<div class="container pt-3 pb-3">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-md">
      <qaroni-page-title [title]="'Events'|translate" titleClass="secondary"></qaroni-page-title>
    </div>
    <div class="col-12 col-md-auto col-title-links mb-4 mb-md-0">
      <a class="title-link" [routerLink]="['/events']">
        <i class="fas fa-plus"></i>
        {{'See all events'|translate}}
      </a>
    </div>
  </div>

  <ng-container *ngIf="(events$|async) as events; else cardLoadingContent">
    <div class="row">
      <div *ngFor="let event of events" class="col-12 col-md-6 col-lg-4 mb-3">
        <qaroni-events-preview-one @enterFadeIn [event]="event"></qaroni-events-preview-one>
      </div>
    </div>
  </ng-container>

</div>

<ng-template #cardLoadingContent>
  <qaroni-card-loading-content></qaroni-card-loading-content>
</ng-template>
