<ng-container *ngIf="order && orderAmountAllowCofidis && (cofidisCalculator$|async) as calculatorUrl">
  <ng-container *ngIf="calculatorUrl">
    <mat-card class="card-cofidis-calculator bg-grey mb-3 mb-lg-0">
      <mat-card-header>
        <mat-card-title>
          {{'Calculate financing with Cofidis'|translate}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row justify-content-center">
          <div class="col-auto">
            <a mat-flat-button color="cofidis" class="button-lg" [href]="calculatorUrl" target="_blank">
              {{'Calculate financing'|translate}}
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>
